.footer{
	background: url('../assets/img/bg-foot.jpg') repeat center center;
	.home-style1 &{
		margin-top: -65px; position: relative;
	}
	>.container >p{
		display: none;
	}
	.footer-style1{
		padding-top: 50px;
		.home-style1 &{
			padding-top: 113px;
		}
		.widget_nav_menu{
			padding: 30px 0;
			.widgettitle{
				font-size: 18px; text-transform:uppercase; font-weight: 600; color: #fff; margin-bottom: 24px;
			}
			ul{
				li{
					position: relative; color: #ddd; padding-left: 15px;
					.rtl &{
						padding-left: 0; padding-right: 15px;
					}
					&:before{
						content: '\f111'; font-family: FontAwesome; font-size: 5px; position: absolute; top: 50%; left: 0; margin-top: -3px;
						.rtl &{
							left: auto; right: 0;
						}
					}
					a{
						text-transform: capitalize; line-height: 26px; color: #ddd; padding: 3px 0; display: block; .transition(all 0.3s);
						&:hover{
							color: @color; .transition(all 0.3s);
						}
					}
				}
			}
		}
		.wpb_gallery {
			padding: 30px 0;
			.wpb_heading {
				font-size: 18px; text-transform:uppercase; font-weight: 600; color: #fff; margin-bottom: 35px;
			}
		}
		&.style7{
			background: #111; padding-top: 60px;
			.widget_nav_menu {
				padding-top: 0;
				.widgettitle{
					color: @color; position: relative; padding-bottom: 10px;
					&:before{
						content:""; width: 60px; background: rgba(255, 255, 255, 0.2); position: absolute; height: 2px; bottom: -8px; left: 0;
						.rtl &{
							left: auto; right: 0;
						}
					}
				}
				ul li a{
					font-size: 12px; color: #ccc;
					&:hover{
						color: @color;
					}
				}
			}
			.wpb_single_image{
				margin-bottom: 10px;
				&.vc_align_left{
					.rtl &{
						text-align: right;
					}
				}
			}
			.about-store{
				padding: 0;
			}
			.foot7-store{
				margin: 0px 0 10px 0;
			}
		}
		&.style8{
			background: #fff; padding-top: 60px;
			.widget_nav_menu {
				padding-top: 0;
				.widgettitle{
					color: @body-color; position: relative;
				}
				ul li {
					padding-left: 0;
					.rtl &{
						padding-right: 0;
					}
					&:before{
						display: none;
					}
					a{
						font-size: 14px; color: #666;
						&:hover{
							color: @color;
						}
					}
				}
			}
			.about-store{
				padding: 0; margin-bottom: 15px;
				.widgettitle{
					color: @body-color; position: relative;
				}
				ul.about-list li{
					color: #666;
					.ab-pd{
						color: #666;
					}
				}
			}
			.socials-footer4{
				margin-bottom: 20px;
				ul{
					margin: 0; list-style: none;
					li{
						display: inline-block; vertical-align: top; list-style: none; margin-right: 5px;
						.rtl &{
							margin-left: 5px; margin-right: 0;
						}
						a{
							color: @body-color; width: 35px; height: 35px; display: inline-block; border: 1px #ccc solid;
							text-align: center; line-height: 35px; vertical-align:top; margin-bottom: 5px; .transition(all 0.3s);
							&:hover{
								background: @color; color:#fff; .transition(all 0.3s);
							}
						}
					}
				}
			}
		}
		&.style9{
			background: #f5f5f5;
			.widget_nav_menu {
				padding-top: 0;
				.widgettitle{
					color: @body-color; position: relative;
				}
				ul li {
					padding-left: 0;
					.rtl &{
						padding-right: 0;
					}
					&:before{
						display: none;
					}
					a{
						font-size: 14px; color: #666;
						&:hover{
							color: @color;
						}
					}
				}
			}
			.wpb_raw_html{
				margin-bottom: 15px;
			}
			.wpb_single_image{
				margin-bottom: 30px;
				&.vc_align_left{
					.rtl &{
						text-align: right;
					}
				}
			}
			.wpb_image_grid .wpb_image_grid_ul .isotope-item{
				.rtl &{
					right:0; float: right;
				}
			}
			.about-store{
				padding: 0; margin-bottom: 15px;
				.widgettitle{
					color: @body-color; position: relative;
				}
				ul.about-list li{
					color: #666;
					.ab-pd{
						color: #666;
					}
				}
			}
			.wpb_gallery{
				padding-top:0;
			}
		}
	}	
	.footer-style2{
		background: #fff; padding-top: 30px; border-top: 1px @border-color solid;
		.home-style1 &, .home-style2 &, .home-style3 &, .home-style4 &, .home-style5 &,
		.home-style6 &, .home-style7 &, .home-style8 &, .home-style9 &, .home-style10 &{
			border-top: none;
		}
		.wpb_single_image, .vc_wp_custommenu{
			margin-bottom: 28px;
		}
		.wpb_raw_code{
			margin-bottom: 24px;
		}
		.socials-footer2{
			padding: 0 15%; text-align: center; border-bottom: 1px #ddd solid;
			p{
				font-size: 12px; color: #545454; line-height: 23px;
			}
			ul{
				margin: 20px 0 24px 0; list-style: none;
				li{
					display: inline-block; vertical-align: top;
					a{
						color: #333;  padding: 5px 15px; font-size: 18px; display: inline-block; vertical-align: top; .transition(all 0.3s);
						&:hover{
							color: @color; .transition(all 0.3s);
						}
					}
				}
			}
		}
		.widget_nav_menu{
			text-align: center;
			ul{
				li{
					display: inline-block; vertical-align: top;
					a{
						font-size: 14px; color: @body-color; text-transform: uppercase; .transition(all 0.3s); padding: 0 20px;
						&:hover{
							color: @color; .transition(all 0.3s);
						}
					}
				}
			}
		}
	}
	.footer-copyright{
		padding: 15px 0;
		p{
			color: #eee; margin: 10px 0;
			a{
				color: @color; text-decoration: underline; .transition(all 0.3s);
				&:hover{
					color: darken(@color, 10%); .transition(all 0.3s);
				}
			}
		}
		.widget{
			margin-bottom: 0;
		}
		.copyright-text{
			float: left;
			.rtl &{
				float: right;
			}
		}
		.sidebar-copyright{
			float: right; padding-top: 8px;
			img{
				margin-bottom: 0; width: auto;
			}
			.rtl &{
				float: left;
			}
		}
		&.style1{
			background: #fff;
			.copyright-text{
				float: none; text-align: center;
				p{
					color: #666; font-size:12px;
				}
			}
			.sidebar-copyright{
				display: none;
			}
		}
		&.style2{
			background: #222;
		}
		&.style3{
			background: #fff;
			.copyright-text{
				p{
					color: #666;
				}
			}
		}
		&.style4{
			display: none;
		}
		&.style5{
			background: #333;
			.copyright-text{
				float: none; text-align: center;
				p{
					color: #fff;
				}
			}
			.sidebar-copyright{
				float: none;
				img{
					margin: 0 auto;
				}
			}
		}
		&.style6{
			background: #111;
			.copyright-text{
				float: none; text-align: center;
				p{
					color: #fff;
				}
			}
			.sidebar-copyright{
				display: none;
			}
		}
	}
	.about-store{
		padding: 30px 0;
		h2{
			font-size: 18px; text-transform:uppercase; font-weight: 600; color: #fff; margin-bottom: 23px;
		}
		ul.about-list {
			list-style: none; margin: 0;
			li {
				padding: 10px 0; color: #ddd;
				i {
					font-size: 16px; margin-right: 20px; float: left; line-height: 20px;
					&.fa-envelope {
						font-size: 13px;
					}
					.rtl &{
						margin-right: 0; margin-left: 20px; float: right;
					}
				}
				.ab-pd {
					line-height: 20px; overflow: hidden; display: block; color: #ddd;
				}
			}
			li.call-mail{
				a{
					color: @color;
					&:hover{color:darken(@color,10%);}
				}
			}
		}
	}
}
.footer-style1-bot{
	background: rgba(0,0,0,0.7); color: #fff;
	&.style7{
		background: #1d1d1d;
		.newsletter-footer {
			margin-top: 35px;
			.content-wrap{
				h3{
					text-transform: uppercase; color: #fff;
				}
				.form-newsletter{
					button[type="submit"], input[type="email"]{
						background: #111;
					}
					input[type="email"]{
						font-size: 12px;
					}
				}
			}
		}
		.socials-footer ul {
			margin: 30px 0;
			li a{
				background: #4a4a4a;
				&:hover{
					background: @color;
				}
			}
		}
		.wpb_text_column {
			margin-bottom: 30px;
		}
	}
}
.newsletter-footer{
	margin-top: 60px;
	.content-wrap{
		h3{
			font-size: 18px;color: #ddd; font-weight: 600; float: left; margin-right: 50px; line-height: 40px;
			.rtl &{
				float: right; margin-right: 0; margin-left: 50px;
			}
		}
		.form-newsletter{
			.mc4wp-form-fields{
				overflow: hidden;
			}
			input[type="email"]{
				border:0; color:#999; width: 85%; background: #1c1c1c;
				height:40px; padding: 0 20px; border-radius: 20px 0 0 20px; float: left;
				.rtl &{
					border-radius: 0 20px 20px 0; float: right;
				}
			}
			button[type="submit"]{
				border:0; padding: 0 15px; width: 15%; background: #1c1c1c;
				height:40px; line-height: 40px;	color:#fff;	text-transform:uppercase; text-align: center;
				font-weight:500; border-radius: 0 20px 20px 0; float: left; font-size: 0;
				.rtl &{
					border-radius: 20px 0 0 20px; float: right;
				}
				&:before{
					font-size: 14px;
				}
				&:hover{
					color:@color;
				}
			}
			.mc4wp-success{
				color: @body-color;
			}
		}
	}
}
.socials-footer{
	text-align: right;
	.rtl &{
		text-align: left;
	}
	ul{
		margin: 60px 0; list-style: none; 
		li{
			display: inline-block; vertical-align: top;
			a{
				color: #ddd; background: #1c1c1c; border-radius:50%; height: 45px; line-height: 45px; width: 45px; font-size: 18px; text-align: center;
				display: inline-block; vertical-align: top; margin: 0 3px; .transition(all 0.3s);
				&:hover{
					color: #fff; background: @color; .transition(all 0.3s);
				}
			}
		}
	}
}
.footer-style3{
	background: #F5F5F5;
	.info-footer{
		background: #F9F9F9; padding: 65px 20px 62px 20px;

		h3{
			font-size:18px;	color:#333;	text-transform:uppercase;position: relative; margin-bottom: 55px; font-weight: 600;
			&:before{
				content: ""; background: @color; width: 40px; height: 2px;position: absolute; bottom: -20px; left: 0;
				.rtl &{
					left: auto; right: 0;
				}
			}
		}
		ul{
			list-style: none; margin: 0; font-size: 14px;
			li{
				overflow: hidden; color: #777; margin-bottom: 7px;
				a{
					color: #777;
					&:hover{
						color: @color;
					}
				}
				i{
					float: left; width: 30px; height: 30px; text-align: center; line-height: 30px; background: #888; color: #fff;
					border-radius: 2px; font-size: 18px; margin: 2px 10px 10px 0; font-weight: normal; border: 1px rgba(255, 255, 255, 0.4) solid;
					.rtl &{
						float: right; margin: 2px 0 10px 10px;
					}
					&:hover{
						background: @color;
					}
				}
				.inner{
					line-height: 18px; overflow: hidden;
				}
				&.email{
					i{
						font-size: 13px;
					}
					.inner{
						padding-top: 8px;
					}
				}
				&.phone{
					i{
						font-size: 22px; margin-bottom: 0;
					}
				}
			}
		}
	}
	.widget_nav_menu{
		padding-top: 65px;
		.widgettitle{
			font-size:18px;	color:#333;	text-transform:uppercase; position: relative; margin-bottom: 38px; font-weight: 600;
			&:before{
				content: ""; background: @color; width: 40px; height: 2px;position: absolute; bottom: -20px; left: 0;
				.rtl &{
					left: auto; right: 0;
				}
			}
		}
		ul.menu{
			> li{
				> a{
					color:#777;
					text-transform:capitalize;
					font-size:14px;
					position:relative;
					padding:8px 0px;
					position:relative;
					.transition(all 0.3s);
					display:block;
					vertical-align:top;
					position: relative;
					&:hover{
						color:@color;
						padding-left:12px;
						.rtl &{
							padding-right:12px;
							padding-left:0;
						}
						&:before{
							content:'\f111';
							font-family:FontAwesome;
							font-size: 5px;
							position: absolute; top:50%; left: 0; margin-top: -3px;
							.rtl &{
								left: auto; right: 0;
							}
						}
					}
				}
			}
		}
	}
	&.style4{
		background: #222;
		.info-footer{
			background: #181818;
			h3{
				color: #fff;
			}
			ul li{
				color: #bbb;
				a{
					color: #bbb;
					&:hover{
						color: @color;
					}
				}
				i{
					background: #111;
					&:hover{
						background: @color;
					}
				}
			}
		}
		.widget_nav_menu {
			.widgettitle{
				color: #fff;				
			}
			ul.menu > li > a{
				color: #bbb;
				&:hover{
					color: @color;
				}
			}
		}
	}
}
.footer-contact1, .footer-contact2{
	width: 34%;
	.wpb_raw_html{
		margin-bottom: 0;
	}
}
.footer-menu1{
	width: 22%;
	.wpb_content_element{
		margin-bottom: 0;
	}
}
.footer-menu2{
	width: 66%;
	.wpb_content_element{
		margin-bottom: 0;
	}
}
.newsletter-footer2{
	overflow:hidden; padding: 22px 0;
	.newsletter-footer-top{
		float: left; position: relative;
		.rtl &{
			float: right;
		}
		.icon{
			background: url(../assets/img/icon-news.png) no-repeat center center;
			content: "";
			float: left;
			height: 52px;
			width: 52px;
			margin-right: 10px;
			.rtl &{
				float: right; margin-left: 10px; margin-right: 0;
			}
		}
		.info{
			overflow: hidden; margin-top: 10px;
			h3{
				color: #fff;text-transform:uppercase; font-size: 16px; margin-bottom: 0;
			}
			p{
				font-size:24px;color: #fff;text-transform:uppercase; font-weight: 600; margin-bottom: 0; line-height: 26px;
			}
		}
	}
	.form-newsletter{
		float: right; margin-top: 7px;
		.rtl &{
			float: left;
		}
		input{
			margin:0; display: inline-block; vertical-align: top;
		}
		input[type="email"]{
			border:0;
			color:#aaa;
			height:44px;
			padding:0 16px;
			min-width:394px;
			margin-right: 5px;
			.rtl &{
				margin-right: 0; margin-left: 5px;
			}
		}
		.frm-submit{
			border:0;
			background-color:@color;
			height:44px;
			color:#fff;
			text-transform:uppercase;
			font-size:12px;
			padding:0 19px;
			.border-radius(4px);
			line-height:45px; .transition(all 0.3s);
			&:hover{
				background-color: darken(@color, 10%); .transition(all 0.3s);
			}
			&:before{
				display: none;
			}
		}
	}
}
.footer-news1{
	background: #181818;
	.socials-footer3{
		background: #111; padding: 32px 15px;
		ul{
			margin: 0; list-style: none; text-align: center;
			li{
				display: inline-block; vertical-align: top; list-style: none; margin-right: 5px;
				.rtl &{
					margin-left: 5px; margin-right: 0;
				}
				a{
					background: #444; color: #fff; width: 40px; height: 40px; .border-radius(4px); display: inline-block; text-align: center; line-height: 40px; .transition(all 0.3s);
					&:hover{
						background: @color; .transition(all 0.3s);
					}
				}
			}
		}
	}
}
.footer-style5{
	background: url('../assets/img/bg-foot2.jpg') repeat center center; padding-top: 70px; color: #fff;
	text-align: center; padding-bottom: 40px; background-size: cover;
	.foot-des{
		max-width: 1290px; margin: 0 auto;
		.des{
			line-height: 26px; margin-bottom: 51px;
		}
		.contac{
			list-style: none; margin: 0 0 30px 0; border: 1px rgba(255,255,255,0.2) solid; overflow: hidden; padding: 20px 0;
			li{
				display: inline-block; vertical-align: top; font-size: 12px; width: 33%; float: left;
				.rtl &{
					float: right;
				}
				a{
					color: #fff; .transition(all 0.3s); font-size: 12px;
					&:hover{
						color: @color; .transition(all 0.3s);
					}
				}
				i{
					padding: 0 5px; font-size: 16px;
				}
			}
		}
	}
	.wpb_single_image {
		margin-bottom: 28px;
	}
	.copyright{
		max-width: 1290px; margin: 0 auto;
		.cop-left{
			font-size: 12px; margin-bottom: 15px;
			a{
				color: @color;
				&:hover{
					color: #fff;
				}
			}
		}
		span{
			img{
				width:auto; margin: 0 auto;
			}
		}
	}
}
.footer-style6-top{
	background: #f0f0f0; padding: 17px 0 5px 0;
	.wpb_content_element {
		margin-bottom: 0;
	}
	.newsletter-footer4{
		.content-wrap{
			h3{
				font-size: 16px; color: @body-color; font-weight: 600; float: left; margin-right: 40px; line-height: 40px; text-transform: uppercase;
				.rtl &{
					margin-right: 0; margin-left: 40px; float: right;
				}
			}
			.form-newsletter{
				.mc4wp-form-fields{
					overflow: hidden;
				}
				input[type="email"]{
					border:0; color:#999; width: 85%; background: #fff; border: 2px @color solid; margin-bottom: 0; font-size: 12px;
					height:38px; padding: 0 20px; border-radius: 4px 0 0 4px; float: left;
					.rtl &{
						border-radius: 0 4px 4px 0; float: right;
					}
				}
				button[type="submit"]{
					border:0; padding: 0 15px; width: 15%; background: @color; border: 2px @color solid;
					height:38px; line-height: 38px;	color:#fff;	text-transform:uppercase; text-align: center;
					font-weight:500; border-radius: 0 4px 4px 0; float: left; font-size: 0; .transition(all 0.3s);
					.rtl &{
						border-radius: 4px 0 0 4px; float: right;
					}
					&:before{
						font-size: 14px;
					}
					&:hover{
						color:@body-color; .transition(all 0.3s);
					}
				}
				.mc4wp-success{
					color: @color;
				}
			}
		}
	}
	.socials-footer{
		text-align: right;
		.rtl &{
			text-align: left;
		}
		h3{
			font-size: 16px; color: @body-color; font-weight: 600; margin-right: 20px; line-height: 40px; display: inline-block; vertical-align: top; text-transform: uppercase;
			.rtl &{
				margin-right: 0; margin-left: 20px;
			}
		}
		ul{
			display: inline-block; vertical-align: top; margin: 0;
			li{
				a{
					width: 35px; height: 35px; line-height: 35px; background: @color; color: #fff;
					&:hover{
						color: @body-color;
					}
				}
			}
		}
	}
}
.footer-style6{
	background: #fff; color: #999; padding-top: 20px;
	.wpb_content_element{
		margin-bottom: 10px;
	}
	.widget_nav_menu{
		padding: 30px 0;
		.widgettitle{
			font-size: 16px; text-transform:uppercase; font-weight: 600; color: @body-color; margin-bottom: 24px;
		}
		ul{
			li{
				position: relative; color: #666; padding-left: 15px;
				.rtl &{
					padding-left: 0; padding-right: 15px;
				}
				&:before{
					content: '\f105'; font-family: FontAwesome; font-size: 14px; position: absolute; top: 11px; left: 0; margin-top: -3px;
					.rtl &{
						left: auto; right: 0; content: '\f104';
					}
				}
				a{
					text-transform: capitalize; line-height: 26px; color: #666; padding: 3px 0; display: block; .transition(all 0.3s);
					&:hover{
						color: @color; padding-left: 6px; .transition(all 0.3s);
						.rtl &{
							padding-left: 0; padding-right: 6px;
						}
					}
				}
			}
		}
	}
	.about-store{
		padding: 30px 0;
		h2{
			color: @body-color; font-size: 16px;
		}
		ul.about-list {
			list-style: none; margin: 0;
			li {
				padding: 10px 0; color: #666;
				i {
					font-size: 16px; margin-right: 20px; float: left; line-height: 20px;
					&.fa-envelope {
						font-size: 13px;
					}
					.rtl &{
						margin-right: 0; margin-left: 20px; float: right;
					}
				}
				.ab-pd {
					line-height: 20px; overflow: hidden; display: block; color: #666;
				}
			}
			li.call-mail{
				a{
					color: @color;
					&:hover{color:darken(@color,10%);}
				}
			}
		}
	}
	.menu-bot{
		text-align: center; border-top: 1px @border-color solid; color: #666;
		.widget_nav_menu{
			padding-bottom: 0;
		}
		.vc_wp_custommenu{
			margin-bottom: 10px;
		}
		.wpb_content_element.wpb_raw_html{
			margin-bottom: 30px;
		}
		ul li{
			display: inline-block; vertical-align: top;
			&:before{
				display: none;
			}
			a{
				color: @body-color; text-transform: uppercase; padding: 0 10px; font-weight: 600;
				&:hover{
					padding: 0 10px;
				}
			}
			.menu-img{
				display: none;
			}
		}
	}
}
#autusin-totop {
	background-color: @color;
	bottom: 30px; right: 15px;
	text-align: center; position: fixed;
	height: 50px; width: 50px; line-height: 43px;
	z-index: 99; border: 4px transparent solid;
	.opacity(1);
	.border-radius(4px);
	.transition(all .3s);
	.rotate(-90deg);
	&:before{
		content: '\f197'; font-family: fontawesome; color: #fff; font-size: 20px;
	}
	&:hover {
		background: darken(@color, 10%);
	}
	.rtl & {
		right: auto;
		left: 15px;
	}
}