/* ================================================================== */
/* ================================================================== */
.item {
	.item-wrap {
		background-color: #fff;	text-align: center; margin-bottom: 30px;
		.item-detail {
			position: relative;  overflow: hidden; border: 1px @border-color solid; .transition(all 0.3s);
			&:before {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				background-color: rgba(0,0,0,0.1);
				pointer-events: none;
				z-index: 1;
				content: "";
				.opacity(0);
				.transition(all .5s);
			}
			.onsale{
				display: none;
			}
			.products-thumb{
				position: relative; overflow: hidden;
				a img{
					width: 100%;
				}
				.item-countdown{
					position: absolute; left: 0; bottom: -70px; width: 100%; .transition(all 0.3s);
					.rtl &{
						left: auto; right: 0;
					}
					.countdown-row{
						.countdown-section{
							display: inline-block; width: 25%; background: #eee; padding: 8px 0; border: 1px #e1e1e1 solid; border-width: 0 1px; 
							span{
								display: block;
							}
							.countdown-amount{
								font-size: 20px; color: #1c1c1c;
							}
							.countdown-period{
								font-size: 10px; color: #7a7a7a;
							}
						}
					}
				}
			}
			.item-content {
				padding: 1px 5px 19px 5px;
				display: inline-block;
				width: 100%;
				vertical-align: top;
				h4 {
					margin: 10px 0;									
					a {
						font-size: 14px; color: @body-color;
						text-transform: capitalize;
						position: relative;
						z-index: 2;
						display: block;
						.transition(all 0.3s);
						&:hover{
							color: @color; .transition(all 0.3s);
						}
					}
				}
				.item-price {
					font-size: 18px;
					float: none;
					position: relative;
					z-index: 2;
					.transition(all .5s);
					del{
						color: #999; margin-top: 5px;
						text-decoration: line-through;
					}
				}
				.item-bottom {
					position: absolute;
					font-size: 15px;
					top: 50%;
					right: 0;
					left: 0;
					z-index: 2;
					.translateY(-50%);
					.opacity(0);
					.clear {
						display: none;
					}
					.add_to_cart_button,
					.product_type_external,
					.product_type_grouped  {
						.transition(all .3s);
						&:before {
							content: "\f067";
						}
						&.loading {
							background-color: @color;
							.opacity(0.75);
							&:before {
								text-align: center;
								left: 0;
								background-color: @color;
							}
						}
						&.added {
							background-color: @color;
							&:before {
								color: #fff;
							}
						}
					}
					.yith-wcwl-add-to-wishlist {
						margin: 0;
						.yith-wcwl-add-button,
						.yith-wcwl-wishlistaddedbrowse,
						.yith-wcwl-wishlistexistsbrowse {		
							position: relative;
							a { 
								.transition(all .4s);
								&:before {
									content: "\f004";
								}
							}
							&.show {
								display: inline-block !important;
								vertical-align: top;
							}
							.feedback {
								display: none;
							}
							.ajax-loading {
								position: absolute;
								left: 0;
								right: 0;
								top: 0;
								bottom: 0;
								margin: auto;
							}
						}
					}
					.compare-button a {
						.transition(all .5s);
						&:before {
							content: "\f074";
						}
					}
					.sw-quickview {
						.transition(all .6s);
						&:before {
							content: "\f002";
						}
					}					
					.add_to_cart_button,
					.product_type_external,
					.product_type_grouped,
					.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
					.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
					.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
					.compare-button a,
					.sw-quickview {
						color: #fff;
						font-weight: 500;
						height: 50px;
						line-height: 50px;
						padding: 0;
						background-color: #fff;
						display: inline-block;
						vertical-align: top;
						overflow: hidden;
						position: relative;
						font-size: 0;
						min-width: 50px;
						margin: 5px 3px;
						.translateY(60px);
						.border-radius(50px);
						&:before {
							font-family: fontawesome;
							font-size: 14px;
							color: #111111;										
							position: absolute;
							left: 19px;
							.rtl & {
								left: auto;
								right: 19px;
							}
						}
						&:hover {
							min-width: 50px;
							background-color: @color;
							color: #fff;
							font-size: 0;
							padding: 0;
							&:before {
								color: #fff;
							}
						}
					}
					.add_to_cart_button,
					.product_type_external,
					.product_type_grouped,
					.yith-wcwl-add-to-wishlist,
					.compare-button,
					.sw-quickview {
						display: inline-block;
						vertical-align: top;
					}
					.yith-wcwl-wishlistaddedbrowse.show,
					.yith-wcwl-wishlistexistsbrowse.show {
						a {
							background-color: @color;
							&:before {
								color: #fff;
							}							
						}
					}
				}	
			}	
		}	
		&:hover {
			.products-thumb{
				.item-countdown{
					bottom: 0; .transition(all 0.5s);
				}
			}
			.item-detail {
				.transition(all 0.3s);
				&:before {
					.opacity(1);
				}
				.item-content {
					.item-bottom {
						.opacity(1); 
						.add_to_cart_button,
						.product_type_external,
						.product_type_grouped,
						.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
						.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
						.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
						.compare-button a,
						.sw-quickview {
							.translateY(0);
						}
					}							
				}
			}
		}
	}
	.item-wrap2 {
		background-color: #fff;
		text-align: center;
		.item-detail {
			position: relative; .transition(all 0.3s); overflow: hidden; border: 1px transparent solid;
			.onsale{
				display: none;
			}
			.sale-off{
				display:inline-block; width:54px; line-height:54px; height:54px;
				background: url('../assets/img/icon_sale.png') no-repeat;
			}
			.products-thumb{
				position: relative; overflow: hidden; margin-bottom: 35px;
				a img{
					width: 100%;
				}
				.item-countdown{
					position: absolute; left: 0; bottom: -70px; width: 100%; .transition(all 0.3s);
					.rtl &{
						left: auto; right: 0;
					}
					.countdown-row{
						.countdown-section{
							display: inline-block; width: 25%; background: #eee; padding: 8px 0; border: 1px #e1e1e1 solid; border-width: 0 1px; 
							span{
								display: block;
							}
							.countdown-amount{
								font-size: 20px; color: #1c1c1c;
							}
							.countdown-period{
								font-size: 10px; color: #7a7a7a;
							}
						}
					}
				}
			}
			.item-content {
				padding: 0px 10px 30px;
				display: inline-block;
				width: 100%;
				vertical-align: top;
				h4 {
					margin: 20px 0 25px 0;									
					a {
						font-size: 18px;
						color: #262e31;
						text-transform: capitalize;
						position: relative;
						z-index: 2;
						display: block;
						.transition(all .5s);
						&:after{
							content: "";
							background: #e7edf0;
							height: 1px;
							width: 30px;
							position: absolute;
							bottom: -15px;
							left: 50%; 
							margin-left: -15px;
							.rtl &{
								left: auto; right: 50%; margin-right: -15px; margin-left: 0;
							}
						}
						&:hover{color: @color;}
					}
				}
				.item-price {
					font-size: 20px;
					float: none;
					position: relative;
					z-index: 2;
					.transition(all .5s);
					del{
						font-size: 14px;
						color: #98a4a9; margin-top: 5px;
						text-decoration: line-through;
					}
				}
				.reviews-content {
					float: right;
					line-height: 13px;
					padding: 8px 0;
					position: relative;
					z-index: 2;
					width: 100%;
					.rtl &{
						float: left;
					}
				}
				.item-bottom {
					position: absolute;
					font-size: 15px;
					top: 15px; bottom: auto;
					right: 20px;
					z-index: 2;
					.opacity(0);
					.rtl &{
						right: auto; left: 20px;
					}
					.clear {
						display: none;
					}
					a.ajax_add_to_cart,
					.add_to_cart_button,
					.product_type_external,
					.product_type_grouped  {
						background: @body-color url('../assets/img/icon_cart.png') center center no-repeat !important;
						.transition(all .3s);
						&.loading {
							background-color: @color;
							.opacity(0.75);
							&:before {
								text-align: center;
								left: 0;
								background-color: @color;
							}
						}
						&.added {
							background-color: @color;
							&:before {
								color: #fff;
							}
						}
					}
					.yith-wcwl-add-to-wishlist {
						margin: 0;
						.yith-wcwl-add-button,
						.yith-wcwl-wishlistaddedbrowse,
						.yith-wcwl-wishlistexistsbrowse {		
							position: relative;
							a { 
								.transition(all .4s);
								&:before {
									content: "\f004";
								}
							}
							&.show {
								display: inline-block !important;
								vertical-align: top;
							}
							.feedback {
								display: none;
							}
							.ajax-loading {
								position: absolute;
								left: 0;
								right: 0;
								top: 0;
								bottom: 0;
								margin: auto;
							}
						}
					}
					.compare-button a{
						.transition(all .5s);
						&:before {
							content: "\f0ec";
						}
					}
					.sw-quickview {
						.transition(all .6s);
						&:before {
							content: "\f002";
						}
					}
					a.ajax_add_to_cart,					
					.add_to_cart_button,
					.product_type_external,
					.product_type_grouped,
					.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
					.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
					.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
					.compare-button a,
					.sw-quickview {
						color: #fff;
						font-weight: 500;
						height: 50px;
						line-height: 50px;
						padding: 0;
						background-color: @body-color;
						display: inline-block;
						vertical-align: top;
						overflow: hidden;
						position: relative;
						font-size: 0;
						min-width: 50px;
						margin: 5px 0;
						.translateY(60px);
						.border-radius(50px);
						&:before {
							font-family: fontawesome;
							font-size: 14px;
							color: #111111;										
							position: absolute;
							left: 18px;
							.rtl & {
								left: auto;
								right: 18px;
							}
						}
						&:hover {
							min-width: 50px;
							background-color: @color !important;
							color: #fff;
							font-size: 0;
							padding: 0;
							&:before {
								color: #fff;
							}
						}
					}
					a.ajax_add_to_cart,
					.add_to_cart_button,
					.product_type_external,
					.product_type_grouped,
					.yith-wcwl-add-to-wishlist,
					.compare-button a,
					.sw-quickview {
						vertical-align: top;
					}
					.yith-wcwl-wishlistaddedbrowse.show,
					.yith-wcwl-wishlistexistsbrowse.show {
						a {
							background: @body-color !important;
							&:before {
								color: #fff;
							}							
						}
					}
				}	
			}	
		}	
		&:hover {
			.products-thumb{
				.item-countdown{
					bottom: 0; .transition(all 0.5s);
				}
			}
			.item-detail {
				border: 1px @color solid; .transition(all 0.3s);
				.item-content {
					.item-bottom {
						.opacity(1); 
						a.ajax_add_to_cart,
						.add_to_cart_button,
						.product_type_external,
						.product_type_grouped,
						.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
						.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
						.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
						.compare-button a,
						.sw-quickview {
							background: @body-color; .translateY(0);
							&:before{color: #fff;}
						}
					}								
				}
			}
		}
	}
	.item-wrap3 {
		background-color: #fff;
		text-align: center;
		padding:0;
		.item-detail {
			position: relative;	overflow: hidden;
			.products-thumb{
				position:relative; overflow: hidden; margin-bottom: 15px;
				.onsale {
					display: none;
				}
				.sale-off {
					background: @color;
				}
				a .product-thumb-hover{
					padding: 5px;
					img{
						margin: 0 auto; width: 100%;
					}
				}
				> a{
					&:before{
						content: ""; position: absolute; left: 0; right: 0; top:0; bottom: 0; background: @body-color; .opacity(0);
					}
				}
				.top-item{
					position: absolute;	bottom: 56px; right: 10px;
					.rtl &{
						right: auto; left: 10px;
					}
					.sw-quickview{
						text-align:center;
						color: @body-color;
						font-weight: 500;
						height: 40px;
						line-height: 40px;
						padding: 0;
						background-color: #fff;
						display: inline-block;
						vertical-align: top;
						font-size: 0;
						opacity:0;
						min-width: 40px;
						.translateY(-40px);
						.border-radius(4px);
						.transition(all .3s);
						position:absolute;
						bottom: -48px; right: 0;
						z-index: 9;
						&:before {
							font-family: fontawesome;
							font-size: 12px;
							content:'\f06e';	
						}
						&:hover {
							background-color: @color; color: #fff;
						}
					}
					.yith-wcwl-add-to-wishlist {
						.yith-wcwl-add-button,
						.yith-wcwl-wishlistaddedbrowse,
						.yith-wcwl-wishlistexistsbrowse {		
							position: relative; margin-bottom: 8px;
							a { 
								.transition(all .4s);
								&:before {
									content: "\f004";
								}
							}
							&.show {
								display: inline-block !important;
								vertical-align: top;
							}
							.feedback {
								display: none;
							}
							.ajax-loading {
								position: absolute; z-index: 9;
								left: 0;
								right: 0;
								top: 0;
								bottom: 0;
								margin: auto;
							}
						}
					}
					a.compare{
						.transition(all .5s);
						&:before {
							font-size:13px;
							content: "\f021";
						}
					}					
					.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
					.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
					.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
					a.compare{
						text-align:center;
						color: @body-color;
						font-weight: 500;
						height: 40px;
						line-height: 40px;
						padding: 0;
						background-color: #fff;
						display: inline-block;
						vertical-align: top;
						overflow: hidden;
						position: relative;
						font-size: 0;
						min-width: 40px;
						margin: 0;
						z-index: 9;
						.opacity(0);
						visibility: hidden;
						.translateY(-40px);
						.border-radius(4px);
						&:before {
							font-family: fontawesome;
							font-size: 12px;									
						}
						&:hover {
							min-width: 40px;
							background-color: @color;;
							font-size: 0;
							padding: 0;
							&:before {
								color: #fff;
							}
						}
					}
					.add_to_cart_button,
					.product_type_external,
					.product_type_grouped,
					.yith-wcwl-add-to-wishlist,
					a.compare,
					.sw-quickview {
						display: inline-block;
						vertical-align: top;
					}
					.yith-wcwl-wishlistaddedbrowse.show,
					.yith-wcwl-wishlistexistsbrowse.show {
						a {
							background-color: @color;
							&:before {
								color: #fff;
							}							
						}
					}
				}
				a{
					display: block;
				}
			}
			.item-content, 
			.item-img {
				padding: 0;
				vertical-align: top;
				>a >img{
					width: 100%;
				}
				h4 {
					margin: 10px 0;									
					a {
						font-size: 14px; font-weight: normal;
						color: @body-color;
						text-transform: capitalize;
						position: relative;
						z-index: 2;
						.transition(all .3s);
					}
				}
				.item-price {
					font-size: 16px;
					float: none;
					position: relative;
					z-index: 2;
					display:inline-block;
					vertical-align:top;
					margin-bottom: 14px;
					del{
						font-size:12px; color: #999;
					}
				}
				.reviews-content {
					line-height: 12px; margin-bottom: 7px;
					position: relative;
					z-index: 2;
				}
				.item-bottom {
					font-size: 12px;
					z-index: 2;
					.clear {
						display: none;
					}					
					.button,
					a.ajax_add_to_cart,
					.add_to_cart_button,
					.product_type_external,
					.product_type_variable,
					.product_type_grouped{
						display: inline-block; vertical-align: top; height: 35px; line-height: 35px; position: relative; padding: 0 15px 0 30px; border: 1px @border-color solid; .transition(all 0.3s ease);
						font-weight: bold; text-transform: uppercase; background: #fff; border-radius: 4px;
						.rtl &{
							padding: 0 30px 0 15px;
						}
						&:before{
							position: absolute;
							content: "";
							display: block;
							background: url(../assets/img/btn-cart.png) no-repeat;
							height: 32px;
							width: 30px;
							left: 0;
							top: 0;
							background-position: -30px center; .transition(all 0.3s ease);
							.rtl &{
								left: auto; right: 0;
							}
						}
						&.loading{
							&:before{
								background: url(../assets/img/wpspin_light.gif) no-repeat center center;
								height: 32px;
								width: 30px;
								content: "";
								position: absolute;
							}
							&:after{ display: none;}
						}
						&.added{
							&:before{
								background: url(../assets/img/bg-choose.png) no-repeat center center;
								height: 32px;
								width: 30px;
								content: "";
								position: absolute;
							}
							&:after{ display: none;}
						}
					}
				}	
			}	
		}	
		&:hover {
			.item-detail {
				.products-thumb{
					> a{
						&:before{
							content: ""; position: absolute; left: 0; right: 0; top:0; bottom: 0; background: @body-color; .opacity(0.2);
						}
					}
					.top-item{
						.sw-quickview{
							opacity:1;
							.translateY(0);
						}
						.opacity(1); 
						.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
						.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
						.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
						a.compare{
							.translateY(0); .opacity(1); visibility: visible;
						}
					}
				}
				.item-content {
					.item-bottom {
						.button,
						a.ajax_add_to_cart,
						.add_to_cart_button,
						.product_type_external,
						.product_type_variable,
						.product_type_grouped{
							background: @color; color: #fff; border: 1px @color solid;
							&:before{
								background-position: 7px center; .transition(all 0.3s ease);
							}
						}
					}								
				}
			}
		}
	}		
}

/* ================================================================== */
/* ================================================================== */

.responsive-post-slider{
	margin-bottom: 80px;
	.resp-slider-container{
		.title-sytle1;
		.slick-slider {
			margin: 0 -15px;
			.item {
				padding: 0 15px;
				.item-inner{
					.img_over{
						position: relative; overflow: hidden;
						a img{
							width: 100%; .transition(all 0.3s);
						}
						&:hover{
							a img{
								.scale(1.05); .transition(all 0.3s);
							}
						}
						.latest_post_date{
							height: 70px; width: 50px; background: @color; position: absolute;
							top: 10px; left: 10px; padding: 5px; text-align: center;
							.rtl &{
								left: auto; right: 10px;
							}
							span{
								display: block;
							}
							.post_day{
								color: #fff; font-size: 22px; font-weight: bold;
							}
							.post_my{
								color: #fff; font-size: 14px;
							}
						}
					}
					.entry-content {
						padding: 20px 0 0 0; text-align: left; border: 1px @border-color solid; border-top: 0;
						.rtl &{
							text-align: right;
						}
						.entry-top{
							padding: 0 20px;
						}
						h4{
							margin-bottom: 22px;
							a{
								color: @body-color; font-size: 18px; .transition(all 0.3s); font-weight: 600;
								&:hover{
									color: @color; .transition(all 0.3s);
								}
							}
						}
						.description1{
							line-height: 23px; margin-bottom: 33px;
						}
						.readmore{
							text-align: center; border-top: 1px @border-color solid;
							a{
								color: @color; font-size: 14px; height: 57px; line-height: 55px; display: inline-block; vertical-align: top; font-size: 14px; .transition(all 0.3s);
								&:hover{
									color: @body-color; .transition(all 0.3s);
								}
								i{
									padding: 0 5px; font-size: 12px;
									.rtl &{
										&:before{content: '\f104';}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.related-products{
	margin-bottom: 50px;
	.box-slider-title{
		h2{
			font-size: 22px; color: @body-color; font-weight: 600; margin-bottom: 30px;
		}
	}
	.resp-slider-container .slider{
		margin: 0 -15px;
		.item{
			padding: 0 15px;
		}
	}
}
.banner-shortcode{
	margin-bottom: 47px; .title-sytle1;
	.banner-inner {
		position: relative;
		.banner-countdown {
			position: absolute;
			width: 80px;
			overflow: hidden;
			text-align: center;
			background-color: #fff;
			top: 47%;
			left: 50%;
			padding: 10px 0;
			.translate(-50%; -50%);
			.border-radius(80px);
			.countdown-row {				
				.countdown-section {
					padding: 20px 0;
					display: inline-block;
					vertical-align: top;
					margin: 0 5px;
					clear: both;
					min-width: 34px;
					position: relative;
					&:before {
						position: absolute;
						content: "";
						bottom: 0;
						left: 0;
						right: 0;
						margin: auto;
						opacity: 0.5;
						height: 1px;
						width: 34px;
						background-color: @color;
					}
					&:last-child:before {
						display: none;
					}
					.countdown-amount {
						font-size: 24px; font-weight: 600;
						color: @color; line-height: 28px;
					}
					.countdown-period {
						font-size: 14px; text-transform: capitalize;
						color: #999999;
					}
				}
				span {
					display: block;
				}
			}
		}
	}
}
.sw-latest-product, .sw-mostviewed, .sw-onsale-product{
	margin-bottom: 80px;
	.box-title{
		h3{
			color: @body-color; font-size: 24px; font-weight: 700; text-transform: uppercase; border-bottom:1px @border-color solid; position: relative; margin-bottom: 30px; padding-bottom: 13px;
			&:before{
				content: ""; position: absolute; bottom: -1px; left: 0; width: 80px; height: 1px; background: @body-color;
				.rtl &{
					left: auto; right: 0;
				}
			}
			span{
				color: @color;
			}
		}
	}
	.item {
		margin-bottom: 23px;
		.item-inner {
			margin-bottom: 15px;
			.item-thumbnail {
				width: 160px;
				border: 1px solid #fff;
				margin-right: 20px;
				.transition(all .5s);
				.rtl &{
					margin-right:0; margin-left: 20px;
				}
			}
			.item-content {
				overflow: hidden;
				position: relative;
				padding: 10px 0;	
				min-height: 120px;			
				h4 {
					font-size: 14px; margin-bottom: 17px; text-transform:capitalize;
				}
				.star{
					margin-bottom: 15px;
				}
				.item-price {
					font-size: 16px; float: none; position: relative; z-index: 2; .transition(all .5s);
					del{
						color: #999; margin-top: 5px;
						text-decoration: line-through;
					}
				}
				.item-button {
					position: absolute;
					font-size: 15px;
					bottom: -62px;
					right: 0;
					left: 0;
					z-index: 2;
					background-color: #fff;
					.transition(all .3s);
					.opacity(0);
					.clear {
						display: none;
					}
					.add_to_cart_button,
					.product_type_external,
					.product_type_grouped  {
						.transition(all .3s);
						&:before {
							content: "\f067";
						}
						&.loading {
							background-color: @color;
							.opacity(0.75);
							&:before {
								text-align: center;
								left: 0;
								background-color: @color;
							}
						}
						&.added {
							background-color: @color;
							&:before {
								color: #fff;
							}
						}
					}
					.yith-wcwl-add-to-wishlist {
						margin: 0;
						.yith-wcwl-add-button,
						.yith-wcwl-wishlistaddedbrowse,
						.yith-wcwl-wishlistexistsbrowse {		
							position: relative;
							a { 
								.transition(all .4s);
								&:before {
									content: "\f004";
								}
							}
							&.show {
								display: inline-block !important;
								vertical-align: top;
							}
							.feedback {
								display: none;
							}
							.ajax-loading {
								position: absolute;
								left: 0;
								right: 0;
								top: 0;
								bottom: 0;
								margin: auto;
							}
						}
					}
					.compare-button a {
						.transition(all .5s);
						&:before {
							content: "\f074";
						}
					}
					.group.fancybox {
						display: none;
					}
					
					.add_to_cart_button,
					.product_type_external,
					.product_type_grouped,
					.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
					.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
					.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
					.compare-button a {
						font-weight: 500;
						height: 46px;
						line-height: 46px;
						padding: 0;
						background-color: #dddddd;
						display: inline-block;
						vertical-align: top;
						overflow: hidden;
						position: relative;
						font-size: 0;
						min-width: 46px;
						margin: 5px 1px;
						text-align: center;
						.border-radius(46px);
						&:before {
							font-family: fontawesome;
							font-size: 14px;
							color: #111111;	
						}
						&:hover {
							background-color: @color;
							color: #fff;
							&:before {
								color: #fff;
							}
						}
					}
					.add_to_cart_button,
					.product_type_external,
					.product_type_grouped,
					.yith-wcwl-add-to-wishlist,
					.compare-button {
						display: inline-block;
						vertical-align: top;
					}
					.yith-wcwl-wishlistaddedbrowse.show,
					.yith-wcwl-wishlistexistsbrowse.show {
						a {
							background-color: @color;
							&:before {
								color: #fff;
							}							
						}
					}
				}
			}
			&:hover {
				.item-thumbnail {
					border-color: @color;
				}
				.item-content {
					.item-button {
						bottom: -5px;
						.opacity(1);
					}
				}
			}
		}
	}
}