.home-style12{
	.wpb_revslider_element .see-more{
		color: #fff;
	}
	.sw-instagram-slider2 h3{
		font-size: 24px; font-weight: bold; position: relative;
		&:before{
			content: ""; left: 0; right: 0;	bottom: 30%; position: absolute;
			height: 6px;background: transparent;border: 1px #ccc solid;	border-width: 1px 0;
		}
		span{
			position: relative;	display: inline-block; vertical-align: top;	padding: 0 30px;z-index: 2;background: #fff;
		}
	}
	.sw-woo-tab-style5.style1 .resp-slider-container .slider .item .item-wrap2 .item-detail .products-thumb{
		border: none;
	}
}
.header-style12{
	border-bottom: 1px @border-color solid;
	.home-style12 &{
		border-bottom: none;
	}
	.header-top {
		background: #fff; min-height: 43px; border-bottom: 1px @border-color solid;
		.left-header{
			margin: 3px 0;
		}
		.right-header2{
			padding-top: 5px;
			.sw-autusin-account{
				margin: 0; font-size: 12px; color: #666;
				&:before{
					display: none;
				}
				i.fa{
					color: #666; padding: 9px; font-size: 13px;
				}
				>span{
					padding: 7px 0;
				}
			}
			.wishlist{
				padding: 5px 0; position: relative; margin: 0 0 0 15px;
				.rtl &{
					margin: 0 15px 0 0;
				}
				a{
					color: #666; font-size: 12px; transition(all 0.3s);
					&:hover{
						color: @color; transition(all 0.3s);
					}
				}
			}
		}
	}
	.header-mid{
		padding: 19px 0 24px 0; border-bottom: 1px @border-color solid;
		.left-header{
			.autusin-logo{
				margin-top: 0;
				a{
					display: inline-block; vertical-align: top;
				}
			}
		}
		.search-cate{
			margin-top: 0;
			.top-form.top-search{
				width: 100%; position: relative; display: block; top: 7px; font-size: 12px; z-index: 98;
				.rtl &{
					float: left;
				}
				.topsearch-entry{
					padding-left:0; border: 1px @border-color solid; border-radius: 20px;
					.rtl &{
						padding-right:0;
					}
					.icon-loading.loading{
						right: 95px;
					}
					.cat-wrapper{
						display:none;
					}
					input{
						background: #fff; height:35px; line-height: 35px; padding: 0 20px; border-radius: 20px;
					}
					.button-search-pro{
						background-color: #fff; border-radius: 0; height:35px; line-height:35px; color: #888; border-radius: 0 20px 20px 0;
						.rtl &{
							border-radius: 20px 0 0 20px;
						}
						&:hover{
							&:before{
								color: @color;
							}
						}
					}
				}
			}
		}
	}
	.top-form.top-form-minicart {
		padding: 0 15px;
		.top-minicart-icon{
			width: 50px; height: 40px; background: url(../assets/img/icon-cart2.png) no-repeat center bottom; position: relative;
			h3{
				display: none;
			}
			p{
				font-size: 0; position: absolute; right: 0; top: 0;
				span{
					font-size: 12px; border-radius: 50%; background: #666; color: #fff; width: 18px; height: 18px;
					text-align: center; line-height: 18px; display: inline-block; vertical-align: top;
				}
			}
		}
	}
	.top-form:hover .wrapp-minicart{
		.translateY(20px);
	}
	#lang_sel > ul.nav{
		margin-left: 0;
		.rtl &{
			margin-right: 0;
		}
		> li {
			padding: 10px 0 6px 0;
			> a{
				padding-left: 0; color: #666;
				.rtl &{
					padding-right: 0;
				}
			}
		}
	}
	.currency_w {
		margin: 0;
		.rtl &{
			margin: 0;
		}
		> li{
			padding: 10px 0 6px 0;
			> a{
				color: #666;
			}
		}
	}
	.nav-pills >li > a{
		padding: 16px 18px;
	}
	.sticky-menu {
		position: fixed; box-shadow: 0px 0px 2px 1px #999; z-index:99; background: #fff; padding: 2px 0;
	}
}
.woo-slider-theme3{
	margin-bottom: 50px;
	.box-title{
		text-align: center; margin-bottom: 20px;
		h3{
			font-size: 24px; text-transform: uppercase; color: @body-color; font-weight: bold; position: relative; margin-bottom: 15px;
			&:before{
				content:""; left: 0; right: 0; bottom: 30%; position: absolute; height:6px; background: transparent; border:1px #ccc solid; border-width: 1px 0;
			}
			span{
				position: relative; display: inline-block; vertical-align: top; padding: 0 30px; z-index: 2; background: #fff;
			}
		}
	}
	.resp-slider-container{
		.slider{
			margin: 0 -15px;
			.item {
				padding: 0 15px;
				.item-wrap2{
					.item-detail{
						border: none;
						.products-thumb{
							margin-bottom: 0; position: relative;
							&:before{
								content:""; position: absolute; top:0; left:0; right:0; bottom:0; background: rgba(0, 0, 0, 0.2);
								visibility: hidden; opacity:0; .transition(all 0.3s);
							}
						}
						.sale-off{
							background: @color; height: 24px; line-height: 24px; border-radius: 0; width: 50px;
						}
						.sw-newlabel{
							height: 24px; line-height: 24px; border-radius: 0; width: 50px;
						}
						.item-content{
							padding: 0 0 20px 0; text-align: left;
							.rtl &{
								text-align: right;
							}
							h4{
								margin: 15px 0 5px 0;
								a{
									font-size: 16px; text-transform: uppercase;
									&:after{
										display: none;
									}
								}
							}
							.item-price{
								font-size: 17px;
								del{
									font-size: 16px;
								}
							}
							.item-bottom {
								a.ajax_add_to_cart,
								.add_to_cart_button,
								.product_type_external,
								.product_type_grouped  {
									background: #fff !important;
									&:before{
										font-family: fontawesome; font-size: 13px; content: "\f291";
									}
									&.loading {
										background-color: @color;
										&:before {
											left: 0 !important;
										}
									}
									&.added {
										background-color: @color !important;
										&:before {
											color: #fff;
										}
									}
								}
								a.ajax_add_to_cart,					
								.add_to_cart_button,
								.product_type_external,
								.product_type_grouped,
								.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
								.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
								.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
								.compare-button a,
								.sw-quickview {
									color: #222; background-color: #fff; .border-radius(0);
									min-width: 35px; height: 35px; line-height: 35px; box-shadow: 0px 1px 4px 1px #eee;
									&:before {
										left: 11px; color: #222;
										.rtl & {
											left: auto; right: 11px;
										}										
									}
									&:hover {
										background-color: @color !important;
										color: #fff; min-width: 35px;
										&:before {
											color: #fff;
										}
									}
								}
								.yith-wcwl-wishlistaddedbrowse.show,
								.yith-wcwl-wishlistexistsbrowse.show {
									a {
										background: @color !important;
										&:before {
											color: #fff;
										}							
									}
								}
							}
						}
					}
					&:hover {
						.item-detail{
							border: none;
							.products-thumb:before{
								opacity:1; visibility:visible; transition(all 0.3s);
							}
						}
					}
				}
			}
		}
	}
}
.sw-woo-tab-style5{
	&.style1{
		.nav-tabs-select:before{
			height:6px; background: transparent; border:1px #ccc solid; border-width: 1px 0;
		}
		.resp-slider-container{
			.slider{
				.item {
					.item-wrap2{
						.item-detail{
							.products-thumb{
								position: relative; margin-bottom: 0;
								&:before{
									content:""; position: absolute; top:0; left:0; right:0; bottom:0; background: rgba(0, 0, 0, 0.2);
									visibility: hidden; opacity:0; .transition(all 0.3s);
								}
							}
						}
						&:hover {
							.item-detail{
								.products-thumb:before{
									opacity:1; visibility:visible; transition(all 0.3s);
								}
							}
						}
					}
				}
			}
		}
	}
}
.sw-woo-tab-cat4{
	margin: 30px 0 50px 0;
	.box-title{
		position: relative;
		&:before{
			content:""; position: absolute; bottom:45%; left:0; right:0; background: #ccc; height: 2px; width: 100%;
		}
		h3{
			font-size: 24px; text-transform: uppercase; color: @body-color; font-weight: bold; background: #f5f5f5; z-index:2; position:relative;
		}
		.description{
			padding: 5px 20px 0 20px; background: #f5f5f5; z-index:2; position:relative;
			.rtl &{
				padding: 5px 20px 0 20px;
			}
		}
	}
	.top-tab-slider{
		margin-bottom: 30px;
		.nav-tabs{
			margin: 0; border: none;
			li{
				margin: 0 30px 0 0;
				.rtl &{
					margin: 0 0 0 30px; float: right;
				}
				a{
					border: none; font-size: 18px; text-transform: uppercase; font-weight: 600; padding: 4px 0; text-decoration: underline;
				}
				&.active, &:hover{
					a{
						color: @color; background:transparent;
					}
				}
			}
		}
	}
	.resp-slider-container{
		.slider{
			margin: 0 -15px;
			.item {
				padding: 0 15px;
				.item-wrap2{
					background: transparent;
					.item-detail{
						border: none;
						.products-thumb{
							margin-bottom: 0; position: relative;
							&:before{
								content:""; position: absolute; top:0; left:0; right:0; bottom:0; background: rgba(0, 0, 0, 0.2);
								visibility: hidden; opacity:0; .transition(all 0.3s);
							}
						}
						.sale-off{
							background: @color; height: 24px; line-height: 24px; border-radius: 0; width: 50px;
						}
						.sw-newlabel{
							height: 24px; line-height: 24px; border-radius: 0; width: 50px;
						}
						.item-content{
							padding: 0 0 20px 0; text-align: left;
							.rtl &{
								text-align: right;
							}
							h4{
								margin: 15px 0 5px 0;
								a{
									font-size: 16px; text-transform: uppercase;
									&:after{
										display: none;
									}
								}
							}
							.item-price{
								font-size: 17px;
								del{
									font-size: 16px;
								}
							}
							.item-bottom {
								a.ajax_add_to_cart,
								.add_to_cart_button,
								.product_type_external,
								.product_type_grouped  {
									background: #fff !important;
									&:before{
										font-family: fontawesome; font-size: 13px; content: "\f291";
									}
									&.loading {
										background-color: @color;
										&:before {
											left: 0 !important;
										}
									}
									&.added {
										background-color: @color !important;
										&:before {
											color: #fff;
										}
									}
								}
								a.ajax_add_to_cart,					
								.add_to_cart_button,
								.product_type_external,
								.product_type_grouped,
								.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
								.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
								.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
								.compare-button a,
								.sw-quickview {
									color: #222; background-color: #fff; .border-radius(0);
									min-width: 35px; height: 35px; line-height: 35px; box-shadow: 0px 1px 4px 1px #eee;
									&:before {
										left: 11px; color: #222;
										.rtl & {
											left: auto; right: 11px;
										}										
									}
									&:hover {
										background-color: @color !important;
										color: #fff; min-width: 35px;
										&:before {
											color: #fff;
										}
									}
								}
								.yith-wcwl-wishlistaddedbrowse.show,
								.yith-wcwl-wishlistexistsbrowse.show {
									a {
										background: @color !important;
										&:before {
											color: #fff;
										}							
									}
								}
							}
						}
					}
					&:hover {
						.item-detail{
							border: none;
							.products-thumb:before{
								opacity:1; visibility:visible; transition(all 0.3s);
							}
						}
					}
				}
			}
		}
	}
}
.responsive-post-accordion{
	margin-bottom: 70px; position: relative;
	.box-title{
		text-align:center;
		h3{
			display: inline-block;
			color:#000;
			text-transform:uppercase;
			font-size:24px;
			font-weight:bold;
			margin-top: 0;
			margin-bottom: 35px;
			position:relative;
			background:#fff;
			padding: 0 30px;
		}
		&:before{
			content: "";
			position: absolute;
			border: 1px solid #ccc;
			left:0;
			height: 6px;
			border-right: none;
			border-left: none;
			right: 0;
			top: 10px;
		}
	}
	.resp-accordion-wrapper{
		.flex-display( flex );
		overflow: hidden;
		.item{
			width: 12.5%;
			background-position: center center;
			background-size: auto 100%;
			background-repeat: no-repeat;			
			position: relative;
			min-height: 600px;
			.transition( all 0.3s ease-out );
			&.item-large{
				width: 50%;
				.item-detail .item-content{
					.translateX(0);
					.transition( all 0.3s ease-out );
					.transition-delay( 0.2s );
				}
				&:before{
					.transition( all 0.3s ease-out );
					opacity: 0;
				}
				&:after{
					.transition( all 0.3s ease-out );
					width: 0;
				}
			}
			&:before{
				content: '';
				background: url( ../assets/img/icon-plus.png ) no-repeat center  @color ;
				display: block;
				width: 40px;
				height: 40px;
				position: absolute;
				bottom: 10%;
				left: 50%;
				margin-top: -25px;
				margin-left: -25px;
				z-index: 2;
			}
			&:after{
				content: '';
				background: rgba( 0,0,0, 0.1);
				display: block;
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
			}
			.item-detail{
				.flex-display( flex );
				.align-items( flex-end );
				height: 100%; width: 100%; overflow: hidden;
				.item-content{
					background: rgba( 255,255,255,0.9 );
					padding: 23px 60px 25px 60px;
					text-align: center;
					position: relative;
					.translateX(-500px);
					h4{
						a{
							font-size:16px;
							color: #222;
							text-transform:uppercase;
							font-weight:700 !important;
						}
					}
					.entry-meta{
						color:#999; font-size: 12px; margin-bottom: 15px;
						.space{
							margin:0 5px;
						}
						a{
							color:#999; font-size: 12px; text-transform:capitalize;
						}
						.rtl &{
							display: flex; justify-content: center;
						}
					}
					.item-description{
						font-size:12px;	color:#666;	line-height:21px; margin-bottom: 12px;		
					}
					.item-readmore{
						font-size:13px;
						color:@color; text-transform:capitalize;
						width:100%;	text-align:center;
						font-style: italic;
						font-weight:500;
						.fa{
							margin: 0 10px;
							.rtl &{
								&:before{
									content: "\f177";
								}
							}
						}
					}
					&:hover{
						.item-readmore,h4 a{
							color:@color;
							opacity:0.85;

						}
					}
				}
			}			
		}
	}
}
.bgnew-in12{
	background-size: cover;
}
.block-text7{
	text-align: center; margin: 12px 0;
	.item{
		i{
			font-size: 36px; display: inline-block; vertical-align:top; margin: 2px 5px;
		}
		p{
			display: inline-block; vertical-align:top; text-align: left; line-height: 20px !important;
			.rtl &{
				text-align: right;
			}
		}
	}
}







@media (max-width: 991px) {
	.header-style12 .resmenu-container .menu-responsive-wrapper{
		top: 50px;
	}
}
@media (max-width: 767px) {
	.header-style12{
		.header-top {
			.left-header{
				display: inline-block; vertical-align: top;
			}
			.right-header2{
				display: inline-block; vertical-align: top;
				.wishlist{
					display: none;
				}
			}
		}
		.header-mid{
			padding: 15px 0 16px 0;
			.autusin-logo{
				margin-bottom: 10px;
			}
			.search-cate{
				width: 80%; float: left;
				.rtl &{
					float: right;
				}
			}
		}
		.top-form.top-form-minicart{
			padding: 0 10px;
		}
		.header-bottom.sticky-menu{
			position:relative; top:auto; left:auto; padding: 0;
		}
	}
	.responsive-post-accordion .resp-accordion-wrapper{
		flex-direction: column-reverse;
		.item{
			background-size: 100%; min-height: auto; width: 100%;
			&:after{
				width:0;
				height:0;
			}
			&:before{
				background:none;
			}
			.item-detail .item-content{
				transform: translateX(-1000px);
			}
			&.item-large{
				width:100%;
			}
		}
	}
	.sw-woo-tab-cat4{
		.top-tab-slider .nav-tabs li{
			width: 100%; margin: 0;
			.rtl &{
				margin: 0;
			}
		}
	}
}
@media (max-width: 480px) {
	.header-style12 .top-form.top-form-minicart{
		padding: 0 5px;
	}
	.responsive-post-accordion .resp-accordion-wrapper .item .item-detail .item-content{
		padding:10px;
	}
}