@-ms-viewport {
  width: device-width;
}
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
@media (min-width: 1400px) and (max-width: 1680px) {
  .revo-color {
    font-size: 49px !important;
  }
  .revo-des {
    font-size: 16px !important;
    line-height: 24px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  .revo-color {
    font-size: 42px !important;
  }
  .revo-des {
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .home-style2 .header-style2 .header-top {
    margin-bottom: 10px;
  }
}
@media (max-width: 1199px) {
  body.boxed-layout .body-wrapper {
    width: 100%;
    padding: 0;
  }
  .wpb_revslider_element .revo-color {
    font-size: 32px !important;
  }
  .wpb_revslider_element .see-more {
    font-size: 14px !important;
    height: 35px;
    line-height: 35px !important;
    padding: 0 20px !important;
  }
  .wpb_revslider_element .revo-des {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .header-style1 .header-mid .autusin-logo {
    margin-top: 8px;
  }
  .header-style1 .header-mid .bottom-header {
    display: none;
  }
  .sidebar .widget.widget_nav_menu .widget-inner ul.menu > li ul.dropdown-menu {
    margin-left: 5px;
  }
  .rtl .sidebar .widget.widget_nav_menu .widget-inner ul.menu > li ul.dropdown-menu {
    margin-right: 5px;
    margin-left: 0;
  }
  .header-bottom .autusin_top .top-form.top-search {
    min-width: 540px;
  }
  .nav-pills.nav-mega .autusin-mega-menu .dropdown-menu.column-4,
  .nav-pills.nav-mega .autusin-mega-menu .dropdown-menu.column-5,
  .nav-pills.nav-mega .autusin-mega-menu .dropdown-menu.column-1 {
    min-width: 970px;
  }
  .single-product > .tabs .tabbable .tab-content .tab-pane p .alignnone.image-content {
    margin: 0;
  }
  .footer-contact2,
  .footer-menu2 {
    width: 100%;
  }
  .single.main .post .entry-wrap .entry-content .entry-summary p .alignnone {
    width: 50%;
    margin: 0 0 30px !important;
  }
  .form-new2 h3 {
    display: none;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-form input[type="email"] {
    min-width: 220px;
  }
  .banner-shortcode .banner-inner .banner-countdown {
    width: 50px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -o-border-radius: 50px;
    -ms-border-radius: 50px;
  }
  .banner-shortcode .banner-inner .banner-countdown .countdown-row .countdown-section {
    padding: 10px 0;
    min-width: initial;
  }
  .banner-shortcode .banner-inner .banner-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 16px;
    line-height: 24px;
  }
  .banner-shortcode .banner-inner .banner-countdown .countdown-row .countdown-section .countdown-period {
    font-size: 12px;
  }
  .countdown-slider .slider-wrapper .resp-slider-container .slick-slider .slick-list .item-countdown .item-wraps .item-detail .item-content .description {
    margin-bottom: 30px;
    white-space: normal;
  }
  .countdown-slider .res-button {
    top: 95px;
  }
  .newsletter-footer2 .newsletter-footer-top .info p {
    font-size: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #subscribe_popup .subscribe-popup-container {
    text-align: center;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-form {
    float: none;
    display: inline-block;
  }
  .rtl #subscribe_popup .subscribe-popup-container .subscribe-form {
    float: none;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-checkbox {
    margin: 0;
  }
  .rtl #subscribe_popup .subscribe-popup-container .subscribe-checkbox {
    margin: 0;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-checkbox label {
    display: inline-block;
  }
  .footer .footer-contact .newsletter-footer2 .form-newsletter input[type="email"] {
    min-width: 289px;
  }
  .footer .footer-contact .newsletter-footer2 .form-newsletter .frm-submit {
    padding: 0 15px;
  }
  .resp-tab .tab-pane .responsive-slider .slider .item .item-wrap .item-detail .item-content {
    padding: 10px 0 20px;
  }
  .wrapper_vertical_menu {
    min-width: 220px;
  }
  .product_detail .content_product_detail .cart .group_table tbody tr td .quantity {
    width: 100px;
  }
  .wrapper_vertical_menu .vertical-megamenu > li.autusin-mega-menu > .column-4 {
    min-width: 750px;
  }
  .wrapper_vertical_menu .vertical-megamenu > li.autusin-mega-menu > .column-4 > li {
    width: 240px !important;
  }
  .mega-left-title::after {
    right: 10px;
    left: auto;
  }
  .rtl .mega-left-title::after {
    left: 10px;
    right: auto;
  }
  .mega-menu .wrap-content .item .item-content h3 {
    font-size: 14px;
  }
  .sw-best-seller-product .wrap-content {
    padding: 15px 5px 2px;
  }
  .sw-best-seller-product-slider .carousel-inner .item .item-detail,
  .sw-featured-product-slider .carousel-inner .item .item-detail {
    margin-bottom: 15px;
  }
  .sw-best-seller-product-slider .carousel-inner .item,
  .sw-featured-product-slider .carousel-inner .item {
    padding-top: 0;
  }
  .rtl .header-bottom .header-right {
    float: left;
  }
  .slideshow-home1 .wpb_revslider_element {
    min-width: 531px;
  }
  .slideshow-home1 .wpb_single_image {
    float: left;
    width: 205px;
  }
  .products-wrapper .products-nav .catalog-ordering {
    float: right;
  }
  .rtl .products-wrapper .products-nav .catalog-ordering {
    float: left;
  }
  .item .item-wrap .item-detail .item-content .item-bottom .add_to_cart_button,
  .item .item-wrap .item-detail .item-content .item-bottom .product_type_external,
  .item .item-wrap .item-detail .item-content .item-bottom .product_type_grouped {
    padding: 0 8px;
  }
  .product_detail .content_product_detail .add_to_cart_button,
  .product_detail .content_product_detail .product_type_external,
  .product_detail .content_product_detail .product_type_grouped,
  .product_detail .content_product_detail .single_add_to_cart_button {
    padding: 0 8px;
  }
  .product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
  .product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
  .product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
  .product_detail .content_product_detail a.compare {
    margin: 0 5px 0 0;
  }
  .product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
  .product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
  .product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
  .product_detail .content_product_detail a.compare {
    margin: 0 0 0 5px;
  }
  .contact_us .block-contact .item.address .item-wrap .info {
    padding: 0;
  }
  .swpb-bundled-products-container .swpb-bundled-product .swpb-info .category {
    display: none;
  }
  .product_detail .content_product_detail .social-share .title-share {
    padding-right: 10px;
  }
  .rtl .product_detail .content_product_detail .social-share .title-share {
    padding-left: 10px;
    padding-right: 0;
  }
  .product_detail .content_product_detail .cart .group_table td {
    height: 70px !important;
  }
  .product_detail .content_product_detail .cart .group_table tbody tr td.label {
    white-space: nowrap;
    padding-left: 0;
  }
  .rtl .product_detail .content_product_detail .cart .group_table tbody tr td.label {
    padding-left: 10px;
    padding-right: 0;
  }
  .product_detail .content_product_detail .cart .group_table .price {
    font-size: 16px;
  }
  .product_detail .content_product_detail .cart .group_table .price del {
    font-size: 16px;
  }
  .product_detail .content_product_detail .cart .group_table .price ins {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .resmenu-container .menu-responsive-wrapper ul.autusin_resmenu {
    max-height: 228px;
    overflow-y: auto;
  }
  .wpb_revslider_element .rev_slider_wrapper .revo-color {
    font-size: 24px !important;
  }
  .block-text ul .wrap-text p,
  .respon-style2 {
    display: none;
  }
  #subscribe_popup .subscribe-popup-container {
    text-align: center;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-content {
    padding: 55px 0;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-form {
    float: none;
    display: inline-block;
  }
  .rtl #subscribe_popup .subscribe-popup-container .subscribe-form {
    float: none;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-checkbox {
    margin: 0;
  }
  .rtl #subscribe_popup .subscribe-popup-container .subscribe-checkbox {
    margin: 0;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-checkbox label {
    display: inline-block;
  }
  .home-style2 .header-style2 {
    position: relative;
  }
  .home-style2 .header-style2 .header-top {
    margin-bottom: 0;
  }
  .autusin-logo {
    text-align: center;
  }
  .autusin-logo a {
    display: inline-block;
  }
  .banner-shortcode .banner-inner .banner-countdown .countdown-row .countdown-section {
    padding: 5px 0;
    border-bottom: 0;
  }
  .banner-shortcode .banner-inner .banner-countdown .countdown-row .countdown-section .countdown-amount {
    font-size: 14px;
    line-height: 20px;
  }
  .form-new2 .mc4wp-form .mc4wp-form-fields {
    min-width: 300px;
  }
  .sw-best-seller-product-slider .carousel-inner .image-slide,
  .sw-featured-product-slider .carousel-inner .image-slide {
    display: none;
    float: none;
    width: auto;
  }
  .sw-best-seller-product-slider .carousel-inner .item,
  .sw-featured-product-slider .carousel-inner .item {
    float: none;
    width: auto;
  }
  .featured-product .featured-resp-slider-container .featured-responsive .item {
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  .featured-product .featured-resp-slider-container .featured-responsive .item.item-sidebar .item-wrap {
    width: 50%;
    float: left;
  }
  .rtl .sw-best-seller-product-slider .carousel-inner .item,
  .rtl .sw-featured-product-slider .carousel-inner .item {
    float: none;
  }
  .sw-best-seller-product-slider .carousel-inner .item .item-detail:last-child,
  .sw-featured-product-slider .carousel-inner .item .item-detail:last-child {
    margin-bottom: 30px;
  }
  .vertical_megamenu-header .mega-left-title {
    display: none;
  }
  .vertical_megamenu-header .wrapper_vertical_menu {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    visibility: visible;
  }
  .vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle {
    display: block;
    position: relative;
    z-index: 4;
  }
  .rtl .vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle {
    float: right;
  }
  .vertical_megamenu-header .vertical-megamenu {
    display: none;
  }
  .form-new h3 {
    float: none;
    text-align: center;
    margin: 20px 0;
  }
  .rtl .form-new h3 {
    float: none;
  }
  .form-new .mc4wp-form {
    float: none;
    padding: 0;
  }
  .rtl .form-new .mc4wp-form {
    float: none;
  }
  .products-wrapper .products-nav .catalog-ordering {
    float: right;
  }
  .rtl .products-wrapper .products-nav .catalog-ordering {
    float: left;
  }
  .quickview-container .product_detail .content_product_detail .social-share .title-share {
    padding-right: 10px;
  }
  .rtl .quickview-container .product_detail .content_product_detail .social-share .title-share {
    padding-left: 10px;
    padding-right: 0;
  }
  .footer .footer-style1 .widget_nav_menu .widgettitle {
    line-height: 26px;
  }
  .footer-style6-top .newsletter-footer4 .content-wrap h3 {
    display: none;
  }
  .footer-style6-top .newsletter-footer4 .content-wrap .form-newsletter .mc4wp-form-fields {
    width: 100%;
    margin-bottom: 15px;
  }
  .footer-style6-top .socials-footer h3 {
    display: none;
  }
  .footer-style6-top .socials-footer ul {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .footer .footer-copyright.style2 .copyright-text {
    float: none;
    text-align: center;
  }
  .rtl .footer .footer-copyright.style2 .copyright-text {
    float: none;
    text-align: center;
  }
  .footer .footer-copyright.style2 .sidebar-copyright {
    float: none;
  }
  .rtl .footer .footer-copyright.style2 .sidebar-copyright {
    float: none;
  }
  .footer .footer-copyright.style2 .sidebar-copyright img {
    width: auto;
    margin: 0 auto;
  }
  .widget_sp_image {
    text-align: center;
  }
  .widget_sp_image img {
    display: inline-block;
    width: auto;
  }
  .newsletter-footer .content-wrap h3 {
    margin-right: 20px;
  }
  .rtl .newsletter-footer .content-wrap h3 {
    margin-left: 20px;
  }
  .socials-footer {
    text-align: center;
  }
  .socials-footer ul {
    margin: 0 0 30px 0;
  }
  .contact-us .wpcf7 input[type="submit"] {
    margin: 0 0 40px;
  }
  .product_detail .content_product_detail .social-share {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-style1 .top-form.top-form-minicart .top-minicart-icon {
    height: 135px;
  }
  .header-style1 .sticky-menu .top-form.top-form-minicart .top-minicart-icon {
    height: 133px;
  }
  .resmenu-container .menu-responsive-wrapper {
    top: 45px;
  }
  .resp-tab .tab-pane .responsive-slider .slider .item .item-wrap .item-detail .item-content {
    padding: 10px 0 20px;
  }
  .single-product >.tabs .tabbable .nav.nav-tabs li a {
    padding: 0 20px;
  }
  .item .item-wrap .item-detail .item-content .item-bottom .add_to_cart_button,
  .item .item-wrap .item-detail .item-content .item-bottom .product_type_external,
  .item .item-wrap .item-detail .item-content .item-bottom .product_type_grouped {
    padding: 0 7px;
  }
  .rtl .top-form .wrapp-minicart {
    left: 0;
  }
  .product_detail .content_product_detail .cart .group_table tbody tr td .quantity {
    width: 100px;
  }
  .autusin_top .top-form.top-search .cat-wrapper:before {
    right: 10px;
  }
  .rtl .autusin_top .top-form.top-search .cat-wrapper:before {
    left: 10px;
    right: auto;
  }
  #comments .commentlist .children {
    margin-left: 10px;
  }
  .rtl #comments .commentlist .children {
    margin-right: 10px;
  }
  #subscribe_popup {
    min-width: 680px;
    width: auto;
  }
}
@media (max-width: 767px) {
  body .container {
    padding: 0 15px;
  }
  .home-style1 .tparrows {
    display: none;
  }
  .home-style1 .wpb_revslider_element {
    margin-bottom: 0;
  }
  .home-style1 .footer {
    margin-top: 0;
    padding-top: 30px;
  }
  .home-style2 .wpb_revslider_element {
    margin-bottom: 0;
  }
  .home-style2 .wpb_raw_code.vc_custom_1538387583486 {
    margin-bottom: 0 !important;
  }
  .products-thumb a.fancybox {
    display: none !important;
  }
  .header-style1 .header-mid.sticky-menu,
  .header-style2 .header-mid.sticky-menu {
    position: relative;
    top: auto;
    left: auto;
  }
  .header-style1 .header-top {
    position: relative;
    z-index: 2;
  }
  .header-style1 .header-top .left-header {
    display: none;
  }
  .header-style1 .header-top .right-header {
    padding-right: 0;
  }
  .rtl .header-style1 .header-top .right-header {
    padding-left: 0;
  }
  .header-style1 .header-top .right-header2 .sw-autusin-account:before {
    display: none;
  }
  .header-style1 .top-form .wrapp-minicart {
    top: 20px;
  }
  .header-style1 #main-menu {
    padding: 0 10px;
  }
  .header-style1 .widget_currency_converter,
  .header-style1 .header-top .right-header2 .sw-autusin-account >i.fa,
  .header-style1 .search-cate:before,
  .header-style1 #lang_sel > ul.nav > li > a:before {
    display: none;
  }
  .header-style1 .header-mid {
    padding: 8px 0 0 0;
  }
  .header-style1 .header-mid .mid-header {
    width: 100%;
  }
  .header-style1 .header-mid .mid-header .autusin-logo {
    text-align: left;
    max-width: 170px;
  }
  .rtl .header-style1 .header-mid .mid-header .autusin-logo {
    text-align: right;
  }
  .header-style1 .header-mid .bottom-header a {
    padding: 16px 15px;
  }
  .header-style1 .resmenu-container .menu-responsive-wrapper {
    top: 57px;
  }
  .header-style1 .top-form.top-form-minicart .top-minicart-icon {
    height: 118px;
  }
  .header-style1 #lang_sel > ul.nav > li > a {
    padding-left: 0;
  }
  .rtl .header-style1 #lang_sel > ul.nav > li > a {
    padding-right: 0;
  }
  .header-style2 .header-top .mid-header,
  .header-style2 .header-top .widget_currency_converter {
    display: none;
  }
  .header-style2 .header-top .right-header2 {
    padding-top: 3px;
  }
  .header-style2 .header-mid .container {
    padding: 10px 15px 3px 15px;
  }
  .header-style2 .search-cate {
    margin-top: 4px;
  }
  .wpb_revslider_element .see-more {
    font-size: 9px !important;
    height: 20px;
    line-height: 20px !important;
    padding: 0 15px !important;
  }
  .wpb_revslider_element .revo-color {
    font-size: 20px !important;
  }
  .sw-category-slider {
    margin: 35px 0 20px 0;
  }
  .sw-category-slider .responsive {
    margin: 0 -15px;
  }
  .sw-category-slider .responsive .item-product-cat {
    padding: 0 15px;
  }
  #comments .commentlist .children {
    margin-left: 10px;
  }
  .rtl #comments .commentlist .children {
    margin-right: 10px;
    margin-left: 0;
  }
  .single-product-style1 .single-product >.tabs .tabbable .nav.nav-tabs {
    display: block;
    padding: 0 10px;
  }
  .single-product-style1 .single-product >.tabs .tabbable .nav.nav-tabs li {
    margin-bottom: 20px;
  }
  .single-product-style1 .single-product >.tabs .tabbable .nav.nav-tabs li a {
    margin: 0;
  }
  .single-product-style1 .single-product >.tabs .tabbable .nav.nav-tabs li:last-child {
    margin-bottom: 0;
  }
  .sw-brand-container-slider .res-button {
    display: none;
  }
  .single.main .post .entry-wrap .entry-content .single-content-bottom .single-tag,
  .single.main .team .entry-wrap .entry-content .single-content-bottom .single-tag,
  .single.main .attachment .entry-wrap .entry-content .single-content-bottom .single-tag {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
  .rtl .single.main .post .entry-wrap .entry-content .single-content-bottom .single-tag,
  .rtl .single.main .team .entry-wrap .entry-content .single-content-bottom .single-tag,
  .rtl .single.main .attachment .entry-wrap .entry-content .single-content-bottom .single-tag {
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
  .single.main .post .entry-wrap .entry-content .single-content-bottom .social-share,
  .single.main .team .entry-wrap .entry-content .single-content-bottom .social-share,
  .single.main .attachment .entry-wrap .entry-content .single-content-bottom .social-share {
    float: none;
  }
  .rtl .single.main .post .entry-wrap .entry-content .single-content-bottom .social-share,
  .rtl .single.main .team .entry-wrap .entry-content .single-content-bottom .social-share,
  .rtl .single.main .attachment .entry-wrap .entry-content .single-content-bottom .social-share {
    float: none;
  }
  .single.main .post #authorDetails .authorDetail .avatar,
  .single.main .team #authorDetails .authorDetail .avatar,
  .single.main .attachment #authorDetails .authorDetail .avatar {
    width: 100%;
    float: none;
  }
  .rtl .single.main .post #authorDetails .authorDetail .avatar,
  .rtl .single.main .team #authorDetails .authorDetail .avatar,
  .rtl .single.main .attachment #authorDetails .authorDetail .avatar {
    float: none;
    width: 100%;
  }
  .single.main .post #authorDetails .authorDetail .avatar img,
  .single.main .team #authorDetails .authorDetail .avatar img,
  .single.main .attachment #authorDetails .authorDetail .avatar img {
    float: none;
    margin: 0 auto;
    width: auto;
  }
  .rtl .single.main .post #authorDetails .authorDetail .avatar img,
  .rtl .single.main .team #authorDetails .authorDetail .avatar img,
  .rtl .single.main .attachment #authorDetails .authorDetail .avatar img {
    float: none;
    margin: 0 auto;
    width: auto;
  }
  .single.main .post #authorDetails .authorDetail .infomation,
  .single.main .team #authorDetails .authorDetail .infomation,
  .single.main .attachment #authorDetails .authorDetail .infomation {
    overflow: inherit;
    padding: 10px 0;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .button-collapse,
  .sw-woo-tab-cat .resp-tab .category-slider-content .button-collapse {
    position: absolute;
    top: 80px;
    z-index: 99;
    display: block;
    background: #1e73be;
    border-radius: 3px;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: 30px;
    line-height: 30px;
    right: 5px;
    text-align: center;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .button-collapse:hover,
  .sw-woo-tab-cat .resp-tab .category-slider-content .button-collapse:hover {
    background: #1e73be;
  }
  .rtl .sw-woo-tab-default .resp-tab .category-slider-content .button-collapse,
  .rtl .sw-woo-tab-cat .resp-tab .category-slider-content .button-collapse {
    left: 5px;
    right: auto;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .button-collapse:before,
  .sw-woo-tab-cat .resp-tab .category-slider-content .button-collapse:before {
    content: '\f0c9';
    font-family: FontAwesome;
    font-size: 16px;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select,
  .sw-woo-tab-cat .resp-tab .category-slider-content .nav-tabs-select {
    margin-bottom: 0;
    position: absolute;
    top: 119px;
    right: 0;
    left: 0;
    z-index: 9;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul,
  .sw-woo-tab-cat .resp-tab .category-slider-content .nav-tabs-select ul {
    height: 0px;
    overflow: hidden;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul li,
  .sw-woo-tab-cat .resp-tab .category-slider-content .nav-tabs-select ul li {
    width: 100%;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul li a,
  .sw-woo-tab-cat .resp-tab .category-slider-content .nav-tabs-select ul li a {
    border: none !important;
    border-radius: 0 !important;
  }
  .sw-woo-tab-default,
  .sw-woo-tab-cat {
    margin-bottom: 50px;
  }
  .banner-shortcode .banner-inner .banner-countdown {
    top: 50%;
  }
  .block-text,
  .newsletter-footer .content-wrap h3 {
    display: none;
  }
  .newsletter-footer {
    margin-top: 40px;
  }
  .banner-shortcode .banner-inner .item-banner img {
    margin-bottom: 0;
  }
  .banner-single,
  .respon-style,
  .item .item-wrap .item-detail .item-content .item-bottom .sw-quickview {
    display: none;
  }
  .featured-product .featured-resp-slider-container .featured-responsive .item.item-sidebar .item-wrap {
    width: 100%;
  }
  .responsive-post-slider,
  .sw-category-slider2,
  .sw-woo-tab-style2 {
    margin-bottom: 20px;
  }
  .banner-shortcode .banner-inner .item-banner {
    width: 100% !important;
  }
  .banner-shortcode .banner-inner .banner-countdown {
    min-width: 250px;
    padding: 0;
  }
  .banner-shortcode .banner-inner .banner-countdown .countdown-row .countdown-section {
    padding: 0 13px;
    border-right: 1px solid #ddd;
    margin: 5px 0;
  }
  .banner-shortcode .banner-inner .banner-countdown .countdown-row .countdown-section:last-child {
    border-right: 0;
  }
  .products-wrapper .products-loop.list .item .item-wrap .item-detail .products-thumb {
    width: 100%;
    float: none;
  }
  .products-wrapper .products-loop.list .item .item-wrap .item-detail .item-content {
    overflow: inherit;
  }
  .newsletter-footer2 .newsletter-footer-top {
    display: none;
  }
  .newsletter-footer2 .form-newsletter {
    float: none;
    text-align: center;
  }
  .rtl .newsletter-footer2 .form-newsletter {
    float: none;
    text-align: center;
  }
  .banner-shortcode .banner-inner .banner-countdown .countdown-row .countdown-section:before {
    display: none;
  }
  .form-new .mc4wp-form {
    margin-bottom: 10px;
  }
  .form-new .mc4wp-form .mc4wp-form-fields {
    min-width: auto;
  }
  .form-new .mc4wp-form .frm-submit:before {
    display: none;
  }
  .home-style1 .footer .footer-style1 {
    padding-top: 20px;
  }
  .footer .footer-style1 .wpb_single_image,
  .footer .footer-style1 .vc_wp_custommenu,
  .footer .footer-style1 .wpb_raw_html {
    margin-bottom: 0;
  }
  .footer .footer-style1 .socials-footer {
    padding: 0 5%;
  }
  .footer .footer-style1 .socials-footer ul {
    margin: 15px 0;
  }
  .footer .footer-style2 {
    padding-top: 20px;
  }
  .footer .footer-style2 .wpb_single_image,
  .footer .footer-style2 .vc_wp_custommenu {
    margin-bottom: 20px;
  }
  .footer .footer-style2 .socials-footer2 {
    padding: 0 5%;
  }
  .footer .footer-style2 .socials-footer2 ul {
    margin: 15px 0;
  }
  .footer .footer-style1.style7 .wpb_single_image {
    margin-bottom: 20px;
  }
  .footer .footer-style1-bot.style7 .wpb_text_column {
    margin-bottom: 0;
  }
  .footer .footer-copyright .copyright-text {
    float: none;
    text-align: center;
  }
  .rtl .footer .footer-copyright .copyright-text {
    float: none;
    text-align: center;
  }
  .footer .footer-copyright .sidebar-copyright {
    float: none;
  }
  .rtl .footer .footer-copyright .sidebar-copyright {
    float: none;
  }
  .footer .footer-copyright .sidebar-copyright img {
    width: auto;
    margin: 0 auto;
  }
  .footer-style5 {
    padding: 35px 0;
  }
  .footer-style5 .foot-des .des {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 25px;
  }
  .footer-style5 .contac li {
    width: 100% !important;
    display: block !important;
    float: none;
    padding: 2px 0;
  }
  .sw-woo-tab-default,
  .woo-slider-default,
  .item .item-wrap .item-detail .products-thumb {
    margin-bottom: 0;
  }
  .countdown-slider .res-button {
    display: none !important;
  }
  .sw-ourteam-slider .box-title .description {
    padding: 0 10%;
  }
  .sw-woo-tab-style2 .resp-tab .category-slider-content .nav-tabs-select ul.nav-tabs li:before {
    display: none;
  }
  .sw-woo-tab-style2 .resp-tab .category-slider-content .nav-tabs-select ul.nav-tabs li a {
    font-size: 20px;
    padding: 5px 8px;
  }
  .socials-ft {
    display: none;
  }
  .container-home4 .wpb_wrapper {
    padding: 0 15px;
  }
  .single-portfolio .portfolio-top .portfolio-content .single-thumbnail {
    width: 100%;
    float: none;
    margin: 0 0 30px;
  }
  #subscribe_popup {
    min-width: 600px;
    padding: 15px 0;
    width: auto;
  }
  #subscribe_popup .subscribe-popup-container .image-newsletter {
    display: none;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-content {
    width: 100%;
    padding: 0;
  }
  .rtl #subscribe_popup .subscribe-popup-container .subscribe-checkbox {
    text-align: center;
    margin: 0;
  }
  .rtl #subscribe_popup .subscribe-popup-container .subscribe-checkbox label {
    display: inline-block;
  }
  .sw-category-slider2 .item .item-content h3 a {
    font-size: 36px;
  }
  .footer-contact1,
  .footer-menu1 {
    width: 50%;
    float: none;
    display: inline-block;
    vertical-align: top;
    margin-right: -3px;
  }
  .footer-menu1:last-child {
    padding-bottom: 40px;
  }
  .footer-menu-style {
    padding: 0;
  }
  .footer-menu-style .wpb_content_element {
    margin-bottom: 0;
  }
  .footer-menu-style .about-store {
    margin-bottom: 30px;
  }
  .has-left-sidebar #left {
    float: none;
    clear: both;
  }
  .has-left-sidebar .category-contents,
  .has-left-sidebar .single.main {
    float: none;
  }
  .has-right-sidebar #right {
    float: none;
    clear: both;
  }
  .has-right-sidebar .category-contents,
  .has-right-sidebar .single.main {
    float: none;
  }
  .has-left-product-sidebar #left {
    float: none;
    clear: both;
  }
  .has-left-product-sidebar #contents-detail,
  .has-left-product-sidebar #contents {
    float: none;
  }
  .has-right-product-sidebar #right {
    float: none;
    clear: both;
  }
  .has-right-product-sidebar #contents-detail,
  .has-right-product-sidebar #contents {
    float: none;
  }
  .vertical_megamenu-header .wrapper_vertical_menu {
    min-width: auto;
  }
  .rtl.has-left-sidebar #left {
    float: none;
    clear: both;
  }
  .rtl.has-left-sidebar .category-contents,
  .rtl.has-left-sidebar .single.main {
    float: none;
  }
  .rtl.has-right-sidebar #right {
    float: none;
    clear: both;
  }
  .rtl.has-right-sidebar .category-contents,
  .rtl.has-right-sidebar .single.main {
    float: none;
  }
  .rtl.has-left-product-sidebar #left {
    float: none;
    clear: both;
  }
  .rtl.has-left-product-sidebar #contents-detail,
  .rtl.has-left-product-sidebar #contents {
    float: none;
  }
  .rtl.has-right-product-sidebar #right {
    float: none;
    clear: both;
  }
  .rtl.has-right-product-sidebar #contents-detail,
  .rtl.has-right-product-sidebar #contents {
    float: none;
  }
}
@media (max-width: 767px) and (min-width: 640px) {
  .featured-cat .wrap-content .item .item-content .set-to {
    padding: 0 21px;
  }
  .featured-cat .wrap-content .item.item1 .item-content {
    top: 20px;
  }
  .featured-cat .wrap-content .item.item4 .item-content .shop-now {
    display: none;
  }
}
@media (max-width: 640px) {
  .comming-soon .ClassyCountdown-wrapper > div {
    margin: 10px 5px;
  }
  .wp-comingsoon .title-comingsoon .des-comingsoon {
    width: 100%;
  }
  #respond .wp-comment .form-horizontal .cmm-box-top .control-group {
    width: 100%;
  }
  .footer-contact1,
  .footer-menu1 {
    width: 100%;
    margin: 0;
  }
  .footer .footer-contact .newsletter-footer2 .form-newsletter .frm-submit {
    padding: 0 7px;
    font-size: 11px;
  }
  .footer .footer-contact .newsletter-footer2 h3 {
    margin-right: 7px;
  }
  .rtl .footer .footer-contact .newsletter-footer2 h3 {
    margin-left: 7px;
    margin-right: 0;
  }
  .footer .footer-contact .newsletter-footer2 .form-newsletter input[type="email"] {
    min-width: 190px;
    width: 190px;
    padding: 0 5px;
  }
  .newsletter-footer2 .form-newsletter input[type="email"] {
    min-width: 295px;
  }
}
@media (max-width: 480px) {
  .sw_woo_search,
  .sw_woo_search.pull-left {
    float: none;
  }
  .autusin_top .top-form.top-search .topsearch-entry {
    padding: 0;
  }
  .wpb_revslider_element .rev_slider_wrapper .revo-color {
    font-size: 13px !important;
  }
  #comments .comment .author {
    float: none !important;
    margin-bottom: 10px;
  }
  #comments .comment .media-body {
    padding: 0 !important;
  }
  #comments .comment .media-body .media .media-heading .time {
    padding: 0 10px;
  }
  .sw-latest-product,
  .sw-mostviewed,
  .sw-onsale-product {
    margin-bottom: 30px;
  }
  .sw-latest-product .item,
  .sw-mostviewed .item,
  .sw-onsale-product .item {
    margin-bottom: 10px;
  }
  .sw-latest-product .item .item-inner .item-thumbnail,
  .sw-mostviewed .item .item-inner .item-thumbnail,
  .sw-onsale-product .item .item-inner .item-thumbnail {
    width: 130px;
    margin-right: 10px;
  }
  .rtl .sw-latest-product .item .item-inner .item-thumbnail,
  .rtl .sw-mostviewed .item .item-inner .item-thumbnail,
  .rtl .sw-onsale-product .item .item-inner .item-thumbnail {
    margin-left: 10px;
  }
  .sw-brand-container-slider {
    margin: 28px 0 55px 0;
  }
  #respond .wp-comment .title {
    font-size: 14px;
  }
  .service-home4 ul > li {
    width: 100%;
    margin: 10px 0;
  }
  .listing-title h1 {
    font-size: 18px;
  }
  .autusin-portfolio .portfolio-tab ul li {
    float: none;
    margin: 0 0 10px;
    width: 100%;
  }
  .block3-home3 .content-wrap .item-ins {
    width: 50%;
    margin: 0 0 10px;
  }
  .block3-home3 .content-wrap .item-ins:last-child {
    display: none;
  }
  .sw-category-slider6 .resp-slider-container .slider {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    text-align: left;
  }
  .sw-category-slider6 .resp-slider-container .slider > .item {
    float: none;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    margin: 0 10px 0 0;
    width: 120px;
  }
  .sw-category-slider6 .res-button {
    display: none;
  }
  .autusin-portfolio.masonry .portfolio-container ul.portfolio-content >li .portfolio-item-inner .portfolio-in .p-item-content .p-item-title {
    display: none;
  }
  .autusin-portfolio.masonry .portfolio-container ul.portfolio-content >li .portfolio-item-inner .portfolio-in .p-item-content .p-item.item-more,
  .autusin-portfolio.masonry .portfolio-container ul.portfolio-content >li .portfolio-item-inner .portfolio-in .p-item-content .p-item.item-popup {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
  }
  .sw-woo-tab-style2 .resp-tab .top-tab-slider .nav.nav-tabs > li {
    width: 100%;
  }
  .sw-woo-tab-style2 .resp-tab .top-tab-slider .nav.nav-tabs > li > a {
    border-left: 1px solid #222;
    width: 100%;
  }
  .sw-woo-tab-style2 .resp-tab .top-tab-slider .nav.nav-tabs > li > a:hover {
    border-left: 1px solid #222;
  }
  .wp-comingsoon .title-comingsoon {
    margin-top: 220px;
  }
  .single-product >.tabs .tabbable .nav.nav-tabs li {
    width: 100%;
  }
  .mobile-layout  .single-product >.tabs .tabbable .nav.nav-tabs li {
    width: auto;
  }
  .single-product >.tabs .tabbable .nav.nav-tabs li a {
    width: 100%;
  }
  .mobile-layout  .single-product >.tabs .tabbable .nav.nav-tabs li a {
    width: auto;
  }
}
@media (max-width: 479px) {
  .form-newsletter {
    clear: both;
  }
  .sw-best-seller-product-slider .box-title h3,
  .sw-featured-product-slider .box-title h3 {
    font-size: 14px;
  }
  .sw-best-seller-product-slider .carousel-inner .image-slide,
  .sw-featured-product-slider .carousel-inner .image-slide {
    float: none;
    width: 100%;
  }
  .sw-best-seller-product-slider .carousel-inner .item,
  .sw-featured-product-slider .carousel-inner .item {
    float: none;
    width: 100%;
  }
  .featured-cat .wrap-content .item.item4 {
    margin-bottom: 0;
  }
  .featured-cat .wrap-content .item.item4 .item-content {
    top: 20px;
  }
  .sw-instagram-slider .slider .item {
    text-align: center;
  }
  .sw-instagram-slider .slider .item img {
    display: inline-block;
  }
  .sw-instagram-slider .res-button {
    z-index: 3;
  }
  .item .item-wrap .item-detail .item-img img {
    margin: 0 auto;
  }
  .home-style2 .wpb_revslider_element .rev_slider_wrapper .tp-bullets {
    display: none;
  }
  .home-style7 .wpb_revslider_element .rev_slider_wrapper .tp-bullets {
    display: none;
  }
  .sw-brand-container-slider .slider .item-brand-cat .item-image a img {
    margin: 0 auto;
  }
  .sw-woo-tab-style3 .resp-tab .top-tab-slider .nav.nav-tabs {
    margin-bottom: 60px;
  }
  .sw-woo-tab-style3 .resp-tab .tab-pane.active .res-button {
    top: 85px;
    margin: 0 5px;
  }
  .sw-woo-tab-style3 .resp-tab .tab-pane.active .res-button.slick-prev {
    right: 50%;
  }
  .rtl .sw-woo-tab-style3 .resp-tab .tab-pane.active .res-button.slick-prev {
    right: 50%;
    left: auto;
  }
  .sw-woo-tab-style3 .resp-tab .tab-pane.active .res-button.slick-next {
    left: 50%;
    right: auto;
  }
  .rtl .sw-woo-tab-style3 .resp-tab .tab-pane.active .res-button.slick-next {
    left: 50%;
    right: auto;
  }
  .sw-woo-tab-style3 .resp-tab .top-tab-slider .nav.nav-tabs > li > a:before {
    height: 0;
  }
  .sw-woo-tab-style3 .resp-tab .top-tab-slider .nav.nav-tabs > li {
    width: 100%;
  }
  .sw-woo-tab-style3 .resp-tab .top-tab-slider .nav.nav-tabs > li:after {
    width: 0;
    height: 0;
  }
  .video-bg-home6 {
    display: none;
  }
  #subscribe_popup {
    min-width: 360px;
  }
  .footer .footer-contact .newsletter-footer2 {
    text-align: center;
  }
  .footer .footer-contact .newsletter-footer2 h3 {
    float: none;
  }
  .footer .footer-contact .newsletter-footer2 .form-newsletter {
    display: inline-block;
  }
  .newsletter-footer2 .form-newsletter input[type="email"] {
    min-width: 170px;
    width: 170px;
  }
  .newsletter-footer2 .form-newsletter .frm-submit {
    padding: 0 10px;
  }
}
@media (max-width: 479px) and (min-width: 375px) {
  .featured-cat .wrap-content .item.item1 .item-content {
    top: 40px;
  }
  .featured-cat .wrap-content .item.item3 .item-content {
    top: 60px;
  }
}
@media (max-width: 375px) {
  #subscribe_popup {
    min-width: 304px;
    padding: 48px 10px 25px 10px;
  }
  #subscribe_popup .subscribe-social > .subscribe-social-inner .autusin-socials ul > li > a {
    margin: 0 3px;
  }
  .wpb_revslider_element .rev_slider_wrapper .revo-color {
    font-size: 12px !important;
  }
}
@media (max-width: 360px) {
  .product_detail .content_product_detail .social-share a {
    margin: 0 3px;
  }
  .product_detail .content_product_detail .yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
  .product_detail .content_product_detail a.compare {
    margin: 0 3px;
  }
  .top-form .wrapp-minicart {
    width: 285px;
  }
  .top-form .wrapp-minicart .minicart-padding ul.minicart-content li .product-image {
    width: 90px;
  }
  .top-form .wrapp-minicart .minicart-padding ul.minicart-content li .product-price .price span.amount {
    padding: 5px 0;
  }
  .sw-woo-tab-style2 .resp-tab .top-tab-slider .nav.nav-tabs > li:first-child  > a {
    margin-bottom: 5px;
  }
  .rtl .sw-woo-tab-style2 .resp-tab .top-tab-slider .nav.nav-tabs > li:first-child  > a {
    border-left: 1px solid #1e73be;
  }
  .top-form .wrapp-minicart .cart-checkout .cart-links .cart-link a,
  .top-form .wrapp-minicart .cart-checkout .cart-links .checkout-link a {
    padding: 0 15px;
  }
  .slideshow-home1 .wpb_single_image {
    width: 100%;
    text-align: center;
  }
  .rtl .slideshow-home1 .wpb_revslider_element {
    float: none;
    width: 100%;
    min-width: 100%;
    margin: 0;
  }
  .rtl.woocommerce div.product form.cart div.quantity {
    width: 105px;
  }
  .products-wrapper .products-loop.list .item .item-wrap .item-detail .products-thumb {
    float: none;
    margin: 0 0 20px;
    width: 100%;
  }
  .rtl .products-wrapper .products-loop.list .item .item-wrap .item-detail .products-thumb {
    float: none;
    margin: 0 0 20px;
  }
  .products-wrapper .products-nav .catalog-ordering .orderby-order-container .order,
  .products-wrapper .products-nav .catalog-ordering .orderby-order-container .product-number {
    display: none;
  }
  .product_detail .content_product_detail .social-share .title-share {
    padding-right: 5px;
  }
  .rtl .product_detail .content_product_detail .social-share .title-share {
    padding: 0 0 0 5px;
  }
  .single-product > .tabs .tabbable .nav.nav-tabs li {
    width: 100%;
  }
  .single-product > .tabs .tabbable .nav.nav-tabs li a {
    width: 100%;
    text-align: center;
  }
  .woocommerce .entry-content form.login .form-row-first,
  .woocommerce .entry-content form.login .form-row-last,
  .woocommerce-page .entry-content form.login .form-row-first,
  .woocommerce-page .entry-content form.login .form-row-last {
    float: none;
    width: 100%;
  }
  .woocommerce .entry-content form.login .form-row-last,
  .woocommerce-page .entry-content form.login .form-row-last {
    margin: 0;
  }
  .woocommerce .entry-content form.login .form-row input.button,
  .woocommerce-page .entry-content form.login .form-row input.button {
    margin-top: 20px;
  }
  .contact_us .block-contact .item .item-wrap {
    padding: 17px 15px;
  }
  .contact_us .block-contact .item.address .item-wrap .info {
    padding: 0;
  }
  .sw_related_upsell_widget .product-ur .tabbable.tabs .nav.nav-tabs {
    border-bottom: 0;
  }
  .sw_related_upsell_widget .product-ur .tabbable.tabs .nav.nav-tabs li {
    width: 100%;
    text-align: center;
  }
  .sw_related_upsell_widget .product-ur .tabbable.tabs .nav.nav-tabs li:first-child > a:after {
    width: 0;
    height: 0;
  }
  .sw_related_upsell_widget .product-ur .tabbable.tabs .nav.nav-tabs li > a {
    padding: 10px 0;
  }
  .sw_related_upsell_widget .product-ur .tabbable.tabs .nav.nav-tabs li > a:before {
    width: 0;
    height: 0;
  }
  #subscribe_popup {
    min-width: 250px;
    padding: 10px 10px 25px 10px;
  }
  #subscribe_popup .subscribe-popup-container {
    padding: 48px 0px 25px 0px;
  }
  #subscribe_popup .subscribe-popup-container h2 {
    font-size: 20px;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-social > .subscribe-social-inner > a {
    margin: 0 2px;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-form input[type="email"] {
    width: 205px;
    padding: 0 10px;
  }
  #subscribe_popup .subscribe-social > .subscribe-social-inner .autusin-socials ul > li > a {
    margin: 0 5px 10px 5px;
  }
  .product_detail .content_product_detail .cart .quantity {
    margin: 0 3px 0 0 !important;
  }
  .sw-best-seller-product-slider .carousel-inner .image-slide img,
  .sw-featured-product-slider .carousel-inner .image-slide img {
    width: 100%;
  }
  .single-product > .tabs .tabbable .tab-content .tab-pane p .alignnone {
    margin: 0 0 30px;
    padding: 0;
    width: 100%;
  }
  .single-product > .tabs .tabbable .tab-content .tab-pane p .alignnone.image-content {
    margin-bottom: 30px;
  }
  .rtl .single-product > .tabs .tabbable .tab-content .tab-pane p .alignnone {
    margin: 0 0 30px;
  }
  #lang_sel > ul.nav > li > a,
  .currency_w > li > a {
    border: 0;
  }
  .woocommerce div.product form.cart .group_table td {
    display: block;
    height: 50px;
  }
  .woocommerce div.product form.cart .group_table td.label {
    display: block;
    text-align: left;
    padding: 0;
    line-height: 45px;
  }
  .woocommerce div.product form.cart .group_table td .price {
    display: block;
  }
  .product_detail .content_product_detail .cart .group_table tbody tr td .quantity {
    width: 100px;
  }
  .sw-woo-tab-cat .resp-tab .top-tab-slider .nav.nav-tabs > li {
    width: 100%;
  }
  .single-portfolio .portfolio-top h1 {
    font-size: 18px;
  }
  .footer .footer-contact .newsletter-footer2 .form-newsletter .frm-submit {
    padding: 0 5px;
  }
  .rtl .single.main .post .entry-wrap .entry-content .social-share .title-share,
  .rtl .single.main .team .entry-wrap .entry-content .social-share .title-share,
  .rtl .single.main .attachment .entry-wrap .entry-content .social-share .title-share {
    margin-left: 15px;
  }
  .rtl.woocommerce div.product form.cart .group_table td.label {
    text-align: right;
  }
  .rtl.contact-us .block-contact .item .item-wrap {
    padding: 17px 15px;
  }
  .rtl .product_detail .content_product_detail .cart .quantity {
    margin: 0 0 0 5px !important;
  }
}
@media (max-width: 320px) {
  .wpb_revslider_element .rev_slider_wrapper .revo-color {
    font-size: 10px !important;
  }
}
@media (max-width: 767px) {
  .mobile-layout .responsive-slider .slider {
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
  }
  .mobile-layout .responsive-slider .slider .item,
  .mobile-layout .responsive-slider .slider .product {
    display: inline-block;
    white-space: normal;
    float: none;
  }
  .mobile-layout .responsive-slider.testimonial-post-slider .responsive-thumbnail {
    display: none;
  }
  .mobile-layout .tab-countdown-slide  ul > li {
    display: inline-block;
    float: none;
  }
  .mobile-layout .tab-countdown-slide  ul > li a >img {
    max-width: 100%;
  }
}
@media (min-width: 1368px) {
  .wp-comingsoon {
    min-height: 980px;
  }
}
@media (min-width: 1200px) {
  .products-loop.grid >li.col-lg-12:nth-child(2n),
  .products-loop.grid >li.col-lg-6:nth-child(2n+1),
  .products-loop.grid >li.col-lg-4:nth-child(3n+1),
  .products-loop.grid >li.col-lg-3:nth-child(4n+1),
  .products-loop.grid >li.col-lg-24:nth-child(5n+1),
  .products-loop.grid >li.col-lg-2:nth-child(6n+1) {
    clear: both;
  }
  .col-lg-24 {
    width: 20%;
  }
  .clear_lg {
    clear: both;
  }
  .rtl [class*="col-lg-"],
  .rtl [class*="col-md-"],
  .rtl [class*="col-sm-"],
  .rtl [class*="col-xs-"] {
    float: right;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .products-loop.grid >li.col-md-12:nth-child(2n),
  .products-loop.grid >li.col-md-6:nth-child(2n+1),
  .products-loop.grid >li.col-md-4:nth-child(3n+1),
  .products-loop.grid >li.col-md-3:nth-child(4n+1),
  .products-loop.grid >li.col-md-24:nth-child(5n+1),
  .products-loop.grid >li.col-md-2:nth-child(6n+1) {
    clear: both;
  }
  .clear_md {
    clear: both;
  }
  .col-md-24 {
    width: 20%;
  }
  .rtl [class*="col-md-"],
  .rtl [class*="col-sm-"],
  .rtl [class*="col-xs-"] {
    float: right;
  }
  .wpb_revslider_element .rev_slider_wrapper ul > li.tp-revslider-slidesli  .tp-parallax-wrap .tp-caption.rev-btn {
    display: none !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .products-loop.grid >li.col-sm-12:nth-child(2n),
  .products-loop.grid >li.col-sm-6:nth-child(2n+1),
  .products-loop.grid >li.col-sm-4:nth-child(3n+1),
  .products-loop.grid >li.col-sm-3:nth-child(4n+1),
  .products-loop.grid >li.col-sm-24:nth-child(5n+1),
  .products-loop.grid >li.col-sm-2:nth-child(6n+1) {
    clear: both;
  }
  .col-sm-24 {
    width: 20%;
  }
  #cpanel-form a.cpanel-control {
    display: none;
  }
  .rtl [class*="col-sm-"],
  .rtl [class*="col-xs-"] {
    float: right;
  }
}
@media (min-width: 768px) {
  .woocommerce table.shop_table_responsive,
  .woocommerce-page table.shop_table_responsive {
    border-collapse: collapse;
  }
  .woocommerce table.shop_table_responsive tr,
  .woocommerce-page table.shop_table_responsive tr {
    display: table-row;
  }
  .woocommerce table.shop_table_responsive tr td,
  .woocommerce-page table.shop_table_responsive tr td {
    display: table-cell;
    border: 1px solid #ddd;
  }
}
@media (max-width: 767px) {
  .clear_xs {
    clear: both;
  }
  .header-style1 .search-cate,
  .header-style2 .search-cate,
  .header-style3 .search-cate,
  .header-style6 .search-cate,
  .header-style7 .search-cate,
  .header-style10 .search-cate {
    position: static;
  }
  .header-style1 .search-cate .autusin_top .top-form.top-search,
  .header-style2 .search-cate .autusin_top .top-form.top-search,
  .header-style3 .search-cate .autusin_top .top-form.top-search,
  .header-style6 .search-cate .autusin_top .top-form.top-search,
  .header-style7 .search-cate .autusin_top .top-form.top-search,
  .header-style10 .search-cate .autusin_top .top-form.top-search {
    left: 0;
    right: 0;
    width: 100%;
  }
  .header-style3 .header-mid,
  .header-style6 .header-mid,
  .header-style7 .header-mid,
  .header-style10 .header-mid {
    position: relative;
  }
  .header-style3 .header-mid .search-cate,
  .header-style6 .header-mid .search-cate,
  .header-style7 .header-mid .search-cate,
  .header-style10 .header-mid .search-cate {
    position: static;
  }
  .header-style3 .header-mid .search-cate .autusin_top .top-form.top-search,
  .header-style6 .header-mid .search-cate .autusin_top .top-form.top-search,
  .header-style7 .header-mid .search-cate .autusin_top .top-form.top-search,
  .header-style10 .header-mid .search-cate .autusin_top .top-form.top-search {
    top: 0;
  }
  .sidebar-row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .sidebar-row aside#left {
    order: 1;
    width: 100%;
  }
  .sidebar-row aside#right {
    order: 1;
    width: 100%;
  }
  .sidebar-row > div {
    width: 100%;
  }
  .woocommerce-account #contents .entry-content .woocommerce-MyAccount-content,
  .woocommerce-account #contents .entry-content nav.woocommerce-MyAccount-navigation {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }
  .rtl [class*="col-xs-"] {
    float: right;
  }
}
@media (max-width: 479px) {
  [class*="col-xs-"] {
    float: none;
    width: auto;
  }
  .products-wrapper .products-loop >li.product-category {
    float: left;
    width: 50%;
  }
  .products-wrapper .products-loop >li.product-category:nth-child(2n+1) {
    clear: both;
  }
  .rtl [class*="col-xs-"] {
    float: none;
  }
  .rtl .products-wrapper .products-loop >li.product-category {
    float: right;
  }
}
