@media (max-width: 767px) {
	body .container{
		padding: 0 15px;
	}
	.home-style1 {
		.tparrows{
			display: none;
		}
		.wpb_revslider_element {
			margin-bottom: 0;
		}
		.footer{
			margin-top: 0; padding-top: 30px;
		}
	}
	.home-style2{
		.wpb_revslider_element {
			margin-bottom: 0;
		}
		.wpb_raw_code.vc_custom_1538387583486{
			margin-bottom: 0 !important;
		}
	}
	.products-thumb a.fancybox{
		display:none !important;
	}
	.header-style1 .header-mid.sticky-menu, .header-style2 .header-mid.sticky-menu{
		position:relative; top:auto; left:auto;
	}
	.header-style1{
		.header-top {
			position: relative; z-index: 2;
			.left-header{
				display: none;	
			}
			.right-header{
				padding-right: 0;
				.rtl &{
					padding-left: 0;
				}
			}
			.right-header2{
				.sw-autusin-account:before{
					display: none;
				}
			}
		}
		.top-form .wrapp-minicart{
			top: 20px;
		}					
		#main-menu{
			padding: 0 10px;
		}
		.widget_currency_converter, .header-top .right-header2 .sw-autusin-account >i.fa, .search-cate:before, #lang_sel > ul.nav > li > a:before{
			display: none;
		}
		.header-mid{
			padding: 8px 0 0 0;
			.mid-header{
				width: 100%;
				.autusin-logo{
					text-align: left; max-width: 170px;
					.rtl &{
						text-align: right;
					}
				}
			}
			.bottom-header a{
				padding: 16px 15px;
			}
		}
		.resmenu-container .menu-responsive-wrapper{
			top: 57px;
		}
		.top-form.top-form-minicart .top-minicart-icon{
			height: 118px;
		}
		#lang_sel > ul.nav > li > a{
			padding-left: 0;
			.rtl &{
				padding-right: 0;
			}
		}
	}
	.header-style2{
		.header-top{
			.mid-header, .widget_currency_converter{
				display: none;
			}
			.right-header2{
				padding-top: 3px;
			}
		}
		.header-mid{
			.container{
				padding: 10px 15px 3px 15px;
			}
		}
		.search-cate{
			margin-top: 4px;
		}
	}
	.wpb_revslider_element{
		.see-more{
			font-size: 9px !important; height: 20px; line-height: 20px !important; padding: 0 15px !important;
		}
		.revo-color{
			font-size: 20px !important;
		}
	}
	.sw-category-slider {
		margin:35px 0 20px 0; 
		.responsive {
			margin: 0 -15px;
			.item-product-cat{
				padding: 0 15px;
			}
		}
	}
	#comments{
		.commentlist .children{
			margin-left:10px;
			.rtl &{
				margin-right:10px;
				margin-left:0;
			}
		}
	}
	.single-product-style1 .single-product >.tabs .tabbable .nav.nav-tabs{
		display: block; padding: 0 10px;
		li{
			margin-bottom: 20px;
			a{
				margin: 0;
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.sw-brand-container-slider .res-button{
		display: none;
	}
	.single.main {
		.post, .team, .attachment {
			.entry-wrap .entry-content .single-content-bottom{
				.single-tag{
					float: none; width: 100%; margin-bottom: 30px;
					.rtl &{
						float: none; width: 100%; margin-bottom: 30px;
					}
				}
				.social-share{
					float: none;
					.rtl &{
						float: none;
					}
				}
			}
			#authorDetails .authorDetail{
				.avatar{
					width: 100%; float: none;
					.rtl &{
						float: none; width: 100%;
					}
					img{
						float: none; margin: 0 auto; width: auto;
						.rtl &{
							float: none; margin: 0 auto; width: auto;
						}
					}
				}
				.infomation{
					overflow: inherit; padding: 10px 0;
				}
			}
		}
	}	
	.sw-woo-tab-default .resp-tab .category-slider-content, .sw-woo-tab-cat .resp-tab .category-slider-content {
		.button-collapse{
			position:absolute;top:80px;z-index:99;display:block;background: @body-color;border-radius: 3px;
			border:0;margin:0;padding:0;cursor: pointer;height: 30px;width: 30px;line-height: 30px;right: 5px;text-align: center;
			&:hover{
				background:@color;
			}
			.rtl &{
				left:5px; right:auto;
			}
			&:before{
				content:'\f0c9';
				font-family:FontAwesome;
				font-size:16px;
				color:#fff;
				height:30px;
				width:30px;
				line-height:30px;
				display:inline-block;
				text-align:center;
			}
		}
		.nav-tabs-select{
			margin-bottom: 0; position: absolute; top: 119px; right: 0; left: 0; z-index: 9;
			ul{
				height: 0px; overflow: hidden;
				li{
					width: 100%;
					a{
						border: none !important; border-radius: 0 !important;
					}
				}
			}
		}
	}
	.sw-woo-tab-default, .sw-woo-tab-cat{
		margin-bottom: 50px;
	}
	.banner-shortcode .banner-inner .banner-countdown{
		top: 50%;
	}
	.block-text, .newsletter-footer .content-wrap h3{
		display: none;
	}
	.newsletter-footer{
		margin-top: 40px;
	}
	.banner-shortcode .banner-inner .item-banner img{
		margin-bottom: 0;
	}
	.banner-single, .respon-style, .item .item-wrap .item-detail .item-content .item-bottom .sw-quickview{
		display: none;
	}
	.featured-product .featured-resp-slider-container .featured-responsive .item.item-sidebar .item-wrap {
		width: 100%;
	}
	.responsive-post-slider, .sw-category-slider2, .sw-woo-tab-style2{
		margin-bottom: 20px;
	}
	.banner-shortcode .banner-inner {
		.item-banner {
			width: 100% !important;
		}
		.banner-countdown {
			min-width: 250px;
			padding: 0;
			.countdown-row {
				.countdown-section {
					padding: 0 13px;
					border-right: 1px solid #ddd;
					margin: 5px 0;
					&:last-child {
						border-right: 0;
					}
				}
			}
		}
	}
	.products-wrapper .products-loop.list .item .item-wrap .item-detail {
		.products-thumb{
			width: 100%; float: none;
		}
		.item-content{
			overflow: inherit;
		}
	}
	.newsletter-footer2{
		.newsletter-footer-top{
			display: none;
		}
		.form-newsletter{
			float: none; text-align: center;
			.rtl &{
				float: none; text-align: center;
			}
		}
	}
	.banner-shortcode .banner-inner .banner-countdown .countdown-row .countdown-section:before {
		display: none;
	}
	.form-new .mc4wp-form{
		margin-bottom: 10px;
		.mc4wp-form-fields{
			min-width: auto;
		}
		.frm-submit:before{
			display: none;
		}
	}
	.footer{
		.footer-style1{
			.home-style1 &{
				padding-top: 20px;
			}
			.wpb_single_image, .vc_wp_custommenu, .wpb_raw_html{
				margin-bottom: 0;
			}
			.socials-footer{
				padding: 0 5%;
				ul{
					margin: 15px 0;
				}
			}
		}
		.footer-style2{
			padding-top: 20px;
			.wpb_single_image, .vc_wp_custommenu{
				margin-bottom: 20px;
			}
			.socials-footer2{
				padding: 0 5%;
				ul{
					margin: 15px 0;
				}
			}
		}
		.footer-style1.style7 .wpb_single_image{
			margin-bottom: 20px;
		}
		.footer-style1-bot.style7 .wpb_text_column{
			margin-bottom: 0;
		}
	}
	.footer .footer-copyright {
		.copyright-text{
			float: none; text-align: center;
			.rtl &{
				float: none; text-align: center;
			}
		}
		.sidebar-copyright{
			float: none;
			.rtl &{
				float: none;
			}
			img{
				width: auto; margin: 0 auto;
			}
		}
	}
	.footer-style5{
		padding: 35px 0;
		.foot-des{
			.des{
				font-size: 13px; line-height: 24px; margin-bottom: 25px;
			}
		}
		.contac{
			li{
				width: 100% !important; display: block !important; float: none; padding: 2px 0;
			}
		}
	}
	.sw-woo-tab-default, .woo-slider-default, .item .item-wrap .item-detail .products-thumb{
		margin-bottom: 0;
	}
	.countdown-slider .res-button{
		display: none !important;
	}
	.sw-ourteam-slider .box-title .description{
		padding: 0 10%;
	}
	.sw-woo-tab-style2 .resp-tab .category-slider-content .nav-tabs-select ul.nav-tabs li{
		&:before{
			display: none;
		}
		a{
			font-size: 20px; padding: 5px 8px;
		}
	}
	.socials-ft{
		display: none;
	}
	.container-home4 .wpb_wrapper{
		padding:0 15px;
	}
	.single-portfolio .portfolio-top .portfolio-content .single-thumbnail{
		width:100%;
		float:none;
		margin:0 0 30px;
	}
	#subscribe_popup{
		min-width:600px;
		padding:15px 0;;
		width:auto;
		.subscribe-popup-container{
			.image-newsletter{
				display:none;
			}
			.subscribe-content{
				width:100%;
				padding:0;
			}
		}
	}
	.rtl #subscribe_popup .subscribe-popup-container .subscribe-checkbox{
		text-align:center;
		margin:0;
		label{
			display:inline-block;
		}
	}
	.sw-category-slider2 .item .item-content h3 a{
		font-size: 36px;
	}
	.footer-contact1, .footer-menu1{
		width: 50%; float: none; display: inline-block; vertical-align: top; margin-right: -3px;
	}
	.footer-menu1:last-child{
		padding-bottom: 40px;
	}
	.footer-menu-style{
		padding: 0;
		.wpb_content_element{
			margin-bottom: 0;
		}
		.about-store{
			margin-bottom: 30px;
		}
	}
	.has-left-sidebar{
		#left{
			float: none;
			clear: both;
		}
		.category-contents, .single.main{
			float: none;
		}
	}
	.has-right-sidebar{
		#right{
			float: none;
			clear: both;
		}
		.category-contents, .single.main{
			float: none;
		}
	}
	.has-left-product-sidebar{
		#left{
			float: none;
			clear: both;
		}
		#contents-detail, #contents{
			float: none;
		}
	}
	.has-right-product-sidebar{
		#right{
			float: none;
			clear: both;
		}
		#contents-detail, #contents{
			float: none;
		}
	}
	.vertical_megamenu-header .wrapper_vertical_menu{
		min-width:auto;
	}
	.rtl {
		&.has-left-sidebar{
			#left{
				float: none;
				clear: both;
			}
			.category-contents, .single.main{
				float: none;
			}
		}
		&.has-right-sidebar{
			#right{
				float: none;
				clear: both;
			}
			.category-contents, .single.main{
				float: none;
			}
		}
		&.has-left-product-sidebar{
			#left{
				float: none;
				clear: both;
			}
			#contents-detail, #contents{
				float: none;
			}
		}
		&.has-right-product-sidebar{
			#right{
				float: none;
				clear: both;
			}
			#contents-detail, #contents{
				float: none;
			}
		}
		
	}
}
