// --------------------------------------------------
// Flexbox LESS mixins
// The spec: http://www.w3.org/TR/css3-flexbox
// --------------------------------------------------

// Flexbox display
// flex or inline-flex
.flex-display(@display: flex) {
	display: ~"-webkit-@{display}";
	display: ~"-ms-@{display}box"; // IE10 uses -ms-flexbox
	display: ~"-ms-@{display}"; // IE11
	display: @display;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
.flex(@columns: initial) {
	-webkit-flex: @columns;
	-ms-flex: @columns;
	flex: @columns;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
.flex-direction(@direction: row) {
	-webkit-flex-direction: @direction;
	-ms-flex-direction: @direction;
	flex-direction: @direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
.flex-wrap(@wrap: nowrap) {
	-webkit-flex-wrap: @wrap;
	-ms-flex-wrap: @wrap;
	flex-wrap: @wrap;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
.flex-flow(@flow) {
	-webkit-flex-flow: @flow;
	-ms-flex-flow: @flow;
	flex-flow: @flow;
}

// Display Order
// - applies to: flex items
// <integer>
.flex-order(@order: 0) {
	-webkit-order: @order;
	-ms-order: @order;
	order: @order;
}

// Flex grow factor
// - applies to: flex items
// <number>
.flex-grow(@grow: 0) {
	-webkit-flex-grow: @grow;
	-ms-flex-grow: @grow;
	flex-grow: @grow;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number> 
.flex-shrink(@shrink: 1) {
	-webkit-flex-shrink: @shrink;
	-ms-flex-shrink: @shrink;
	flex-shrink: @shrink;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width> 
.flex-basis(@width: auto) {
	-webkit-flex-basis: @width;
	-ms-flex-basis: @width;
	flex-basis: @width;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around 
.justify-content(@justify: flex-start) {
	-webkit-justify-content: @justify;
	-ms-justify-content: @justify;
	justify-content: @justify;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch 
.align-content(@align: stretch) {
	-webkit-align-content: @align;
	-ms-align-content: @align;
	align-content: @align;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch 
.align-items(@align: stretch) {
	-webkit-align-items: @align;
	-ms-align-items: @align;
	align-items: @align;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch 
.align-self(@align: auto) {
	-webkit-align-self: @align;
	-ms-align-self: @align;
	align-self: @align;
}
body.mobile-layout .vc_row[data-vc-full-width]{
	width:auto !important;
	left:auto !important;
	right:auto !important;
}
.mobile-layout .header.sticky-mobile{
	position: fixed;
	width: 100%;
	z-index: 5;
	box-shadow: none;
	top:0;
	left: 0; right: 0;
}
.mobile-layout {
	.header-mobile-style1.sticky-mobile, .header-mobile-style2.sticky-mobile{
		padding-bottom:1px;
	}
	.category-contents .blog-content .post .entry .entry-content .content-top{
		.entry-meta-tag, .entry-meta{
			font-size: 12px;
		}
	}
	.wpb_text_column{
		margin-bottom:10px;
	}
	.sale-off, .sw-newlabel{
		width: 40px; height: 25px; line-height:25px;
	}
}
.header-mobile-style1, .header-mobile-style2{
	background: #fff;
	.vertical_megamenu .resmenu-container .menu-responsive-wrapper{
		top:35px !important;
	}
	&.sticky-mobile{
		.vertical_megamenu .resmenu-container .menu-responsive-wrapper{
			top:36px !important;
		}
	}
	.header-cart{
		float: right; z-index: 999;
		opacity:1;
		height:auto;
		visibility:visible;
		margin-right:5px;
		.rtl &{
			float: left; margin-left: 5px; margin-right: 0;
		}
		a{
			background: url('../assets/img/icon-m-cart.png') no-repeat center center;
			display:inline-block;
			width:28px;
			height:23px;
			position:relative;
			.minicart-number{
				position:absolute;
				top:-4px;
				right: -3px;
				display:inline-block;
				width:17px;
				height:17px;
				background-color:@color;
				color:#fff;
				text-align:center;
				border-radius:50%;
				line-height:17px;
				font-size:11px;
				.rtl &{
					right: auto; left: -3px;
				}
			}
			.menu-text{
				display:none;
			}
		}
	}
}
.header-mobile-style1, .header-mobile-style2{
	.header-top-mobile{
		padding:15px 0 5px; position: relative; border-bottom: 1px #f5f5f5 solid;
	}
	.header-menu-categories{
		position: relative; z-index: 99;
		.vertical_megamenu{
			.resmenu-container .navbar-toggle{
				display:block;
				padding:0;
				margin:0 0 0 10px;
				cursor:pointer;
				width: 26px;
				height: 26px;
				background-color: #ccc;
				.transition(all 0.3s ease);
				border-radius:3px;
				.rtl &{
					margin:0 10px 0 0;
				}
				&:hover .icon-bar{
					width:16px !important;
					background-color:#fff;
				}
				.icon-bar{
					height: 2px;
					width: 16px;
					margin: 3px 0px 3px 4px;
					background: @body-color;
					display: block;
					right: 0;
					.transition(all 0.3s ease);
					.rtl &{
						margin:3px 4px 3px 0;
					}
					&:nth-child(1){
						width:12px;
					}
					&:nth-child(3){
						width:12px;
					}
				}
			}
			.vertical-megamenu{
				opacity:0;
				visibility:hidden;
				height:0;
				width:0;
			}
		}
	}
	.autusin-logo{
		padding: 0 10px;
		a {
			display: inline-block; vertical-align: top;
			img{
				max-width: 110px; max-height: 30px;
			}
		}
	}
	.mobile-search{
		position:relative; z-index: 9;
		.icon-seach{
			margin:0 5px;
			display:inline-block;
			width:24px;
			height:24px;
			border-radius:50%;
			background: url('../assets/img/icon-m-search.png') no-repeat center center #ededed;
			cursor:pointer;
		}
		.top-form.top-search{
			float:none; display:none;width: 100%; z-index:5; top: 34px; width: 220px;
			.topsearch-entry{
				.cat-wrapper{
					display:none;
				}
				input{
					width:100%;
					height:27px;
					background-color:#f2f2f2;
					font-size:11px;
					color:#9c9c9c;
					border-radius:3px;
					border:0;
					margin:0;
					padding:0 10px;
				}
				button.button-search-pro{
					position:absolute;
					height:26px;
					width:26px;
					right:0;
					top:0;
					border:0;
					font-size:0;
					background: url('../assets/img/icon-m-search.png') no-repeat center center transparent;
					margin:0;
					.rtl &{
						left:0;
						right:auto;
					}
				}
			}
		}
	}
	.mobile-wishlist{
		a{
			background: url('../assets/img/icon-m-wishlist.png') no-repeat center center;
			display:inline-block; width:25px; height:24px; position:relative; z-index: 9;
		}
	}
	.header-menu-page{
		margin-bottom:10px;
		.menu-mobile1{
			overflow-y: hidden;
			white-space: nowrap;
			margin: 0;
			> li{
				float: none;
				display: inline-block;
				vertical-align: top;
				white-space: normal;
				> a {
					padding:0 10px;
					font-size:12px;
					color:@body-color;
					&:hover, &:focus{
						color:@color;
						background-color:#fff;
					}
				}
				&:hover >a, &:focus >a {
					color:@color;
					background-color:#fff;
				}
			}
		}
	}
}
.header-mobile-style2{
	.autusin_top {
		.top-form.top-search{
			right: -150px;
			.rtl &{
				right: auto; left: -150px;
			}
		}
	}
	.header-menu-categories .vertical_megamenu .resmenu-container .navbar-toggle{
		background: transparent;
		&:hover .icon-bar{
			background-color: @color;
		}
	}
	.mobile-search .icon-seach{
		background: url('../assets/img/icon-m-search.png') no-repeat center center #fff;
	}
	.autusin-logo{
		position: absolute; left: 0; right: 0; text-align: center;
	}
}
.mobile-layout .header-mobile-style3.sticky-mobile{
	box-shadow:0 0 4px lighten( @body-color, 14% );
}
.header-mobile-style3{
	box-shadow:0 5px 5px rgba(205,205,205,0.6); margin-bottom: 10px; background: #0d0c0c;
	.header-top-mobile{
		padding:10px 0 10px;
	}
	.header-menu-categories{
		.vertical_megamenu{
			.resmenu-container .navbar-toggle{
				display:block;
				padding:0;
				margin:0 0 0 10px;
				cursor:pointer;
				width: 26px;
				height: 26px;
				background-color:#fff;
				.transition(all 0.3s ease);
				border-radius:3px;
				.rtl &{
					margin:0 10px 0 0;
				}
				&:hover .icon-bar{
					width:16px !important;
					background-color:@color;
				}
				.icon-bar{
					height: 2px;
					width: 16px;
					margin: 3px 0px 3px 4px;
					background: @color;
					display: block;
					right: 0;
					.transition(all 0.3s ease);
					.rtl &{
						margin:3px 4px 3px 0;
					}
					&:nth-child(1){
						width:12px;
					}
					&:nth-child(3){
						width:12px;
					}
				}
			}
			.vertical-megamenu{
				opacity:0;
				visibility:hidden;
				height:0;
				width:0;
			}
		}
	}
	.autusin-logo{
		max-width:95px; margin:5px 8px 0 8px;
	}
	.mobile-search{
		.top-form.top-search{
			width:130px; z-index:5; display: block; position: relative; top: 0; border-radius: 4px;
			.topsearch-entry{
				.cat-wrapper{
					display:none;
				}
				input{
					width:100%;
					height:27px;
					background-color:#fff;
					font-size:11px;
					color:#9c9c9c;
					border-radius:3px;
					border:0;
					margin:0;
					padding:0 10px;
				}
				button.button-search-pro{
					position:absolute;
					height:26px;
					width:26px;
					right:0;
					top:0;
					border:0;
					font-size:0;
					background: url('../assets/img/icon-m-search.png') no-repeat center center transparent;
					margin:0;
					.rtl &{
						left:0;
						right:auto;
					}
				}
			}
		}
	}
	.header-mobile-style3 .mobile-search .top-form.top-search, .header-mobile-style3.sticky-mobile .mobile-search .top-form.top-search{
		min-width: initial;	
		&.on{
			width: 100%;
		}
	}
	.header-cart{
		opacity:1;
		height:auto;
		visibility:visible;
		margin:0px 5px 0 20px;
		.rtl &{
			margin: 0px 20px 0 5px;
		}
		a{
			background: url('../assets/img/icon-m-cart2.png') no-repeat center center;
			display:inline-block;
			width:18px;
			height:23px;
			position:relative;
			.minicart-number{
				position:absolute;
				bottom:-5px;
				left:-10px;
				display:inline-block;
				width:17px;
				height:17px;
				background-color:@color;
				color:#fff;
				text-align:center;
				border-radius:50%;
				line-height:17px;
				font-size:11px;
				.rtl &{
					right:-10px;
					left:auto;
				}
			}
			.menu-text{
				display:none;
			}
		}
	}
	.vertical_megamenu .resmenu-container .menu-responsive-wrapper{
		top:50px !important;
	}
	&.sticky-mobile{
		.vertical_megamenu .resmenu-container .menu-responsive-wrapper{
			top:50px !important;
		}
	}
}

.sw-tab-cat-mobile{
	margin-bottom: 10px;
	.resp-tab{
		.top-tab-slider{
			border: none; margin-bottom: 0;
			.tab_list{
				position:relative;
				display:block;
				margin:10px 10px 7px 0;
				.rtl &{
					margin: 10px 0 7px 10px;
				}
				.nav.nav-tabs{
					display:inline-block; height: auto;
					overflow-x: scroll;
					overflow-y: hidden;
					white-space: nowrap;						
					margin:0; border:0; box-shadow: none;
					float: none; position: inherit;
					li{
						display:inline-block;
						vertical-align:top;
						white-space: normal;
						float: none;
						margin:0 7px;
						.rtl &{
							float:right;
						}
						> a{
							display:inline-block;
							height:28px;
							line-height:28px;
							padding:0 13px;
							border-radius:14px;
							text-transform:capitalize;
							font-size:12px;
							background-color:#f5f5f5;
							font-weight:400;
							border:0;
							&:before{
								width:0;
								height:0;
							}
						}
						&.active > a, &:hover > a{
							background-color:@color;
							color:#fff;
						}
					}
				}
			}
		}
	}
}
.featured-categories-mobile{
	.resp-slider-container{
		.items-wrapper{
			.item{
				width: 90px !important; padding: 0 5px !important;
				.item-image{
					border-radius: 50%; overflow: hidden; border: 1px @border-color solid;
				}
				.item-content{
					text-align: center;
					h3 a{
						font-size: 12px; text-transform: capitalize; color: @body-color; font-weight: 600;
					}
				}
			}
		}
	}
}
.featured-categories-mobile2{
	.resp-slider-container{
		.items-wrapper{
			.item{
				width: 90px !important; padding: 0 5px !important;
				.item-image{
					overflow: hidden;
				}
				.item-content{
					text-align: center;
					h3 a{
						font-size: 12px; text-transform: capitalize; color: @body-color; font-weight: 600;
					}
				}
			}
		}
	}
}
.featured-categories-mobile3{
	&.style-moblie .resp-slider-container >div.items-wrapper >.item{
		width: 240px;
		.item-inner{
			border: 1px @border-color solid; box-shadow: 0 0 4px 2px transparent; padding: 30px 10px; 
			.transition(all 0.3s);
			.item-image{
				width: 80px; float:left; overflow: hidden; padding-top: 30px;
				.rtl &{
					float: right;
				}
				a img{
					margin-bottom: 15px; .scale(1); .transition(all 0.3s);
				}
			}
			.item-content{
				overflow: hidden; padding: 0 10px;
				h3{
					font-size:12px; text-transform: uppercase; font-weight: 600;
				}
				.childcat-product-cat{
					ul{
						margin: 0; list-style: none;
						li{
							position: relative; padding-left: 10px;
							.rtl &{
								padding-left: 0; padding-right: 10px;
							}
							&:before{
								content: '\f111'; font-family: FontAwesome;
								font-size: 4px;	position: absolute;
								top: 50%; left: 1px; margin-top: -2px;
								.rtl &{
									left: auto; right: 1px;
								}
							}
							a{
								font-size: 12px; color: #666; text-transform: capitalize; .transition(all 0.3s);
								display: block; padding: 3px 0;
								&:hover{
									color: @color; padding-left: 10px; .transition(all 0.3s);
									.rtl &{
										padding-right: 10px; padding-left: 3px;
									}
								}
							}
							&.view-all{
								padding-left:0;
								.rtl &{
									padding-right: 0;
								}
								a{
									height: 30px; line-height: 30px; color: @color; 
									display: inline-block; vertical-align: top; font-size: 12px;
								}
								&:before{
									display: none;
								}
							}
						}
					}
				}
			}
			&:hover{
				border-color: transparent; box-shadow: 0 0 4px 2px #ebebeb; .transition(all 0.3s);
				.item-image{
					a img{
						.scale(1.1); .transition(all 0.3s);
					}
				}
			}
		}
	}
}
.fade-slide{
	margin-bottom: 15px; position: relative;
	button{
		font-size: 0; width: 30px; height: 30px; line-height: 27px; z-index: 1; background: transparent; border-width: 2px; text-align: center; border-radius: 50%; opacity: 0.8;
		position: absolute;	top: 50%; margin-top: -15px; opacity: 0; visibility: hidden;
		&.slick-next{
			right: 10px;			
			&:before{
				font-family: fontawesome;
				content: '\f105';
				color: #fff;
				font-size: 18px;
			}
			&:hover{
				cursor: pointer; opacity: 1;
			}
		}
		&.slick-prev{
			left: 10px;
			&:before{
				font-family: fontawesome;
				content: '\f104';
				color: #fff;
				font-size: 18px;
			}
			&:hover{
				cursor: pointer; opacity: 1;
			}
		}
	}
	.slick-dots{
		display: none !important;
	}
	&:hover button{
		opacity: 1; visibility: visible;
	}
}
.cusom-menu-mobile{
	.vc_wp_custommenu{
		float:left;
		width:50%;
		padding:0 5px;
		margin:0 0 10px;
		.widget_nav_menu{
			background-color:#f2f2f2;
			padding:8px 10px 6px;
			border-radius:3px;
			.widgettitle{
				font-size:12px;
				color:@body-color;
				text-transform:uppercase;
				font-weight: 700 !important;
				margin-bottom:0;
				.icon-footer{
					float:right; font-weight: normal;
					position:relative;
					.rtl &{
						float:left;
					}
					&:before{
						content: '\f0d7';
						font-family: Fontawesome;
						font-size: 14px;
						display: inline-block;
						opacity:1;
					}
				}
			}
			ul.menu{
				display:none; padding:10px 0;
				> li{
					> a{
						color:#7d7d7d;
						text-transform:capitalize;
						font-size:12px;
						position:relative;
						padding:7px 0px 7px 0px;
						position:relative;
						.transition(all 0.3s);
						display:inline-block;
						vertical-align:top;
						.menu-img{
							display:none;
						}
						&:hover{
							color:@color;
							padding-left:15px;
							.rtl &{
								padding-right:15px;
								padding-left:0;
							}
						}
					}
				}
			}
		}
	}
	&.style2{
		background: #f0f0f0; padding: 0 10px;
		.vc_column-inner {
			padding-top:10px;
		}
		.vc_wp_custommenu{
			width: 100%; float: none; border-bottom: 1px #ddd solid; margin-bottom: 0;
			.rtl &{
				float: none;
			}
			.widget_nav_menu{
				background: transparent; padding: 10px; position: relative;
				.widgettitle .icon-footer{
					position: absolute; left: 0;
					.rtl &{
						right: 0;
					}
					&:before{
						content:"\f105";
						.rtl &{
							content:"\f104";
						}
					}
				}
			}
		}
		.wpb_single_image{
			margin-top: 20px;
		}
		.wpb_raw_html{
			font-size: 12px; text-align: center;
		}
	}
}
.form-newsletter-mobile{
	padding-top: 20px; max-width: 320px; margin: 0 auto;
	.mc4wp-form-fields{
		overflow: hidden;
	}
	input[type="email"]{
		border:0; color:#999; width: 76%; height:40px; padding: 0 5px; border-radius: 0;
		float: left; font-size: 12px; border-bottom: 1px @body-color solid;
		.rtl &{
			float: right;
		}
	}
	button[type="submit"]{
		border:0; padding: 0 5px; width: 24%; background: transparent; text-align: right; .transition(all 0.3s);
		height:40px; line-height: 40px;	color:@body-color; text-transform:uppercase; border-bottom: 1px @body-color solid;
		border-radius: 0; float: left; font-size: 12px; font-family: "Roboto",Helvetica,Arial,sans-serif;
		.rtl &{
			float: right; text-align: left;
		}
		&:before{
			display: none;
		}
		&:hover{
			color:@color; .transition(all 0.3s);
		}
	}
	.mc4wp-success{
		color: @body-color;
	}
}
.socials-mobile{
	text-align: center;
	ul{
		margin: 0; list-style: none;
		li{
			padding: 0 5px; display: inline-block; vertical-align:top;
			a{
				width: 40px; height: 40px; line-height: 40px; text-align: center; border: 1px @border-color solid;
				display: inline-block; vertical-align:top;
			}
		}
	}
}
.banner-top {
	margin-bottom: 10px;
	.wpb_single_image{
		margin-bottom:2px !important;
	}
}
.banner-mobile{
	margin:0 -20px;
	.wpb_single_image{
		float: left;
		width:50%;
		padding:0 5px;
		margin-bottom:10px;
		.rtl &{
			float: right;
		}
	}
}
.banner-mobile1 > .vc_column_container >.vc_column-inner  > .wpb_wrapper{
	position:relative;
	.wpb_single_image{
		float: left;
		width:50%;
	}
}
.banner-mobile2 > .vc_column_container >.vc_column-inner  > .wpb_wrapper{
	position:relative;
	margin:0 -5px;
	.wpb_single_image{
		float: left;
		width:50%;
		padding:0 5px;
	}
}
.block-home-mobile1{
	margin:0 !important;
}
.block-mobile{
	padding:10px 0 0;overflow:hidden;margin:0 10px;
	.wrapp-content{
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		>.info{
			display: inline-block;
			vertical-align: top;
			white-space: normal;
			width: 131px;
			padding: 0 5px;
			.fa{
				font-size:28px;
				color:#7d7d7d;
				float:left;
				.rtl &{
					float:right;
				}
			}
			.info-content{
				padding-left:38px; line-height: 16px;
				.rtl &{
					padding-right:38px;
					padding-left:0;
				}
				span{
					font-size:10px; line-height: normal;
					color:@body-color;
					text-transform:uppercase;
					font-weight: 600;
				}
				p{
					text-transform: capitalize; line-height: normal !important; font-size:10px;
				}
			}
		}
	}
}
.contact-us-info{
	background-color:#303030;
	padding:15px 0 6px 0;	
	text-align:center;
	border:2px dashed #fff;
	border-width: 2px 0;
	h4{
		color:#fff;
		text-transform:uppercase;
		font-size: 14px;
	}
	ul{
		display:inline-block;
		margin:0;
		overflow:hidden;
		> li{
			display:inline-block;
			float:left;
			color:#fff;
			margin:0 11px; font-size: 12px;
			a{
				color:#fff; font-size: 12px;
			}
			i{
				margin-right:5px;
				.rtl &{
					margin-left:5px;
					margin-right:0;
				}
			}
			.rtl &{
				float:right;
			}
		}
	}
}
.border-mb{
	.wpb_raw_html{
		margin-bottom: 0 !important;
	}
}
/*
* Countdown Mobile
*/
.sw-category-mobile{
	margin-bottom: 20px;
	.resp-slider-container{
		margin: 0 -5px;
		.items-wrapper{
			.item{
				width: 50%; float: left; padding: 0 5px;
				.item-inner{
					position: relative;
					.item-image{
						display:inline-block;
					}
					.item-content{
						position: absolute; bottom: 15px; left: 0; padding: 4px 10px; background: #fff; box-shadow: 2px 0px 3px 0px #ccc;
						.rtl &{
							left: auto; right: 0;
						}
						h3{
							line-height:15px; text-align:center; overflow: hidden; margin: 0;
							a{
								font-size:12px; color:@body-color; text-transform:uppercase; display: block;
								&:hover{
									color:@color;
								}
							}
						}
					}
				}
			}
		}
	}
}
.mobile-layout-style2{
	margin:0 12px;
	.wrap-link{
		display:block;
		text-align:center;
		.item-countdown.countdown-style1{
			.countdown-show4{
				display:inline-block;
				border-radius:0;
				background-color:#fff;
				color:@color;
				margin-bottom:0;
				&:before{
					color:@color;
				}
				&:after{
					background-color:@color;
					opacity:0.24;
				}
			}
		}
	}
}
.countdown-style1{
	display:inline-block;
	.countdown-show4{
		background-color:@color;
		height:35px;
		border-radius:17px;
		padding:0 10px 0 45px;
		color:#fff;
		font-size:14px;
		font-weight:600;
		position:relative;
		display:inline-block;
		margin-bottom:20px;
		.rtl &{
			padding:0 45px 0 10px;
		}
		&:before{
			content:'\f017';
			font-family:Fontawesome;
			font-size:16px;
			color:#fff;
			position:absolute;
			left:15px;
			top:9px;
			.rtl &{
				right:15px;	left:auto;
			}
		}
		&:after{
			content:'';
			display:inline-block;
			width:1px;
			height:15px;
			background-color:rgba(255,255,255,0.24);
			position:absolute;
			left:38px;
			top:10px;
			.rtl &{
				right:38px;
				left:auto;
			}
		}
		.countdown-section{
			padding:8px 6px;
			display:inline-block;
			position:relative;
			&:before{
				content:':';
				font-weight:600;
				position:absolute;
				right:-2px;
				top:8px;
				.rtl &{
					left:-2px;
					right:auto;
				}
			}
			.countdown-amount{
				margin-right:5px;
			}
			&.secs{
				&:before{
					content:'';
					margin:0;
				}
			}
		}
	}
}
.mobile-layout-style3{
	.banner-category{
		a img{
			margin-bottom: 10px;
		}
	}
}
.sw-woo-tab-mobile{
	margin-bottom: 10px;
	.resp-tab{
		.top-tab-slider{
			border: none; margin-bottom: 0;
			.tab_list{
				position:relative;
				display:block;
				margin:10px 10px 7px 7px;
				.nav.nav-tabs{
					display:inline-block;
					overflow-x: scroll;
					overflow-y: hidden;
					white-space: nowrap;						
					margin:0; border:0; box-shadow: none;
					float: none; position: inherit;
					li{
						display:inline-block;
						vertical-align:top;
						white-space: normal;
						float: none;
						margin:0 7px;
						.rtl &{
							float:right;
						}
						> a{
							display:inline-block;
							height:28px;
							line-height:28px;
							padding:0 13px;
							border-radius:14px;
							text-transform:capitalize;
							font-size:12px;
							background-color:#f5f5f5;
							font-weight:400;
							border:0;
							&:before{
								width:0;
								height:0;
							}
						}
						&.active > a, &:hover > a{
							background-color:@color;
							color:#fff;
						}
					}
				}
			}
		}
	}
}
.style-moblie{
	position:relative;
	.block-title{
		margin:0; border-bottom: 1px @border-color solid; margin-bottom: 10px; position: relative;
		&:before{
			content: ''; width: 70px; height: 2px; background: @body-color; position: absolute; bottom: -1px; left: 0;
			.rtl &{
				left: auto; right: 0;
			}
		}
		h2{
			font-size:14px;
			text-transform:uppercase;
			font-weight:700;
			color:@body-color;
			padding:8px 0;
			margin:0; float: left;
			.rtl &{
				float: right;
			}
		}
		.view-all{
			padding: 8px 0;
			float: right;
			color:@body-color;
			font-size:11px;
			text-transform:capitalize;
			&:hover{
				color: @color;
			}
			.rtl &{
				float: left;
				&:before{
					content:'\f0d9';
					font-family:FontAwesome;
					margin-right:7px;
				}
				i{
					display:none;
				}
			}
			i{
				margin-right:7px;
			}
		}
	}
	.image-slider img{
		margin-bottom:10px;
	}
	.resp-slider-container{
		>div.items-wrapper{
			overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap;
			padding-bottom: 10px;
			>.item{
				display: inline-block;
				vertical-align: top;
				white-space: normal;
				width: 150px;
				padding: 0 2px;
				.item-wrapper{
					border: 1px @border-color solid;
					.item-image{
						position:relative;
						&:hover{
							opacity:0.8;
						}
					}
					.item-content{
						padding: 10px;
						text-align: center;
						h4{
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							margin: 0 0 10px;
							a{
								font-size:13px; font-weight: 600;
								color:@body-color;
								text-transform:capitalize;
								&:hover{
									color:@color;
								}
							}
						}
						.item-price{
							font-size:14px; display: inline-block; vertical-align: top; text-align: center;
							.rtl &{
								display: inline-block; vertical-align: top; text-align: center;
							}
							del{
								font-size:12px; margin-top: 4px; text-decoration: line-through; color: #999;
								display: inline-block; vertical-align: top;	font-weight:400;
								.rtl &{
									display: inline-block; vertical-align: top;
								}
							}
							ins{
								font-size:14px;	display: inline-block; vertical-align: top;
								.rtl &{
									display: inline-block; vertical-align: top;
								}
							}
						}
					}
				}	
			}
		}
	}
	&.featured-theme-mobile{
		.box-title{
			text-align: center;
			h3{
				font-size:14px;	text-transform:uppercase;
				font-weight:700;color:@body-color; position: relative;
				&:before{
					position: absolute; content:""; height: 2px; bottom: 8px; left: 0; right: 0; background: @border-color;
				}
			}
			span{
				display: inline-block; vertical-align: top; background: #fff; padding:8px 10px; z-index: 2; position: relative;
			}
		}
		.resp-slider-container >div.items-wrapper >.item .item-wrapper{
			border: none;
		}
	}
}
.countdown-slider-mobile{
	.box-title{
		text-align: center;
		h3{
			font-size:14px;	text-transform:uppercase;
			font-weight:700;color:@body-color; position: relative;
			&:before{
				position: absolute; content:""; height: 2px; bottom: 8px; left: 0; right: 0; background: @border-color;
			}
		}
		span{
			display: inline-block; vertical-align: top; background: #fff; padding:8px 10px; z-index: 2; position: relative;
		}
	}
	.resp-slider-container{
		.slider{
			.item .item-wrap {
				margin-bottom:0;
				.item-detail{
					border: none;
					.item-countdown{
						margin:  0 0 20px 0;
						.countdown-row{
							.countdown-section{
								display: inline-block; background: #333; padding: 3px 5px; margin: 0 3px;
								span{
									display: block;
								}
								.countdown-amount{
									font-size: 16px; color: #fff; font-weight: normal;
								}
								.countdown-period{
									font-size: 12px; color: #fff; text-transform: capitalize;
								}
							}
						}
					}
				}
			}
		}
	}
}
.responsive-post-mobile{
	background: #f0f0f0; padding: 15px 10px;
	.box-title{
		text-align: center;
		h3{
			font-size:14px;	text-transform:uppercase;
			font-weight:700;color:@body-color; position: relative;
			&:before{
				position: absolute; content:""; height: 2px; bottom: 8px; left: 0; right: 0; background: #ddd; z-index: 2;
			}
		}
		span{
			display: inline-block; vertical-align: top; background: #f0f0f0; padding:8px 10px; z-index: 3; position: relative;
		}
	}
	.resp-slider-container{
		.slider-responsive{
			.item{
				margin-bottom: 10px;
				.item-detail{
					.img_over{
						width: 100px; float: left;
						.rtl &{
							float: right;
						}
					}
					.entry-content{
						padding: 0 10px; text-align: left; overflow: hidden;
						.rtl &{
							text-align: right;
						}
						h4 {
							font-size: 14px; font-weight: 600;
							a{
								text-transform: uppercase;
							}
						}
						.description{
							font-size:12px; margin-bottom: 10px;
						}
						.readmore{
							font-size: 12px; font-style: italic; font-weight: 600; color: @body-color;
							i.fa:before{
								.rtl &{
									content:"\f177";
								}
							}
						}
					}
				}
			}
		}
	}
}
.bn-vdieo{
	margin-bottom: 25px !important;
}
/*
** Tab categories mobile
*/
.sw-tab-mobile{
	.top-tab-slider{
		.woocommmerce-shop {
			border: none;
			a{
				position:absolute;
				right:0;
				top:8px;
				color:@color;
				font-size:11px;
				text-transform:capitalize;
				.rtl &{
					left:0;
					right:auto;
				}
			}
		}
		.nav.nav-tabs{
			display:block; margin: 0;
			border-bottom:1px solid #f0f0ed;
			margin-bottom:10px;
			> li{
				margin:0 20px 0 0;
				.rtl &{
					float:right;
					margin:0 0 0 20px;
				}
				> a{
					font-size:13px;
					padding:5px 0 10px;
					color:@body-color;
					text-transform:uppercase;
					font-weight: 600;
					line-height:normal;
					background-color:#fff !important;
					border:0;
					border-radius:0;
					height:auto;
					position:relative;
					&:before{
						content:'';
						width:100%;
						height:2px;
						background-color:@color;
						position:absolute;
						bottom:-0;
						left:0;
						opacity:0;
					}
				}
				&.active, &:hover > a{
					> a {
						color:@color;
						&:before{
							opacity:1;
						}
					}
				}
			}
		}
	}
	.tab-content .tab-pane .items-wrapper{
		padding-bottom:20px;
		.item .item-wrap{
			border:1px solid @border-color;
			.item-image{
				span.onsale, a.sw-quickew{
					display:none;
				}
			}
			.item-content{
				padding:0 10px; text-align: center;
				.rtl &{
					text-align: center;
				}
				h4 a, .item-price{
					opacity:1;
				}
			}
		}
	}
}
/*
* Ajax categories
*/
.sw-ajax-categories{
	.resp-listing-container{
		margin:0 -5px;
		.item-product-cat{
			float:left;
			width:33.333%;
			padding:0 5px;
			margin-bottom:10px;
			.item-image{
				
			}
			.item-content{
				display:block;
				padding:9px 0;
				background-color:#f2f2f2;
				text-align:center;
				h3{
					font-size:13px;
					color:@body-color;
					text-transform:capitalize;
					font-weight: 500;
					margin-bottom:0;
					text-overflow: ellipsis;
					white-space:nowrap;
					overflow:hidden;
				}
			}
		}
	}
	.btn-loadmore{
		clear:both;
		display:block;
		width:100%;
		height:40px;
		line-height:40px;
		text-align:center;
		font-weight: 600;
		font-size:11px;
		text-transform:uppercase;
		color:@body-color;
		background-color:#f2f2f2;
		border-radius:20px;;
		margin-bottom:20px;
		&:hover{
			background-color: @color;
			color:#fff;
		}
		&:before{
			content: attr(data-title);
			display: inline-block;
		}
		&.btn-loading{
			background: url( ../assets/img/loadingp.gif ) no-repeat center center #f2f2f2;
			background-size: 30px 30px;
			&:before{
				content: '';
			}
		}
		&.btn-loaded{
			&:before{
				content: attr(data-title_loaded);
			}
		}
	}
}
/* 
* Brand Mobile
*/
.brand-mobile{
	border-bottom: 2px @body-color solid;
	.resp-slider-container >div.items-wrapper {
		padding: 10px 0;
		.item{
			width:110px; vertical-align: middle;
		}
	}
}

/*
*	Block Mobile
*/
.mobile-layout{
	&.rtl{
		.countdown-mobile, .best-selling-mobile, .related-products{
			.box-title h3{
				float:right;
			}
			.woocommmerce-shop{
				float:left;
			}
		}
		.vertical_megamenu .resmenu-container .menu-responsive-wrapper ul.autusin_resmenu > li > .show-dropdown::after{
			content:'\f104';
		}
		.vertical_megamenu .resmenu-container .menu-responsive-wrapper{
			left:0;
			right:auto;
			text-align:right;
		}
		.products-wrapper .products-nav{
			.catalog-ordering{
				float:none;
			}
			.filter-product{
				float:left;
			}
		}
		.products-wrapper .products-loop.list .item .item-wrap .item-detail .products-thumb{
			margin-left:10px;
			margin-right:0;
		}
		&.woocommerce-cart .shop_table.cart tr.cart_item td{
			float:right;
			&.product-remove{
				left:0;
				right:auto;
			}
		}
		.contact-mobile .block-contact-mobile .location-address li{
			background-position:right center;
			padding-right:30px;
			padding-left:0;
		}
		.contact-form-mobile .wpcf7 .wpcf7-form-control-wrap{
			input,textarea{
				text-align:right;
			}
			&.your-name input{
				background-position:right center;
			}
			&.your-email input{
				background-position:right center;
			}
			&.your-phone input{
				background-position:right center;
			}
		}
		.vertical_megamenu .resmenu-container .menu-responsive-wrapper ul.autusin_resmenu > li{
			text-align: right;;
		}
	}
	.countdown-mobile, .best-selling-mobile, .related-products{
		margin-bottom:20px;
		.box-title h3{
			color:@body-color;
			font-size:12px;
			text-align:left;
			text-transform:uppercase;
			float: left;
		}
		.woocommmerce-shop{
			float:right;
			a{
				color:@color;
				font-size:11px;
				font-weight: 600;
				text-transform:capitalize;
				line-height:28px;
				&:hover{
					opacity:0.8;
				}
			}
		}
		.resp-slider-container div.items-wrapper{
			padding-bottom:0;
		}
		.item{
			.item-wrap{
				border:1px solid lighten(@border-color, 8%);
				.item-detail{
					&:hover{
						.item-image{
							opacity:0.8;
						}
					}
					.item-image{
						span.onsale, a.sw-quickview{
							display:none;
						}
					}
					.item-content{
						text-align:center;
						padding:10px 0 14px;
						h4 a{
							font-size:12px;
							color:@body-color;
							font-weight: 500;
							text-transform:capitalize;
							opacity:1;
							&:hover{
								color:@color;
							}
						}
						.item-price{
							display:inline-block;
							vertical-align:top;
							opacity:1;
							del, ins{
								font-weight: 500;
							}
							del{
								font-size:12px;
								color:#7d7d7d;
							}
							ins{
								font-size:14px;
								color:@color;
							}
						}
					}
				}
			}
		}
	}
	.vertical_megamenu{
		.resmenu-container .menu-responsive-wrapper{
			top:0px;
			background-color: rgba(0,0,0,0.7);
			min-width:220px;
			padding: 0;
			.resmenu-container .navbar-toggle{
				display:none;
			}
			ul.autusin_resmenu{
				padding:15px 0 0;
				max-height:100%;
				overflow:auto;
				height:auto;
				> li{
					border:0;
					text-align: left;
					box-shadow:none;
					.rtl &{
						text-align: right;
					}
					&:hover > a{
						background-color:transparent;
						color:@color;
					}
					&.active > a{
						color:@color;
					}
					> a{
						color:#fff; font-size: 12px; text-transform:uppercase; padding: 0 15px;
						box-shadow:none; height: 36px; line-height: 36px; display: inline-block;
					}
					> .show-dropdown{
						height: 36px; line-height: 36px;
					}
					.show-dropdown{
						background-color:transparent;
						right:5px;
						&.show{
							&:after{
								content: "–";
							}
						}
						&:after{
							content:'+';
							font-family:'FontAwesome';
							font-size:20px;
						}
					}
					ul{
						border:0;
						padding:0;
						background-color:#ccc;
						> li{
							border:0; box-shadow:none;
							&:hover > a{
								background-color:transparent;
							}
							> a{
								font-size:12px;
								color:#000;
								text-transform:capitalize;
								box-shadow:none;
								&:hover{
									color:@color;
								}
							}
							&.active > a{
								color:@color;
							}
							ul{
								background-color:#e1e1e1;
							}
						}
					}
				}
			}
		}
		.vertical-megamenu{
			opacity:0;
			visibility:hidden;
			height:0;
			width:0;
		}
	}
	#autusin-totop{
		display:none !important;
	}
	.wpb_single_image{
		margin-bottom:10px;
	}
	.wpb_raw_html{
		margin-bottom:20px;
	}
	.vc_row-no-padding .vc_column-inner{
		padding-left:0;
		padding-right:0;
	}
	.vc_column-inner {
		padding-left:10px;
		padding-right:10px;
	}
	.autusin_breadcrumbs{
		display:none;
		.listing-title{
			margin-top:0;
			h1{
				margin-top:0;
				font-size:13px;
			}
		}
		.breadcrumbs .breadcrumb{
			padding:10px 0;
		}
		
	}
	.contact-mobile{
		.wpb_map_wraper{
			border:0;
		}
		.block-contact-mobile{
			h2{
				font-size:12px;
				color:@body-color;
				font-weight: 600;
				text-transform:uppercase;
				margin-top:20px;
			}
			p{
				font-size:12px;
			}
			.location-address{
				margin:0;
				list-style:none;
				li{
					font-size:12px;
					color:#8c8c8c;
					background: url('../assets/img/icon-location.png') no-repeat left center #fff;
					padding-left:30px;
					margin-bottom:10px;
					span{
						padding:5px 0;
						display:block;
						&.title{
							font-weight: 600;
							color:@body-color;
							text-transform:capitalize;
							font-size:14px;
						}
					}
				}
			}
		}
		
	}
	.contact-form-mobile .wpcf7{
		.wpcf7-form-control-wrap{
			display:block;
			input{
				width:100%;
				border:0;
				padding:20px 30px;
				font-size:13px;
				color:#7d7d7d;
				font-weight: 500;
				height:60px;
				border-top:1px solid @border-color;
			}
			&.your-name input{
				background: url('../assets/img/bg-user.png') no-repeat left center #fff;
			}
			&.your-email input{
				background: url('../assets/img/bg-email.png') no-repeat left center #fff;
			}
			&.your-phone input{
				background: url('../assets/img/bg-phone.png') no-repeat left center #fff;
				border-bottom:1px solid @border-color;
			}
			textarea{
				border:0;
				border-top:0;		
				padding:20px 0 0;
			}
			::-webkit-input-placeholder { 
				font-size:13px;
				color:#7d7d7d;
				font-weight: 500;
			}
		}
		input.wpcf7-submit{
			height:42px;
			width:100%;
			background-color:@color;
			text-align:center;
			text-transform:uppercase;
			font-size:13px;
			color:#fff;
			font-weight: 600;
			margin: 0;
			border: 0;
			line-height: 42px;
			padding: 0;
			border-radius: 20px;
			box-shadow:0 10px 15px rgba(194,54,0,0.1);
		}
	}
	&.woocommerce-cart{
		.cart-collaterals .cart_totals{
			width:100%;
			h2{
				font-size:18px;
				text-transform:uppercase;
				font-weight: 600;
				color:@body-color;
			}
			.wc-proceed-to-checkout .checkout-button{
				height:42px;
				width:100%;
				background-color:@color;
				text-align:center;
				text-transform:uppercase;
				font-size:13px;
				color:#fff;
				font-weight: 600;
				margin: 0;
				border: 0;
				line-height: 42px;
				padding: 0;
				border-radius: 20px;
				box-shadow:0 10px 15px rgba(194,54,0,0.1);
			}
		}
		.shop_table.cart{
			border:0;
			tr.cart_item{
				position:relative;
				overflow:hidden;
				margin-bottom:20px;
				padding-bottom:20px;
				border-bottom:1px solid @border-color;
				&:nth-child(2n) td{
					background-color:#fff;
				}
				td{
					float:left;
					padding:0 18px;
					&:before{
						content:'';
					}
					display:inline-block;
					&.product-name,&.product-price{
						margin-bottom:9px;
					}
					&.product-price{
						color:@color;
						font-size:16px;
						font-weight: 600;
					}
					&.product-name{
						a{	
							font-size:14px;
							color:@body-color;
							text-transform:capitalize;
							font-weight: 600;
						}
					}
					&.product-remove{
						position:absolute;
						right:0;
						top:5px;
						padding:0;
						a.remove{
							display:inline-block;
							width:16px;
							height:17px;
							text-indent:-9999px;
							background: url('../assets/img/delete-m.png') no-repeat center center #fff;
						}
					}
					&.product-thumbnail{
						padding:0;
						border:1px solid @border-color;
						img{
							width:90px;
						}
					}
					&.product-subtotal{
						display:none;
					}
					&.product-quantity{
						.quantity{
							border:1px solid @border-color;
							input{
								background-color:#fff;
							}
						}
					}
				}
			}
			td.actions{
				border-top:0;
				padding:10px;;
				#coupon_code{
					text-transform:uppercase;
					padding:0 10px;
				}
				input.button{
					padding:7px 10px;
					border-top:0;
					border-radius:16px;
				}
			}
		}
	}
	&.woocommerce-wishlist{
		&.rtl{
			.shop_table.wishlist_table tbody tr{
				td{
					float:right;
					&.product-remove{
						left:0;
						right:auto;
					}
					&.product-add-to-cart{
						left:-20px;
						right:auto;
					}
				}
			}
		}
		.wishlist-title{
			display:none;
		}
		.shop_table.wishlist_table{
			border:0;
			thead th{
				display:none;
			}
			tbody{
				display:block;
				tr{
					position:relative;
					overflow:hidden;
					margin-bottom:20px;
					padding-bottom:20px;
					border-bottom:1px solid @border-color;
					display:block;
					&:nth-child(2n) td{
						background-color:#fff;
					}
					&:hover{
						background-color:#fff;
					}
					td{
						float:left;
						padding:0 18px;
						&:before{
							content:'';
							display:none;
						}
						display:inline-block;
						&.product-name{
							display:block;
							width:65%;
						}
						&.product-name,&.product-price{
							margin-bottom:9px;
						}
						&.product-price{
							color:@color;
							font-size:16px;
							font-weight: 600;
						}
						&.product-name{
							a{	
								font-size:14px;
								color:@body-color;
								text-transform:capitalize;
								font-weight: 600;
							}
						}
						&.product-stock-status{
							display:none;
						}
						&.product-remove{
							position:absolute;
							right:0px;
							top:auto;
							margin-top:10px;
							padding:0;
							a.remove{
								display:inline-block;
								width:16px;
								height:17px;
								text-indent:-9999px;
								background: url('../assets/img/delete-m.png') no-repeat center center #fff;
							}
						}
						&.product-thumbnail{
							padding:0;
							border:1px solid @border-color;
							img{
								width:90px;
							}
						}
						&.product-add-to-cart{
							position: absolute;
							right: -20px;
							top: 40px;
							z-index: 3;
							.add_to_cart_button, .add_to_cart{
								text-indent:-9999px;
								display:inline-block;
								width:24px;
								height:24px;
								background: url('../assets/img/icon-cart-m.png') no-repeat center center #fff;
								margin:0;
								padding:0;
							}
						}
					}
				}
			}
		}
	}
}
/*
** Footer style mobile
*/
.page.mobile-layout {
	.footer-mstyle1 .footer-container .footer-menu .menu-item-hidden{
		bottom: 42px;
	}
}
.footer-mstyle1{
	margin-top: 45px;
	min-height: 1px;
	.footer-container{
		background-color:rgba(255,255,255,0.9);
		position:fixed;
		bottom:0;
		left:0;
		z-index:999;
		width:100%;
		border-top:1px solid @border-color;
		.footer-menu{
			position:relative;
			padding:0 10px;
			.menu-item-hidden{
				opacity:0;
				height:0;
				visibility:hidden;
				position: absolute;
				padding: 10px 15px;
				bottom: 42px;
				right: 0px;
				background-color: #fff;
				.rtl &{
					left:0;
					right:auto;
				}
				a{
					.fa{
						font-size:16px;
						color:#8d8d8d;
						margin-right:5px;
					}
					.menu-text{
						font-weight: 600;
						color: #8d8d8d;
						text-transform: uppercase;
						font-size: 10px;
					}
				}
				.footer-wishlist{
					margin-bottom:5px;
				}
				&.open{
					opacity:1;
					height:auto;
					visibility:visible;
					z-index:2;
				}
				ul.menu-footer{
					margin-bottom:5px;
					margin-left:0;
					&.autusin-menures{
						display:none;
					}
					.rtl &{
						margin-left:5px;
						margin-right:0;
					}
					> li{
						list-style:none;
						> a{
							font-weight: 600;
							color: #8d8d8d;
							text-transform: uppercase;
							font-size: 10px;
							display:inline-block;
							padding:4px 0;
						}
					}
				}
			}
			.menu-item{
				width:20%;
				float:left;
				text-align:center;
				margin-bottom:5px;
				padding:10px 0 0;
				.rtl &{
					float:right;
				}
				a{
					display:inline-block;
					&:hover{
						.menu-text{
							color:@color;
						}
					}
					.icon-menu{
						display:block;
						width:28px;
						height:22px;
						margin:0 auto;
					}
					.menu-text{
						text-align:center;
						font-weight: 600;
						color:#8d8d8d;
						text-transform:uppercase;
						font-size:10px;
					}
				}
				.footer-home .icon-menu{
					background: url('../assets/img/icon-home-m.png') no-repeat center center;
				}
				.footer-search{
					.top-form.top-search{
						float:none;
						width:100%;
						opacity:0;
						visibility:hidden;
						height:0;
						position:absolute;
						top:-41px;;
						left:0px;
						.transition(0.3s);
						.topsearch-entry{
							.cat-wrapper{
								display:none;
							}
							input{
								width:100%;
								height:40px;
								line-height:40px;
								background-color:#fff;
								font-size:13px;
								color:#9c9c9c;
								border-radius:0;
								border:0;
								padding:0 10px;
							}
							button{
								position:absolute;
								height:40px;
								width:40px;
								right:0;
								top:0;
								border:0;
								background-color:#fff;
								color:#9c9c9c;
								font-size:16px;
								.rtl &{
									left:0;
									right:auto;
								}
								&:hover{
									color:@color;
								}
							}
						}
						&.open{
							opacity:1;
							visibility:visible;
							height:auto;
							z-index:99;
						}
					}
					.icon-menu{
						background: url('../assets/img/icon-search1.png') no-repeat center center;
					}
				}
				.footer-cart{
					.autusin-minicart-mobile{
						position:relative;
						.minicart-number{
							position:absolute;
							top:-5px;
							right: -6px;
							display:inline-block;
							width:17px;
							height:17px;
							background-color:@color;
							color:#fff;
							text-align:center;
							border-radius:50%;
							line-height:17px;
							font-size:12px;
						}
					}
					.icon-menu{
						background: url('../assets/img/icon-m-cart.png') no-repeat center center;
					}
				}
				.footer-myaccount .icon-menu{
					background: url('../assets/img/icon-user-m.png') no-repeat center center;
				}
				.footer-more .icon-menu{
					background: url('../assets/img/icon-more-m.png') no-repeat center center;
				}
			}
		}
	}
}
/*
** Archive Product
*/
.mobile-layout{
	&.rtl{
		.back-history{
			float:right;
			background: url('../assets/img/icon-back-m1.jpg') no-repeat center center #fff;
		}
	}
	.back-history{
		display:inline-block;
		float:left;
		width:24px;
		height:16px;
		background: url('../assets/img/icon-back-m.jpg') no-repeat center center #fff;
		margin:10px 0;
	}
	.category-contents{
		margin-bottom:20px;
		.blog-content .post{
			margin-bottom:20px;
			.entry{
				.entry-thumb::before{
					left:-1px;
					top:-1px;
				}
				.entry-content .content-top .entry-title h4{
					margin-bottom:15px;
					a{
						font-size:14px;
					}
				}
			}
		}
	}
	.pagination{
		background-color:#fff;
		padding:0;
		border:0;
		ul{
			background-color:#fff;
			margin:0 -15px;
			li{
				background-color:#fff;
			}
		}
	}
	.vertical_megamenu_shop{
		.resmenu-container{
			.navbar-toggle{
				display:block;
				padding:0;
				margin:6px 0px;;
				cursor:pointer;
				width: 26px;
				height: 26px;
				.transition(all 0.3s ease);
				border-radius:3px;
				&:hover .icon-bar{
					width:18px !important;
					background-color:#7d7d7d;
				}
				.icon-bar{
					height: 2px;
					width: 18px;
					margin: 3px 0px 3px 4px;
					background: #7d7d7d;
					display: block;
					right: 0;
					.transition(all 0.3s ease);
					&:nth-child(1){
						width:14px;
					}
					&:nth-child(3){
						width:14px;
					}
				}
			}
			.menu-responsive-wrapper{
				top:39px;
				right:0;
				text-align:left;
			}
		}
		.vertical-megamenu{
			display:none;
		}
	}
	&.rtl{
		.header-mobile-style1 .vertical_megamenu .resmenu-container .menu-responsive-wrapper{
			right:0; left:auto;
		}
		.header-mobile-style2 .vertical_megamenu .resmenu-container .menu-responsive-wrapper{
			right:0; left:auto;
		}
		.header-mobile-style3 .vertical_megamenu .resmenu-container .menu-responsive-wrapper{
			right:0; left:auto;
		}
	}
}
.mobile-layout{
	&.rtl{
		.products-wrapper .woocommerce-pagination .page-numbers > li{
			float:right;
			.page-numbers{
				&.next::before, &.prev::before{
					content:'';
				}
			}
		}
	}
	&.woocommerce-page .widget_sp_image{
		margin-bottom:20px;
	}
	.header-page{
		position:relative;
		&.sticky-mobile{
			.header-shop{
				position: fixed;
				right: 0;
				top:0;
				z-index: 999;
				background-color: #fff;
				.container{
					max-width:480px;
				}
			}
		}
		.header-shop{
			text-align:center;
			position:relative;
			padding: 0 10px;
			.flex-display( flex );
			.align-items( center );
			.flex-wrap( wrap );
			width: 100%;
			box-shadow:0 5px 5px rgba(205,205,205,0.6);
			margin-bottom:8px;
			.page-title{
				font-size:14px;
				color:@body-color;
				text-align:center;
				padding:12px 0;
				line-height: 20px;
				.flex(3);
			}
			h4{
				font-size:14px;
				color:@body-color;
				font-weight: 600;
				text-transform:uppercase;
				display:inline-block;
				padding:11px 0;
				margin:0;
			}
		}
	}
	.products-wrapper{
		padding:0 0 35px;
		position:relative;
		&.show-modal{
			&:before{
				content:'';
				width:100%;
				height:100%;
				display:block;
				background:rgba(0,0,0,0.4);
				position:absolute;
				left:0;
				right:0;
				bottom:0;
				top:1px;
				z-index:2;
			}
		}
		.products-nav{
			margin-bottom:5px;
			background-color:#fff;
			position:relative;
			z-index:2;
			.catalog-ordering{
				position:static;
				float:none;
				.orderby-order-container .order-dropdown >li{
					position:static;
					&:hover ul{
						border-top:1px solid @border-color;
					}
					> ul >li{
						line-height:44px;
						border-bottom:1px solid @border-color;
						&:last-child{
							border-bottom:0;
						}
					}
				}
			}
			.view-mode-wrap .view-mode{
				margin:5px -4px 0;
				> a {
					height:20px;
					width:20px;
					background-color:#fff;
					&:before{
						height:20px;
						width:20px;
						line-height:20px;
						color:#3b3b3b;
					}
					&.active{
						&:before{
							color:@color;
							background-color:#fff;
						}
					}
					&:hover{
						&:before{
							background-color:#fff;
							color:@color;
						}
					}
				}
			}
			.filter-product{
				font-size:12px;
				color:#6b6b6b;
				text-transform:uppercase;
				float:right;
				line-height:30px;
			}
			.catalog-ordering .orderby-order-container{
				.order-dropdown >li .current-li{
					line-height:28px;
					border:0;
					a{
						font-size:12px;
						color:#6b6b6b;
						text-transform:uppercase;
						&:after{
							line-height:28px;
						}
					}
				}
				.order > li{
					padding:6px 0 0px;
					border:0;
					&.asc{
						padding:3px 0 0px;
						a{
							height:21px;
						}
					}
					a{
						height:18px;
					}
				}
				.orderby{
					min-width:145px;
					&.order-dropdown >li .current-li a:after{
						width:25px;
					}
				}
			}
		}
		.filter-mobile{
			opacity:0;
			.transition(all 0.3s);
			.translateY(-50px);
			visibility:hidden;
			position:absolute;
			z-index:9;
			top:30px;
			background-color:#fff;
			padding: 0;
			&.open{
				visibility:visible;
				opacity:1;
				.translateY(0px);
			}
			.widget{
				padding:5px 0 20px;
			}
			.widget_layered_nav{
				border-bottom:1px solid @border-color;
			}
		}
		.woocommerce-pagination{
			display:block;
			float:none;
			margin:0 0 10px;
			.note{
				display:none;
			}
			.page-numbers{
				> li{
					float: left;
					position: relative;			
					text-transform: capitalize;
					text-align: center;
					margin:0 5px 5px;
					background-color: #fff;
					.transition(all .3s);
					a, .page-numbers{
						background-color:#fff;
						display: block;
						width: 32px;
						line-height: 30px;
						height: 32px;
						border-radius:50%;
						border:1px solid @border-color;
						text-align:center;
						font-size:16px;
						color:@body-color;
						&.current{
							color:@color;
						}
					}
					.next,.prev{
						width: 90px;
						text-align: center;
						text-transform: uppercase;
						color: @body-color;
						border-radius: 20px;
						&:before{
							content:'';
						}
					}
				}
			}
		}
		.products-loop{
			margin:0;
			position: relative;
			z-index: 1;
			&.grid{
				margin:0 -5px;
				> li{
					padding:0 5px;
					margin-bottom:10px;
					float:left;
					width:50%;
					&:nth-child( 2n+1 ){
						clear: both;
					}
					&.item .item-wrap{
						.item-detail .item-content{
							padding-top: 15px;
							h4 {
								opacity:1;
								a{
									font-size:13px;
									font-weight: 600;
									color:@body-color;
								}
							}
							.reviews-content{
								opacity: 1;
							}
							.item-price{
								font-size:14px;
								font-weight: 500;
							}
							.item-bottom{
								opacity:0;
							}
						}
						&:hover{
							.item-detail .item-content h4 a,.item-detail .item-content .item-price{
								opacity:1;
							}
						}
					}
				}
			}
			&.list{
				li{
					margin-bottom:20px;
				}
				.item .item-wrap .item-detail{
					.products-thumb{
						width:130px;
						margin-right:10px;
					}
					.item-content{
						h4 {
							margin: 0 0 10px 0;
							a{
								font-weight: 600;
								font-size:14px;
								color:@body-color;
							}
						}
						.reviews-content{
							padding-top:5px;
							margin-bottom:5px;
						}
						.item-price{
							margin-bottom:5px;
							font-weight: 500;
							display:table-row;
						}
						.item-description{
							margin-bottom:5px;
							margin-top:5px;
						}
						.item-bottom{
							display:none;
						}
					}
				}
			}
		}
	}
	&.search-no-results{
		.breadcrumbs{
			display:none;
		}
		.listing-title h1{
			font-size:12px;
			color:@body-color;
			small{
				color:#7d7d7d;
				font-size:12px;
			}
		}
		.content_list_product{
			padding:0;
			.products-wrapper .no-result{
				h3{
					font-size:12px;
					color:@body-color;
					font-weight: 600;
					text-transform:uppercase;
				}
				text-align:center;
				h1 small{
					font-size:18px;
				}
				.image{
					display:inline-block;
					margin:10px 0 20px;
				}
				p{
					font-size:12px;
					color:#7d7d7d;
				}
				a{
					display:inline-block;
					height:42px;
					width:100%;
					background-color:@color;
					text-align:center;
					text-transform:uppercase;
					font-size:13px;
					color:#fff;
					font-weight: 600;
					margin: 10px 0 0;
					border: 0;
					line-height: 42px;
					padding: 0;
					border-radius: 20px;
					box-shadow:0 10px 15px rgba(194,54,0,0.1);
					&:hover{
						background-color:darken(@color, 5%);
					}
				}
			}
		}
	}
	&.search{
		.header-mobile-style1, .header-mobile-style2, .header-mobile-style3{
			margin-bottom:0;
		}
		.body-wrapper-inner > .container{
			padding-top:15px;
		}
	}
	&.woocommerce-account{
		.listing-title h1{
			text-align:center;
		}
		.image-login{
			text-align:center;
			margin:0 0 20px;
			img{
				display:inline-block;
			}
		}
		#customer_login{
			h2{
				font-weight: 600;
				color: @body-color;
				font-size:13px;
				margin: 0 0 30px;
				display: block;
				text-transform: uppercase;
				text-transform:uppercase;
			}
			form.login .form-row, form.register .form-row{
				&.form-row-wide{
					padding-left:30px;
					border-bottom:1px solid @border-color;
					padding-top:10px;
					padding-bottom:10px;
					input:-webkit-autofill
					{
						background-color:#fff !important;
					}
					label{
						font-size:14px;
						color:#7d7d7d;
						font-weight: 500;
						line-height:20px;
						margin:0;
					}
					.input-text{
						padding:0;
					}
					&:first-child{
						background: url('../assets/img/bg-user.png') no-repeat left center #fff;
					}
					&:nth-child(2){
						background: url('../assets/img/icon-lock.png') no-repeat left center #fff;
					}
				}
			}
			form.register .form-row{
				&.form-row-wide{
					&:first-child{
						background: url('../assets/img/bg-email.png') no-repeat left center #fff;
					}
					&:nth-child(2){
						background: url('../assets/img/icon-lock.png') no-repeat left center #fff;
					}
				}
			}
			input.button{
				height:42px;
				width:100%;
				background-color:@color;
				text-align:center;
				text-transform:uppercase;
				font-size:13px;
				color:#fff;
				font-weight: 600;
				margin: 0;
				border: 0;
				line-height: 42px;
				padding: 0;
				border-radius: 20px;
				box-shadow:0 10px 15px rgba(194,54,0,0.1);
			}
			.social-share{
				text-align:center;
				margin-bottom:20px;
				.title-share{
					display:none;
				}
				.wrap-content{
					display:inline-block;
					> a{
						width:35px;
						height:35px;
						border-radius:50%;
						line-height:35px;
						font-size:16px;
						color:#fff;
						display:inline-block;
						margin:0 5px;
						&:nth-child(1){
							background-color:#3a5897;
						}
						&:nth-child(2){
							background-color:#2fc2ee;
						}
						&:nth-child(3){
							background-color:#e14a3c;
						}
						&:nth-child(4){
							background-color:#df2227;
						}
						&:nth-child(5){
							background-color:#407199;
						}
					}
				}
			}
		}
		#contents{
			margin-bottom:10px;
			padding-top:20px;
		}
		#contents .entry-content{
			nav.woocommerce-MyAccount-navigation{
				float:none;
				margin-right:0;
				margin-bottom:20px;
				overflow:hidden;
				ul{
					border:0;	
					> li{
						display:inline-block;
						float:left;
						width:33.33%;
						padding-top:35px;
						text-align:center;
						margin-bottom:15px;
						&.woocommerce-MyAccount-navigation-link--dashboard{
							background: url('../assets/img/icon-dashboard.png') no-repeat top center #fff;
						}
						&.woocommerce-MyAccount-navigation-link--orders{
							background: url('../assets/img/icon-orders.png') no-repeat top center #fff;
						}
						&.woocommerce-MyAccount-navigation-link--downloads{
							background: url('../assets/img/icon-download.png') no-repeat top center #fff;
						}
						&.woocommerce-MyAccount-navigation-link--edit-address{
							background: url('../assets/img/icon-address.png') no-repeat top center #fff;
						}
						&.woocommerce-MyAccount-navigation-link--edit-account{
							background: url('../assets/img/icon-account.png') no-repeat top center #fff;
						}
						&.woocommerce-MyAccount-navigation-link--customer-logout{
							background: url('../assets/img/icon-logout.png') no-repeat top center #fff;
						}
						> a{
							border:0;
							padding:15px 0;
							min-width:auto;
							font-size:11px;
							color:@body-color;
							font-weight: 600;
							text-transform:uppercase;
						}

					}
				}
			}
		}
		.woocommerce-MyAccount-content{
			float:none;
			clear:both;
			margin-bottom:10px !important;
			text-align:center;
			.woocommerce-EditAccountForm.edit-account{
				text-align:left;
				p.form-row-first{
					text-align:left;
					width:100%;
					.woocommerce-Input--email{
						border-radius:0;
					}
				}
				p.form-row-last{
					width:100%;
				}
				legend{
					font-size:14px;
					color:@body-color;
					text-transform:uppercase;
					font-weight: 600;
					border:0;
				}
				.woocommerce-Button.button{
					height:42px;
					width:100%;
					background-color:@color;
					text-align:center;
					text-transform:uppercase;
					font-size:13px;
					color:#fff;
					font-weight: 600;
					margin: 0;
					border: 0;
					line-height: 42px;
					padding: 0;
					border-radius: 20px;
					box-shadow:0 10px 15px rgba(194,54,0,0.1);
				}
			}
			strong{
				text-transform:uppercase;
				font-size:13px;
				font-weight: 600;
				color:@body-color;
			}
			.avatar-user{
				display:inline-block;
				img{
					border-radius:50%;
				}
			}
			p:first-child{
				text-align:center;
				font-size:12px;
				color:#7d7d7d;
				a{
					color:@color;
					font-weight: 500;
				}
			}
			p:last-child{
				text-align:left;
			}
			a{
				font-size:12px;
				color:#7d7d7d;
			}
			table.my_account_orders{
				tr.order td{
					width:100% !important;
					border:0;
					border-top:1px solid #ddd;
					padding:10px 15px !important;
					&:first-child{
						border-top:0 !important;
					}
				}
			}
		}
		.breadcrumbs{
			display:none;
		}
		&.rtl{
			.woocommerce-MyAccount-content .woocommerce-EditAccountForm.edit-account legend{
				text-align:right;
			}
			&.woocommerce-account #customer_login{
				form.login .form-row, form.register .form-row{
					&.form-row-wide{
						padding-right:30px;
						padding-left:0;
						&:first-child{
							background: url('../assets/img/bg-user.png') no-repeat right center #fff;
						}
						&:nth-child(2){
							background: url('../assets/img/icon-lock.png') no-repeat right center #fff;
						}
					}
				}
				form.register .form-row{
					&.form-row-wide{
						&:first-child{
							background: url('../assets/img/bg-email.png') no-repeat right center #fff;
						}
						&:nth-child(2){
							background: url('../assets/img/icon-lock.png') no-repeat right center #fff;
						}
					}
				}
			}
		}
	}
	&.woocommerce-checkout{
		form .form-row-first,form .form-row-last{
			width:100%;
		} 
	}
	&.woocommerce-page form table.wishlist_table tr td.product-add-to-cart a.button{
		padding:10px;
		width:100px;
	}
}
.single-product.mobile-layout{
	&.rtl{
		.content-product-detail .product_detail .content_product_detail .social-share{
			&.open{
				.wrap-content{
					opacity:1;
					.translateX(0);
				}
			}
			.title-share{
				float:left;
			}
			.wrap-content{
				float:left;
				margin-right:0px;
				margin-left:-40px;
				.translateX(-60px);
			}
		}
		.content-product-detail .product_detail .content_product_detail .cart .quantity{
			margin:0 0 0 10px !important;
		}
		.content-product-detail .product_detail .content_product_detail .price ins{
			float:right;
			margin-left:10px;
			margin-right:0;
		}
		.content-product-detail .product_detail .content_product_detail .yith-wcwl-add-to-wishlist{
			left:35px;
			right:auto;
		}
	}
	.content-product-detail{
		padding:0 10px;
		.product-type-simple .cart{
			text-align:center;
			.addcart-wrapper{
				display:inline-block;
				overflow:hidden;
			}
		}
		.product-type-external .addcart-wrapper .cart{
			float:none;
		}
		.product_detail{
			.slider_img_productd{
				margin-bottom:20px;
				position:relative;
				z-index:2;
				.product-responsive .item-img-slider a{
					display:inline-block;
					max-width:450px;
				}
				.product-info{
					position:absolute;
					z-index:3;
					right:10px;
					bottom:110px;
					.product-stock{
						display:inline-block;
						width:54px;
						height:54px;
						text-indent:-9999px;
						&.in-stock{
							background: url('../assets/img/icon-instock.png') no-repeat center center;
						}
						&.out-stock{
							background: url('../assets/img/icon-outstock.png') no-repeat center center;
						}
					}
				}
			}
			.content_product_detail{
				position:relative;
				.price{
					del{
						float:none;
						.amount{
							font-size:#7d7d7d;
							font-size:14px;
							font-weight: 500;
						}
					}
					ins{
						float:left;
						margin-left:0;
					}
				}
				.add_to_cart_button,  .product_type_external, .product_type_grouped,  .single_add_to_cart_button{
					float:left;
					height:40px;
					padding:0;
					line-height:40px;
					width:172px;
					text-transform:uppercase;
					font-size:12px;
					font-weight: 600;
					border-radius:20px;
					clear:none;
					box-shadow:0 5px 5px  #eee;
				}
				.cart{
					margin-bottom:0 !important;
					.quantity{
						height:40px;
						margin:0 10px 0 0 !important;
						input{
							width:55px;
						}
						.input-text{
							height:38px !important;
						}
						.minus{
							background-position:0px -1685px;
						}
						.plus{
							background-position:-5px -1665px;
						}
					}
					.group_table{
						margin-bottom:15px;
						.price{
							font-size:16px;
							del{
								font-size:16px;
							}
							ins{
								font-size:18px;
							}
						}
						td{
							height:60px !important;
						}
						.quantity{
							width:145px;
						}
						input{
							width:45px;
						}
					}
				}
				.addcart-wrapper{
					text-align:center;

				}
				.product-info{
					padding:15px 0 10px;
					.sku_wrapper{
						margin-bottom:0;
					}
				}
				.description{
					margin-bottom:15px;
				}
				.yith-wcwl-add-to-wishlist{
					position:absolute;
					z-index:5;
					top:-8px;
					right:35px;
					.yith-wcwl-add-button a{
						border:1px solid lighten(@border-color, 8%);
						color:#7d7d7d;
					}
				}					
				.social-share{
					position: absolute;
					top: -234px;
					right: 0;
					z-index: 1;;
					&.open{
						z-index:3;
						.wrap-content{
							opacity:1;
							.translateX(0);
						}
					}
					.title-share{
						float:right;
						margin-top:225px;
						display:inline-block;
						font-size:0;
						width:35px;
						height:35px;
						line-height:33px;
						border:1px solid lighten(@border-color, 8%);
						text-align:center;
						color:#7d7d7d;
						padding:0;
						border-radius:50%;
						&:before{
							font-size:16px;
							display:inline-block;
							font-family:FontAwesome;
							content:'\f1e0';
						}
					}
					.wrap-content{
						float:right;
						position:relative;
						margin-right:-40px;
						opacity:0;
						.translateX(60px);
						.transition(all 0.5s);
						> a{
							display:block;
							margin:0 5px 10px;
						}
					}
				}
			}
		}
		.single-product >.tabs{
			border:0;
			margin-bottom:10px;
			.tabbable{
				.nav.nav-tabs{
					border-top:1px solid @border-color;
					overflow-x: scroll;
					overflow-y: hidden;
					white-space: nowrap;						
					margin:5px 0 0;
					li{
						display:inline-block;
						vertical-align:top;
						white-space: normal;
						float: none;
						padding:0 9px;
						&:first-child{
							padding-left:0;
						}
						&.active a, &:hover a{
							color:@color;
							border:0;
							&:before{
								opacity:1;
							}
						}
						a{
							background-color:#fff;
							font-size:14px;
							padding:0;
							border:0;
							height:40px;
							position:relative;
							line-height:42px;
							&:before{
								content:'';
								width:100%;
								height:2px;
								background-color:@color;
								position:absolute;
								left:0;
								bottom:-1px;
								opacity:0;
							}
						}
					}
				}
				.tab-content{
					.tab-pane{
						padding:10px 0;
						h2{
							font-size:12px;
							text-transform:uppercase;
							font-weight: 600;
							color:@body-color;
						}
					}						
					#tab-reviews{
						#comments{
							ol.commentlist{
								padding:10px 0 0;
								li{
									padding:0 0 10px;
									border-bottom:1px solid #f0f0ed;
									margin:0 0 10px;
									&:last-child{
										border:0;
									}
								}
							}
							.comment_container{
								.avatar{
									height:40px;
									width:40px;
									border:0;
									border-radius:50%;
									padding:0;
								}
								.comment-text{
									padding:0;
									border:0;
									.description{
										font-size:12px;
										color:#7d7d7d;
										p{
											margin:0;
										}
									}
									.meta{
										margin:0;
										strong{
											font-size:12px;
											color:@body-color;
											font-weight: 600;
											text-transform:uppercase;
										}
										time{
											font-size:12px;
											color:#7d7d7d;
											font-style:italic;
										}
									}
								}
							}
						}
						.form-submit{
							#submit{
								height:42px;
								width:100% !important;
								background-color:@color !important;
								text-align:center;
								text-transform:uppercase;
								font-size:13px;
								color:#fff;
								font-weight: 600;
								margin: 0;
								border: 0;
								line-height: 42px;
								padding: 0 !important;
								border-radius: 20px !important;
								box-shadow:0 10px 15px rgba(194,54,0,0.1);
							}
						}
					}
				}
			}
		}
	}
	&.woocommerce div.product p.price, &.woocommerce div.product span.price{
		font-size:18px;
		margin-bottom:15px;
	}
	&.woocommerce div.product form.cart .variations{
		margin-bottom:0;
	}
	&.woocommerce div.product form.cart	.addcart-wrapper{
		.single_variation_wrap{
			text-align:center;
			.woocommerce-variation.single_variation{
				text-align:left;
			}
			.woocommerce-variation-add-to-cart{
				display:inline-block;
			}
		}
	}
	&.woocommerce div.product form.cart div.quantity{
		border-radius:20px;
	}
}
.single-post.mobile-layout{
	&.rtl{
		.single.main .post .entry-wrap .entry-content .social-share{
			left:0;
			right:auto;
			.title-share{
				margin-left:0;
			}
		}
		.single-post-relate-mobile .post{
			.item-relate-img{
				float:right;
				margin-left:15px;
				margin-right:0;
			}
			.item-relate-content .entry-meta{
				.fa{
					margin-left:10px;
					margin-right:0;
				}
				.entry-author{
					float:right;
					margin-left:20px;
					margin-right:0;
				}
			}
		}
	}
	.single.main{
		.post .entry-wrap{
			.entry-thumb::before{
				border:0;
			}
			.entry-title{
				font-size:16px;
				margin-top:16px;
			}
			.entry-content{
				padding:0;
				.entry-meta{
					border-bottom:0;
					padding:0;
					font-size:12px;
					margin-bottom:10px;
				}
				.entry-summary{
					font-size:12px;
					line-height:20px;
				}
				.social-share{
					position: absolute;
					bottom: -65px;
					right: 0;
					padding:0;
					z-index: 1;;
					border:0;
					&.open{
						z-index:2;
						.wrap-content{
							opacity:1;
							.translateX(0);
						}
					}
					.title-share{
						float:right;
						margin-top:225px;
						display:inline-block;
						font-size:0;
						width:35px;
						height:35px;
						line-height:33px;
						border:1px solid lighten(@border-color, 8%);
						text-align:center;
						color:#7d7d7d;
						padding:0;
						margin-right:0;
						border-radius:50%;
						&:before{
							font-size:16px;
							display:inline-block;
							font-family:FontAwesome;
							content:'\f1e0';
						}
					}
					.wrap-content{
						float:right;
						position:relative;
						margin-right:-40px;
						opacity:0;
						.translateX(60px);
						.transition(all 0.5s);
						> a{
							display:block;
							margin:0 5px 10px;
						}
					}
				}
			}
		}
	}
	.post #authorDetails{
		margin-top:15px;
		padding:10px 0 0;;
		border-top:1px solid @border-color;
		border-bottom:1px solid @border-color;
		.avatar{
			width:40px;
			border-radius:50%;
			}.infomation{
				padding:8px 10px !important;
				.name-author{
					margin:0;
				}
			}
		}
		.single-post-relate-mobile{
			h4{
				padding:20px 0 10px;
				font-size:13px;
				color:@body-color;
				font-weight: 600;
				text-transform:uppercase;
			}
			.post{
				overflow:hidden;
				margin-bottom:20px;
				padding-bottom:20px;
				border-bottom:1px solid @border-color;
				.item-relate-img{
					display:inline-block;
					width:115px;
					float:left;
					margin-right:15px;
				}
				.item-relate-content{
					h4{
						padding:0;
						text-transform:capitalize;
					}
					.entry-meta{
						overflow:hidden;
						font-size:12px;
						color:#909090;
						.fa{
							margin-right:10px;
						}
						a{
							font-size:12px;
							color:#909090;
						}
						.entry-author{
							float:left;
							margin-right:20px;
						}
					}
				}
			}
		}
		#respond{
			margin-bottom:20px;
			.wp-comment{
				.title{
					margin-bottom:15px;
				}
				.form-horizontal .cmm-box-bottom button.btn{
					height:40px;
					width:100%;
					background-color:@color;
					text-align:center;
					text-transform:uppercase;
					font-size:13px;
					color:#fff;
					font-weight: 600;
					margin: 0;
					border: 0;
					line-height: 40px;
					padding: 0;
					border-radius: 20px;
					box-shadow:0 10px 15px rgba(194,54,0,0.1);
				}
				.form-horizontal .cmm-box-top .control-group{
					width:100%;
				}
			}
		}
		#comments .comment{
			.author{
				width:40px;
				border-radius:50%;
			}
			.media-body .media .media-heading .author-name a{
				font-size:12px;
			}
		}
	}
	.search-results.mobile-layout{
		.autusin_breadcrumbs{
			display:none;
		}
		.listing-title h1{
			font-size:13px;
			small{
				font-size:13px;
			}
		}
		.content-list-category{
			padding:0 !important;
			#left{
				order: 2;
			}
		}
	}
	.content-list-category >.row{
		display: flex; flex-direction: column;
		#contents{
			order: -1;
		}
	}
	.filter-mobile{
		h3{
			font-weight: 600;
			font-size:12px;
			color:@body-color;
			text-transform:uppercase;
		}
		.widget_price_filter{
			border:0;
			padding:0;
			margin-bottom:15px;
			.price_slider_wrapper{
				padding:0;
				.price_slider_amount{
					#min_price, #max_price{
						border-radius:20px;
						border:1px solid lighten(@border-color, 8%);
						text-align:center;
						height:40px;
						font-size:14px;
						color:#7d7d7d;
						font-weight: 500;
						margin-bottom:15px;
					}
					.price_label{
						font-size:14px;
						color:#7d7d7d;
						font-weight: 500;
						line-height:40px;
						.rtl &{
							float:left;
						}
					}
					button{
						height:40px;
						width:48%;
						background-color:@color;
						text-align:center;
						text-transform:uppercase;
						font-size:13px;
						color:#fff;
						font-weight: 600;
						margin: 0;
						border: 0;
						line-height: 40px;
						padding: 0;
						border-radius: 20px;
						box-shadow:0 10px 15px rgba(194,54,0,0.1);
						.rtl &{
							float:right;
						}
					}	
				}
			}
		}
		.widget_layered_nav{
			margin-bottom:10px;
			ul{
				overflow:hidden;
				> li{
					font-size:14px;
					color:#7d7d7d;
					font-weight: 500;
					line-height:28px;
					float:left;
					.rtl &{
						float:right;
						a{
							margin-left:10px;
							margin-right:0;
						}
					}
					a{
						color:#7d7d7d;
						display:inline-block;
						width:52px;
						height:40px;
						background-color:#f2f2f2;
						font-size:12px;
						font-weight: 600;
						color:@body-color;
						margin-right:10px;
						line-height:40px;
						text-align:center;
						&:hover{
							background-color:@color;
							color:#fff;
						}
					}
					.count{
						display:none;
					}
				}
			}
		}
	}
	.home.mobile-layout .body-wrapper .body-wrapper-inner > .container, .home-mobile.mobile-layout .body-wrapper .body-wrapper-inner > .container{
		padding-top:0;
	}
	.mobile-layout .body-wrapper .body-wrapper-inner > .container{
		position:relative;
		padding-top:10px;
		&.open{
			&:before{
				content:'';
				width:100%;
				height:100%;
				display:block;
				background:rgba(0,0,0,0.7);
				position:absolute;
				left:0;
				right:0;
				bottom:0;
				top:0;
				z-index:3;
				.transition( all 0.3s);
			}
		}
	}
	.woocommerce-checkout.mobile-layout {
		.checkout #payment #place_order{
			height:40px;
			width:100%;
			background-color:@color;
			text-align:center;
			text-transform:uppercase;
			font-size:13px;
			color:#fff;
			font-weight: 600;
			margin: 0;
			border: 0;
			line-height: 40px;
			padding: 0;
			border-radius: 20px;
			box-shadow:0 10px 15px rgba(194,54,0,0.1);
		}
		h3{
			font-size:13px;
			color:@body-color;
			font-weight: 600;
			text-transform:uppercase;
		}
	}
	.woocommerce-wishlist.mobile-layout form table.shop_table{
		border-radius:0;
		tr{
			border:0;
			td{
				border:0;
			}
		}
		thead th{
			border:0;
		}
		tfoot{
			border:0;
		}
	}
	.tax-product_cat.mobile-layout .body-wrapper > .container{
		padding-top:0;
	}
	@media (min-width: 481px) {
		.mobile-layout .body-wrapper{
			margin: 0 auto;
			max-width: 480px;
		}
		.woocommerce-order-received.mobile-layout{
			h2{
				font-size:13px;
				text-transform:uppercase;
				font-weight: 600;
				color:@body-color;
			}
			.order_details li{
				margin-right:1em;
			}
			table.shop_table{
				border-radius:0;
				tr{
					border-top:1px solid @border-color;
				}
			}
			table.shop_table th, table.shop_table td{
				border:0;
			}
		}
	}
	@media  (max-width: 480px) {
		.mobile-layout .sw-woo-tab-mobile .resp-tab{
			.top-tab-slider{
				.tab_list{
					position:relative;
					display:block;
					margin:10px 10px 10px 7px;
					left:auto;
					right:auto;
					width:auto;
					bottom:auto;
					top:auto;
					text-align:center;
					box-shadow:none;
					height:auto; overflow-y: scroll;
					z-index:1; overflow-x: auto;
					.nav.nav-tabs{
						display:inline-block;
						white-space: nowrap;			
						margin:0;
						border:0; background: transparent;
						li{
							display:inline-block;
							vertical-align:top;
							white-space: nowrap;
							float: none;
							margin:0 7px;
							width:auto;
							> a{
								display:inline-block;
								height:28px;
								line-height:28px;
								padding:0 13px;
								border-radius:14px;
								text-transform:capitalize;
								font-size:12px;
								background-color:#f5f5f5;
								font-weight:400;
								border:0;
								&:before{
									width:0;
									height:0;
								}
							}
							&.active > a, &:hover > a{
								background-color:@color;
								color:#fff;
							}
						}
					}
				}
			}
		}
		.mobile-layout.woocommerce-cart .shop_table.cart tr.cart_item td.product-name{
			display: inline-block;
			white-space: nowrap;
			width: 12em;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.mobile-layout.woocommerce-cart .shop_table.cart tr.cart_item td.product-quantity{
			width:140px;
		}
		.mobile-layout .sw-tab-cat-mobile .resp-tab{
			.top-tab-slider{
				.tab_list{
					position:relative;
					display:block;
					left:auto;
					right:auto;
					width:auto;
					bottom:auto;
					top:auto;
					text-align:center;
					box-shadow:none;
					height:auto; overflow-y: scroll;
					z-index:1; overflow-x: auto;
					.nav.nav-tabs{
						display:inline-block; top: 0; width: auto;
						white-space: nowrap;			
						margin:0; height: auto;
						border:0; background: transparent;
						li{
							display:inline-block;
							vertical-align:top;
							white-space: nowrap;
							float: none; line-height: inherit;
							margin:0 7px;
							width:auto;
							> a{
								display:inline-block;
								height:28px;
								line-height:28px;
								padding:0 13px;
								border-radius:14px;
								text-transform:capitalize;
								font-size:12px;
								background-color:#f5f5f5;
								font-weight:400;
								border:0;
								&:before{
									width:0;
									height:0;
								}
							}
							&.active > a, &:hover > a{
								background-color:@color;
								color:#fff;
							}
						}
					}
				}
			}
		}
	}
	@media (min-width: 414px) {
		.mobile-layout .products-wrapper .products-loop.grid >li{
			float:left;
			width:50%;
		}
		.header-mobile-style3 .mobile-search .top-form.top-search{
			width: 180px;
		}
	}
	@media (max-width: 414px) {
		.mobile-layout .vertical_megamenu .resmenu-container .menu-responsive-wrapper ul.autusin_resmenu{
			height:640px;
			overflow:auto;
		}
		.woocommerce-order-received.mobile-layout{
			h2{
				font-size:13px;
				text-transform:uppercase;
				font-weight: 600;
				color:@body-color;
			}
			.order_details li{
				float:none;
				padding-right:0;
				margin-right:0;
				margin-bottom:15px;
				border:0;
			}
			table.shop_table{
				border-radius:0;
				tr{
					border-top:1px solid @border-color;
				}
			}
			table.shop_table th, table.shop_table td{
				border:0;
			}
		}
		.single-product.mobile-layout{
			.content-product-detail .product_detail .content_product_detail .cart .quantity input{
				width:40px;
			}
			&.rtl{
				.content-product-detail .product_detail .content_product_detail .cart .quantity{
					input{
						width:30px;
					}
					.minus{
						background-position:-20px -1685px;
					}
					.plus{
						background-position:-11px -1665px;
					}
				}
			}
		}
		.single-product.mobile-layout .content-product-detail .product_detail .content_product_detail{
			.add_to_cart_button,  .product_type_external,  .product_type_grouped,  .single_add_to_cart_button{
				width:120px;
			}
		}
		.single-product.mobile-layout .content-product-detail .product_detail .slider_img_productd .product-info{
			bottom:160px;
		}
	}
	@media  (max-width: 375px) {
		.header-mobile-style3 .mobile-search .top-form.top-search, .header-mobile-style3.sticky-mobile .mobile-search .top-form.top-search{
			width: 150px;
		}
		.mobile-layout .vertical_megamenu .resmenu-container .menu-responsive-wrapper ul.autusin_resmenu{
			height:575px;
		}
		.resp-ajax-page-listing .page-listing-content ul.nav-tabs > li > a{
			padding:20px 7px;
		}
		.countdown-slider2 .item .item-wrap .item-detail {
			.products-thumb{
				width: 100%; margin-bottom: 30px;
			}
			.item-content{
				width: 100%; padding: 0;
			}
		}
	}
	@media  (max-width: 360px) {
		.header-mobile-style1 .mobile-search .top-form.top-search, .header-mobile-style2 .mobile-search .top-form.top-search{
			width:220px;
		}
		.header-mobile-style3 .mobile-search .top-form.top-search, .header-mobile-style3.sticky-mobile .mobile-search .top-form.top-search{
			width: 110px;
		}
		.mobile-layout .vertical_megamenu .resmenu-container .menu-responsive-wrapper ul.autusin_resmenu{
			height:640px;
			overflow:auto;
		}
		.mobile-layout .vertical_megamenu .resmenu-container .menu-responsive-wrapper{
			min-width:220px;
		}
		.mobile-layout .products-wrapper .products-loop.list .item .item-wrap .item-detail .products-thumb{
			width:100%;
			margin-bottom:10px;
		}
		.sw-tab-mobile .top-tab-slider .nav.nav-tabs{
			overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap;
			text-align:left;
			> li{
				float: none;
				display: inline-block;
				vertical-align: top;
				white-space: normal;
				margin:0 10px 0 0;
				> a{
					font-size:11px;
				}
			}
		}
		.mobile-layout .vertical_megamenu .resmenu-container .menu-responsive-wrapper ul.autusin_resmenu{
			height:auto;;
		}
		.sw-ajax-categories .resp-listing-container .item-product-cat{
			width:50%;
		}
		.sw-ajax-categories.style-moblie:hover{
			&:before{
				opacity:1;
			}
		}
		.block-mobile .info .inner{
			text-align:center;
			i{
				display:inline-block;
				font-size:24px;
				float:none;
				.rtl &{
					float:none;
				}
			}
			.info-content{
				padding:0;
				span{
					line-height: 14px;
				}
				.rtl &{
					padding:0;
				}
			}
		}
		.single-post.mobile-layout .single-post-relate-mobile .post .item-relate-content{
			h4{
				margin-bottom:5px;
			}
			.entry-meta .entry-author{
				float:none;
			}
		}
		.products-wrapper .products-loop{
			margin:0;
		}
		.single-product.mobile-layout > .tabs .tabbable .nav.nav-tabs li{
			width:auto;
			a{
				width:auto;
			}
		}
		.mobile-layout.single-product .single-product > .tabs .tabbable .nav.nav-tabs li{
			width:auto !important;
		}
		.single-product.mobile-layout .content-product-detail .single-product >.tabs .tabbable .tab-content #tab-description p{
			width:290px;
		}
		.mobile-layout{
			.pagination ul li a{
				&.next, &.prev{
					width:32px;
					text-indent:-9999px;
					position:relative;
					&:before{
						position:absolute;
						text-indent:0;
						display:inline-block;
						font-size:16px;
						color:#999;
						font-family:'FontAwesome';
						top:0;
						right:0;
						bottom:0;
						left:0;
						line-height:30px;
					}
				}
				&.next:before{
					content:'\f105';
				}
				&.prev:before{
					content:'\f104';
				}
			}
			&.rtl{
				.pagination ul li a{
					&.next:before{
						content:'\f104';
					}
					&.prev:before{
						content:'\f105';
					}
				}
			}
		}
		.search-results.mobile-layout{
			.content_list_product ul > li .item-wrap .item-detail{
				.item-content h4{
					white-space: nowrap;
					width: 110px;
					overflow: hidden;
					text-overflow: ellipsis;
					text-align: center;
					margin: 0 auto 5px;
				}
				.item-content .item-bottom{
					display:none;
				}
			}
		}
		.footer-mstyle1 .footer-container .footer-menu .menu-item a .menu-text{
			display:none;
		}
		.countdown-mobile, .best-selling-mobile{
			&:before{
				opacity:1;
			}
		}
		.footer-mstyle1 .footer-container .footer-menu .menu-item{
			margin-bottom:5px;
		}
	}
	@media  (max-width: 320px) {
		.header-mobile-style1 .mobile-search .top-form.top-search, .header-mobile-style2 .mobile-search .top-form.top-search{
			width:180px;
		}
		.mobile-layout .vertical_megamenu .resmenu-container .menu-responsive-wrapper ul.autusin_resmenu{
			height:485px;
		}
	}